[2014-12-04 15:09] #1731 closed, assigned to jairideout

[2014-12-04 15:09] #1733 closed, assigned to jairideout

[2014-12-04 15:11] #1597 closed, assigned to ElDeveloper

[2014-12-04 15:11] #1739 closed, assigned to ElDeveloper

[2014-12-04 15:37] #1721 closed, assigned to nobody

[2014-12-04 15:39] #1378 closed, assigned to nobody

[2014-12-04 17:17] #1201 closed, assigned to gregcaporaso

[2014-12-04 17:17] #1292 closed, assigned to gregcaporaso

[2014-12-04 17:17] #1339 closed, assigned to gregcaporaso

[2014-12-04 17:17] #1352 closed, assigned to gregcaporaso

[2014-12-04 17:17] #1360 closed, assigned to jairideout

[2014-12-04 17:17] #1516 closed, assigned to gregcaporaso

[2014-12-04 17:56] jairideout opened #1744 "executable HDF5 BIOM file "foo" installed to bin directory"
With a fresh QIIME installation in a virtualenv via `pip install -e .`, an executable HDF5 BIOM file is created in my bin directory:

[code]

I'm not sure where this file is coming from (e.g., from BIOM, QIIME, or running their respective unit tests). @gregcaporaso confirmed that this file exists in his QIIME installation too.

[2014-12-04 18:11] jairideout opened #1745 "issues with uclust and FastTree from pip install -e ."
With a fresh QIIME installation in a virtualenv via `pip install -e .`, the uclust and FastTree executables that are automatically downloaded and installed by setup.py produce the following errors:

[code]

Here's my QIIME config:

[code]

I think @gregcaporaso also ran into this issue. I'm using OSX 10.9.5.

Downloading uclust manually using the link in setup.py works, and running uclust and Fast

[2014-12-04 23:09] ekopylova opened #1748 "install sumaclust + sortmerna from distributions"
currently sortmerna is installed (qiime deploy) via github dev version, change to official release 2.0. SumaClust QIIME release version 1.0.00 (currently slightly older version used).

[2014-12-05 00:46] #1689 closed, assigned to nobody

[2014-12-05 17:27] gregcaporaso opened #1750 "add units to help text for --mem-per-cpu option to start_parallel_jobs_slurm.py"
Units should be megabytes.

[2014-12-05 20:29] #1750 closed, assigned to gregcaporaso

[2014-12-05 21:28] #637 closed, assigned to nobody

[2014-12-05 22:20] #1723 closed, assigned to jairideout

[2014-12-05 22:20] #1671 closed, assigned to jairideout

[2014-12-05 22:20] #1718 closed, assigned to jairideout

[2014-12-05 22:41] #1692 closed, assigned to nobody

[2014-12-05 22:49] #1298 closed, assigned to gregcaporaso

[2014-12-05 22:53] #1296 closed, assigned to nobody

[2014-12-05 23:29] #1164 closed, assigned to jairideout

[2014-12-06 01:53] jairideout opened #1753 "tests/test_stats.py requires h5py/HDF5"
When running tests/test_stats.py, I get the following error:

[code]

The test is using `Table.from_hdf5` to load the results. I think this should be updated to use `biom.load_table` so that HDF5 isn't required.

[2014-12-06 05:08] #1753 closed, assigned to ElDeveloper

[2014-12-07 20:15] ConstantinoSchillebeeckx opened #1756 "pick_open_reference_otus.py silently hangs"
I've been running pick_open_reference_otus.py (with uclust) in a parallel fashion and have found that, if the sampleIDs contained in the seqs.fna file I'm feeding the script are not unique, that uclust will silently error ("multiple seed picks").

When this occurs, the poller.py that's active for the particular job that contained the duplicate sampleIDs will never terminate because pick_otus.py wi

[2014-12-08 10:47] ElDeveloper opened #1759 "Create QIIME package for anaconda"
This would speed-up the installation process.

[2014-12-08 17:49] #1660 closed, assigned to nobody

[2014-12-08 18:04] #1568 closed, assigned to nobody

[2014-12-08 18:10] #1533 closed, assigned to wdwvt1

[2014-12-08 18:19] #1521 closed, assigned to nobody

[2014-12-08 18:21] #1491 closed, assigned to nobody

[2014-12-08 18:22] #1409 closed, assigned to nobody

[2014-12-08 18:25] #1404 closed, assigned to nobody

[2014-12-08 18:29] #1396 closed, assigned to nobody

[2014-12-08 18:31] #1368 closed, assigned to gregcaporaso

[2014-12-08 18:34] #1363 closed, assigned to nobody

[2014-12-08 18:46] #1153 closed, assigned to nobody

[2014-12-08 18:48] #1152 closed, assigned to nobody

[2014-12-08 18:55] #1072 closed, assigned to nobody

[2014-12-08 18:57] #1054 closed, assigned to nobody

[2014-12-08 18:58] #1046 closed, assigned to nobody

[2014-12-08 18:58] #1044 closed, assigned to gregcaporaso

[2014-12-08 23:44] #1735 closed, assigned to gregcaporaso

[2014-12-09 15:30] gregcaporaso opened #1765 "add value of biom.HAVE_H5PY to print_qiime_config.py"
This could be handy to have.

[2014-12-09 15:49] #1765 closed, assigned to nobody

[2014-12-09 16:09] #1467 closed, assigned to jairideout

[2014-12-09 16:09] #1656 closed, assigned to jairideout

[2014-12-09 16:20] #1615 closed, assigned to jairideout

[2014-12-09 17:09] #1394 closed, assigned to jairideout

[2014-12-09 18:27] gregcaporaso opened #1766 "update assign_taxonomy.py defaults with recommendations from tax assignment paper"
I'm working on the paper right now, and we're really going to want to get these updates in to QIIME. Ideally, we'll have the pre-print posted on PeerJ before too long, I'll figure out how to proceed with this by this Friday as I'll have a better estimate of when the paper will be posted by then.

[2014-12-09 20:44] #1498 closed, assigned to nobody

[2014-12-10 16:12] #1571 closed, assigned to jairideout

[2014-12-10 16:37] gregcaporaso opened #1768 "multiple instances of the blast taxonomy assigner will delete each other's databases"
We've known about this one for a while, and @ekopylova recently pointed it out again. I'm submitting a fix for this now.

[2014-12-10 18:44] gregcaporaso opened #1770 "use Greengenes 85% aligned reference OTUs instead of (outdated) Greengenes core set as default PyNAST template"
@wasade did some comparisons about a year ago, and I did some comparisons today ([see here](http://nbviewer.ipython.org/gist/gregcaporaso/24defc02cfbc9f9411c5), which I'll be updating shortly to contain more test sequences, but I don't expect differences) that show that the trees generated using either the Greengenes 85% aligned reference OTU sequences or the (outdated) Greengenes aligned core set

[2014-12-10 19:58] wasade opened #1771 "qiime forum user requesting an addition to the EC2 tutorial"
See [here](https://groups.google.com/forum/#!topic/qiime-forum/QgbsCUwqIAQ), it is in regards to the qiime config file.

[2014-12-10 20:49] #1737 closed, assigned to ekopylova

[2014-12-10 20:50] alk224 opened #1773 "Split libraries should be parallelized"
I hacked together a parallel version of split libraries fastq in a couple of hours.  It runs much much faster than the native qiime command.  Sometimes this can be one of rate-limiting steps in getting QC data to clients, so if it can be faster it would be useful to more people than just myself.

See my code here: https://github.com/alk224/FirstRepository

[2014-12-10 21:57] #1648 closed, assigned to ekopylova

[2014-12-10 22:56] #1665 closed, assigned to jairideout

[2014-12-10 23:14] #1297 closed, assigned to nobody

[2014-12-10 23:17] #1301 closed, assigned to nobody

[2014-12-11 00:12] #1768 closed, assigned to gregcaporaso

[2014-12-11 16:49] danknights opened #1776 "split_libraries_fastq.py check_map fails for valid mapping file"
The following mapping file passes validate_mapping_file.py, but when passed to split_libraries_fastq.py it causes a failure:
#
# SampleID   BarcodeSequence LinkerPrimerSequence    Treatment   Description

Sample1 AA  GTGCCAGCMGCCGCGGTAA yes Type1
Sample2 AC  GTGCCAGCMGCCGCGGTAA yes Type1
Sample3 AG  GTGCCAGCMGCCGCGGTAA no  Type1
Sample4 AT  GTGCCAGCMGCCGCGGTAA yes Type1
Sample5 CA  GTGCCAGCMGCCGCG

[2014-12-16 03:05] gregcaporaso opened #1780 "remove submit_to_mgrast script and library code"
this doesn't work, so should be removed for 1.9.0

[2014-12-16 22:40] jairideout opened #1781 "update notebook tutorials and rest of the documentation"
@gregcaporaso and I will work on this after #1777 is merged.

[2014-12-16 22:41] #1696 closed, assigned to jairideout

[2014-12-16 22:41] #1596 closed, assigned to gregcaporaso

[2014-12-16 22:58] #1770 closed, assigned to gregcaporaso

[2014-12-16 22:59] #1708 closed, assigned to gregcaporaso

[2014-12-16 23:08] #1607 closed, assigned to jairideout

[2014-12-17 03:17] #1357 closed, assigned to kestrelgorlick

[2014-12-17 03:19] #1780 closed, assigned to jairideout

[2014-12-17 17:00] #1389 closed, assigned to nobody

[2014-12-17 17:06] #1336 closed, assigned to walterst

[2014-12-17 17:43] wasade opened #1786 "Change option names in split_libraries.py (and potentially other scripts)?"
I came across this while adding support for `split_libraries.py` into qiita. The issue is that `split_libraries.py` is inconsistent in its use of `_` and `-` within options. For instance, `--record_qual_scores` and `--max-barcode-errors`. More broadly, this highlights an inconsistency that exists across qiime. The problem this introduces is how we [represent](https://github.com/biocore/qiita/blob/

[2014-12-17 18:05] #1627 closed, assigned to ElDeveloper

[2014-12-17 18:29] #1319 closed, assigned to nobody

[2014-12-17 18:40] #1340 closed, assigned to nobody

[2014-12-17 18:48] #1776 closed, assigned to adamrp

[2014-12-17 19:21] #1355 closed, assigned to ebolyen

[2014-12-17 21:23] #679 closed, assigned to ElDeveloper

[2014-12-17 21:24] #1382 closed, assigned to ebolyen

[2014-12-17 21:36] ElDeveloper opened #1790 "Sorting functionality in make_otu_heatmap.py doesn't work"
@jairideout and @adamrp reported this problem.

[2014-12-18 00:47] #1475 closed, assigned to jairideout

[2014-12-18 00:52] #1573 closed, assigned to ebolyen

[2014-12-18 01:47] #1495 closed, assigned to nobody

[2014-12-18 03:08] #1678 closed, assigned to gregcaporaso

[2014-12-18 04:49] #1041 closed, assigned to nobody

[2014-12-18 17:26] ElDeveloper opened #1795 "Update documentation in summarize_otu_by_cat.py"
From @lkursell:

Essentially, to clarify the documentation in `summarize_otu_by_cat.py`.

[2014-12-19 00:35] #1534 closed, assigned to ElDeveloper

[2014-12-19 00:45] #1724 closed, assigned to gregcaporaso

[2014-12-19 01:01] #1790 closed, assigned to ElDeveloper

[2014-12-19 01:43] #1388 closed, assigned to jairideout

[2014-12-19 17:00] gregcaporaso opened #1798 "replace summarize_otu_by_cat.py with collapse_samples.py"
Initially discussed in #1796:

[2014-12-19 17:11] gregcaporaso opened #1799 "taxa summary area plots don't work - is this related to the matplotlib version?"
This is reproducible by doing the following:

[code]

@jairideout and I (testing independently) then see the following:

![screenshot 2014-12-19 10 10 16](https://cloud.githubusercontent.com/assets/192372/5508163/4711571c-8767-11e4-986d-b67f9a14e671.png)

[2014-12-19 17:57] #1799 closed, assigned to ElDeveloper

[2014-12-19 18:01] jairideout opened #1802 "update qiime-deploy instructions"
Now that qiime-deploy doesn't install Python, R, or their respective requisite packages, the qiime-deploy readme needs to be updated to explain how to obtain a full QIIME install.

Assigning to myself, adding the issue here instead of on the qiime-deploy issue tracker so we don't forget to update during the 1.9.0 release.

[2014-12-19 18:03] #1744 closed, assigned to ElDeveloper

[2014-12-19 18:49] #1795 closed, assigned to nobody

[2014-12-19 22:12] #1786 closed, assigned to adamrp

[2014-12-20 00:56] #1798 closed, assigned to gregcaporaso

[2014-12-20 01:38] #1748 closed, assigned to ekopylova

[2014-12-22 18:14] gregcaporaso opened #1804 "improve mapping file error reporting for R parser"

[2014-12-23 00:15] #1117 closed, assigned to jairideout

[2014-12-23 18:59] #1417 closed, assigned to gregcaporaso

[2014-12-23 18:59] #1335 closed, assigned to jairideout

[2014-12-23 20:07] #1395 closed, assigned to wdwvt1

[2014-12-23 21:46] jairideout opened #1810 "normalize_table.py bug/doc fixes"
The following changes need to be made to normalize_table.py prior to the 1.9.0 release:

- [x] script description says to test for OTU correlation, but script output description says *not* to do this. The documentation should be updated to clarify which downstream analyses are appropriate and which are not.
- [x] the R package and R script uses DESeq2, but the QIIME script references DESeq in its

[2014-12-23 21:56] jairideout opened #1812 "clean up changelog for 1.9.0 release"
It's not organized very well.

[2014-12-23 23:03] jairideout opened #1813 "differential_abundance.py bug/doc fixes"
The following changes need to be made to differential_abundance.py prior to the 1.9.0 release:

- [x] when passing a category via `-c` that isn't in the mapping file, an uninformative error message is produced:

[code]

- [x] when passing an invalid category value via `-x` or `-y`, the script doesn't error out and produces a statistics file with results that look somewhat valid

- [x] it would hel

[2014-12-26 07:10] ElDeveloper opened #1817 "Installation documentation addition"
[Andrew](https://groups.google.com/d/msg/qiime-forum/-y1J7uQeS3w/tJYqP-krnYQJ) suggested the following addition to the installation instructions:

[2014-12-29 15:04] gregcaporaso opened #1818 "add note on addition of start_parallel_jobs_slurm.py to changelog, and highlight in release notes"

[2015-01-01 18:11] ekopylova opened #1819 "Add Swarm to QIIME 1.9.0 beta support description"
Currently only SortMeRNA and SumaClust are mentioned, Swarm has also been integrated.

https://github.com/biocore/qiime/releases/tag/1.9.0-rc1

[2015-01-04 20:17] frederic-mahe commented on #1818
Don't forget to mention swarm :-)

[2015-01-06 00:45] gregcaporaso opened #1823 "update tutorial s3 links"
There are several links in the QIIME tutorials to an s3 bucket that won't exist any more when the release goes live. These should all be updated to point to a new location. Currently I have them in Dropbox, but we should move to a more permanent location before the release. The URLs that need to be replaced are:

[code]

In all cases, substituting ``https://s3.amazonaws.com/s3-qiime_tutorial_files

[2015-01-06 02:35] antgonza commented on #1823
The files have been added here: ftp://ftp.microbio.me/qiime/, thanks
for the help @ElDeveloper.

[2015-01-06 02:52] gregcaporaso commented on #1823
Thanks! @jairideout and I will update the links when we pass through the
docs this week.

Sent from my phone, please excuse typos and brevity.
On Jan 5, 2015 7:35 PM, "Antonio Gonzalez" <notifications@github.com> wrote:

[2015-01-06 03:02] ekopylova opened #1824 "filter_alignment.py error with entropy filtering qiime 1.9.0-rc1"
@gregcaporaso, running filter_alignment.py with default parameters and --suppress_lane_mask_filter works well. Adding the entropy parameter -e causes the program to crash (example below). This error does not seem to appear in Qiime 1.8.0.

[code]

[2015-01-06 03:50] gregcaporaso commented on #1824
Thanks for testing the release candidate! I'll look into this tomorrow.

[2015-01-06 19:29] colinbrislawn commented on #1817
I second the request for an installation tutorial which does not require sudo privileges. My lab runs RHEL servers and I would be happy to test a 'normal' user install.

(Perhaps this should be listed as a different Issue).

[2015-01-06 22:10] gregcaporaso commented on #1824
@ekopylova, we have a fix in place for this now (#1825). We confirmed that this works with the example file that you sent us (but note that the result will be slightly different than the result that you got from QIIME 1.8.0, because we modified how highly entropic positions are identified in this pull request).

[2015-01-07 00:40] antgonza commented on #1817
Have you tried https://github.com/qiime/qiime-deploy#qiime-deploy ?
The sudo sections are regular packages that most, if not all, main
computers (should) have.

[2015-01-07 00:47] jairideout commented on #1817
qiime-deploy no longer installs the Python dependencies now that we're relying on standard Python package installers (e.g., `pip`). :+1: for updating the install instructions to describe a non-sudo install.

[2015-01-07 00:49] antgonza commented on #1817
Forgot about that! Thanks.

[2015-01-07 01:32] alk224 commented on #1810
I have 1.9.0rc1 installed and tried to run this script.  I'm not there yet as it wanted some more stuff installed within R:

install.packages("optparse")
source (http://bioconductor.org/biocLite.R"); biocLite("metagenomeSeq")

Will report back when all this installation completes (is taking a while).

[2015-01-07 15:26] jairideout commented on #1810
Thanks for these details @alk224! Note that several R packages are required by some of QIIME's scripts (normalize_table.py, differential_abundance.py, compare_categories.py, etc.). See [this section](https://github.com/biocore/qiime/blob/master/doc/install/install.rst#r-install-notes) of our install docs for the R commands you'll need to run to get all of these packages installed.

Regarding the m

[2015-01-07 17:06] jairideout opened #1826 "SeqPrep installation failure with qiime-deploy"
The Jenkins builds are failing because the latest development version of SeqPrep has a compile error (when installed by qiime-deploy):

[code]

I'm not able to reproduce this locally on OS X. Creating the issue here for now so we can track for the release.

[2015-01-07 17:17] jairideout opened #1827 "add SeqPrep and ea-utils to install docs"
These dependencies are required by join_paired_ends.py. See qiime-deploy-conf for the versions that we're testing against.

[2015-01-07 17:27] jairideout commented on #1812
Need to add note about split_libraries_lea_seq.py (new script).

[2015-01-07 18:21] #1824 closed

[2015-01-07 18:35] jairideout commented on #1824
@ekopylova this has been merged. I tested your data on QIIME 1.7.0 AMI and we get identical results to the output generated by the changes in this pull request (the only differences are sequence descriptions added to the output FASTA file, which aren't important).

[2015-01-07 19:00] jairideout commented on #1826
Was able to reproduce this on a test AMI. I [created an issue](https://github.com/jstjohn/SeqPrep/issues/22) on the SeqPrep issue tracker.

[2015-01-07 22:19] alk224 commented on #1810
I have R 3.1.2.  Ran through the R installation section you indicated (I thought this was part of the pip install).

1) install.packages(c('ape', 'biom', 'optparse', 'RColorBrewer', 'randomForest', 'vegan'))
2) source('http://bioconductor.org/biocLite.R')
3) biocLite(c('DESeq2', 'metagenomeSeq'))
4) q()

During step 3, I got the following errors:

Cannot find xml2-config
ERROR: configuration faile

[2015-01-07 22:43] alk224 commented on #1810
running install.packages("XML") gives the following:

Cannot find xml2-config
ERROR: configuration failed for package ‘XML’
* removing ‘/home/andy/R/x86_64-pc-linux-gnu-library/3.1/XML’

I corrected this by installing xml from ubuntu repository:
sudo apt-get install r-cran-xml

normalize_table.py now tries to run, but it errors with the same problem whether I pass CSS or DESeq:

normalize_table.py

[2015-01-07 22:50] alk224 commented on #1810
Possibly this stackoverflow posting is appropriate to debugging this error

http://stackoverflow.com/questions/22208064/error-in-colnames-tmp-attempt-to-set-colnames-on-an-object-with-les

[2015-01-07 23:00] colinbrislawn commented on #1759
So Yoshiki, Jorge, did you get the base QIIME working with conda?
I'm still looking for a quick clean way to install different versions of qiime, and this would be excellent!

[2015-01-07 23:11] Jorge-C commented on #1759
Not yet, there are still a few unsolved issues. There should be some update in the following days though!

[2015-01-07 23:22] jairideout commented on #1826
I updated qiime-deploy to install SeqPrep v1.1 instead of pulling from the latest development version. There aren't any functional changes between v1.1 and current master so I think we're probably safer relying on this version for stability. Jenkins is back to working again!

[2015-01-07 23:22] #1826 closed

[2015-01-08 00:41] alk224 commented on #1810
One other tidbit, the instructions for metagenomeSeq from the qiime forum here (https://groups.google.com/forum/#!searchin/qiime-forum/cumnorm/qiime-forum/g-qnFj5e96U/ZcSqoLUehgAJ -- see Carly, third response) work perfectly on R in windows, but I never got working in ubuntu.  Perhaps a linux-specific problem.  I'll try installing some of these things directly in R as from the qiime install page a

[2015-01-08 00:49] alk224 commented on #1810
I managed to generate the same error manually using Carly's instructions:

Loading required package: Biobase
Loading required package: BiocGenerics
Loading required package: parallel

Attaching package: ‘BiocGenerics’

The following objects are masked from ‘package:parallel’:

    clusterApply, clusterApplyLB, clusterCall, clusterEvalQ,
    clusterExport, clusterMap, parApply, parCapply, parLapply

[2015-01-08 00:54] colinbrislawn commented on #1759
Excelent!

I just got the basic install of the qiime 1.9.0-rc1 working using anaconda without root access.
Yoshiki is right, this is coolest thing ever!

Here are my notes to myself.
[code]

So basically, install conda, install every qiime dependency that comes with conda, then 'pip install' like normal.

Keep me posted!
:thumbsup: for continued conda integration.

[2015-01-08 00:58] colinbrislawn commented on #1759
@Jorge-C I did this under an old RHEL 5.7 system, which may be why it worked so well. I'm about to switch to a RHEL 6 box, so we'll see what happens then.

[2015-01-08 01:01] Jorge-C commented on #1759
Thanks for those notes! Let us know if they also work in the newer Red Hat.

Our end goal is that an installation option becomes 1) setting up anaconda and 2) running `conda install qiime` (which would install all dependencies from binaries, no need to compile anything).

[2015-01-08 01:03] alk224 commented on #1810
I emailed the phyloseq developers to see if they have any insight.  In the meantime, could it be a biom version issue?  If qiime is using an older version of biom, perhaps the new version is being loaded by R and causing some kind of incompatibility?  Just a thought.  Will let you know if the phyloseq people have any useful insights.

[2015-01-08 05:43] alk224 commented on #1810
My configuration was identical to the phyloseq person I corresponded with.  A reboot later and I was able to push my otu table through the metagenomeseq command.  Then I tried with the normalize_table.py command and it runs without error for both CSS and DESeq.  However, the table summaries suggest something strange is happening, at least when DESeq is passed (all values are negative).  Here are s

[2015-01-08 10:54] sowe9385 commented on #1810
Thanks for your work on this @alk224! I don't think your DESeq results are that unusual, given the extremely low library size and sparsity of your data set.  DESeq was developed more for RNA-Seq data, which usually is much less sparse.  Also keep in mind that DESeq uses a log2-like transformation, following division by a few numbers, and could be prone to sparsity artifacts.

Due to your low libra

[2015-01-08 15:34] gregcaporaso opened #1829 "update minimum required numpy version to 1.9.0"
This is now required by ``filter_alignment.py`` due to changes pushed in #1825.

[2015-01-08 15:52] mlangill opened #1830 "--minimum_failure_threshold not properly implemented"
Within the script pick_open_reference_otus.py the --minimum_failure_threshold is properly described in the documentation to decide whether or not to do steps 2 and 3 (or skip right to steps 4) by comparing this threshold (default being set to 100,000 which by the way is not included in the documentation) to the **number of sequences failing the reference picking step**. However, the threshold is i

[2015-01-08 16:27] gregcaporaso commented on #1830
Thanks @mlangill! Do you have an ETA on your pull request? We're going to tag another release candidate shortly, and ideally we'd get this change in there.

Also, was this discovered with QIIME 1.9.0-rc1?

cc @ekopylova

[2015-01-08 16:40] mlangill commented on #1830
Yes, this was on QIIME 1.9.0-rc1. PR should be sent in about 5 minutes.

[2015-01-08 16:41] ekopylova commented on #1830
This bug is in QIIME 1.9.0-rc1, indeed the computation uses the subsampled sequences file rather than the original failures file (see https://github.com/biocore/qiime/blob/master/qiime/workflow/pick_open_reference_otus.py#LN746-748), that's an overlook on my part. Thanks for spotting this!

[2015-01-08 16:43] mlangill commented on #1830
BTW, where is the help documentation created for each script? The default for --minimum_failure_threshold is not listed with '-h', but I can't find where to add it?

[2015-01-08 16:45] gregcaporaso commented on #1830
The help documentation is in ``Qiime/scripts/pick_open_reference_otus.py`` (the html docs are auto-generated from that).

[2015-01-08 16:48] ekopylova commented on #1830
Adding '[default: %default]' at the end of help in make_option('--minimum_failure_threshold') will show the default with '-h'.

[2015-01-08 17:10] jairideout commented on #1810
Closing this issue as the fixes were addressed in #1821.

[2015-01-08 17:10] #1810 closed

[2015-01-08 18:02] jairideout commented on #1813
Fixed in #1820

[2015-01-08 18:02] #1813 closed

[2015-01-08 18:08] gregcaporaso commented on #1366
Prep the IPython Notebook server, so it will be running and ready to use if the user opens http.

[2015-01-08 20:18] gregcaporaso commented on #1802
qiime-deploy should no longer add defaults for:
 ``assign_taxonomy_id_to_taxonomy_fp``
 ``assign_taxonomy_reference_seqs_fp``
 ``pynast_template_alignment_fp``
 ``pick_otus_reference_seqs_fp``

[2015-01-08 20:25] jairideout commented on #1781
Be sure to update the EC2 tutorial, some of the instructions are out of date.

[2015-01-08 21:10] gregcaporaso commented on #1367
This is addressed as part of the [new AMI build instructions](https://github.com/biocore/qiime/wiki/Building-the-QIIME-AMI).

[2015-01-08 21:10] #1367 closed

[2015-01-08 21:10] gregcaporaso commented on #1704
This is addressed as part of the [new AMI build instructions](https://github.com/biocore/qiime/wiki/Building-the-QIIME-AMI).

[2015-01-08 21:10] #1704 closed

[2015-01-08 21:12] gregcaporaso commented on #1366
All of these are addressed as part of the [new AMI build instructions](https://github.com/biocore/qiime/wiki/Building-the-QIIME-AMI).

[2015-01-08 21:12] #1366 closed

[2015-01-08 21:13] gregcaporaso opened #1832 "build QIIME 1.9.0 virtual box"
based on our experiences with building the new AMI, it probably makes sense to start fresh with a new Ubuntu 12.04 virtual box. our [new instructions for building the AMI](https://github.com/biocore/qiime/wiki/Building-the-QIIME-AMI). will be helpful there.

[2015-01-08 21:17] ElDeveloper commented on #1704
YEAH WIKI!!!! We should move anything that can be shared and that
currently exists as a google-doc into the wiki.

On (Jan-08-15|13:10), Greg Caporaso wrote:

[2015-01-08 21:24] gregcaporaso commented on #1704
We were thinking that, to get away from all of the random google docs that are easy to lose track of. We should do this as we use/update docs though, rather than make a concerted effort to port documents that in some cases we might not need anymore.

[2015-01-08 21:25] gregcaporaso commented on #1781
The EC2 tutorial should include instructions for starting the IPython Notebook server.

[2015-01-08 21:26] gregcaporaso commented on #1771
This is taken care of in the [new AMI build instructions](https://github.com/biocore/qiime/wiki/Building-the-QIIME-AMI).

[2015-01-08 21:26] #1771 closed

[2015-01-08 21:39] ElDeveloper commented on #1704
Yes, I agree.

Yoshiki Vázquez-Baeza

[2015-01-08 21:47] #1830 closed

[2015-01-08 22:06] jairideout opened #1833 "remove king.jar"
Remove qiime/support_files/jar/king.jar

[2015-01-08 22:46] gregcaporaso opened #1834 "update the help wiki (help.qiime.org)"

[2015-01-08 23:54] ElDeveloper commented on #1833
I'll take care of this one.

Yoshiki Vázquez-Baeza

[2015-01-09 00:34] mlangill opened #1835 "Error in step 3 of open reference picking"
I am getting an error during the command filter_fasta.py during step 3 of pick_open_reference_otus.py:

Command run was:
 filter_fasta.py -f sortmerna_otus/sortmerna_picked_otus/combined_seqs_failures.fna -s /home/mlangill/Dropbox/work/projects/andy/ucrss_sortmerna_sumaclust//step3_otus//failures_failures.txt -o /home/mlangill/Dropbox/work/projects/andy/ucrss_sortmerna_sumaclust//step3_otus//failu

[2015-01-09 03:32] gregcaporaso opened #1836 "fix AMI test failures"
Most are due to usearch, sfffile, sffinfo, and torque (meaning they're ok, since these binaries aren't included in our AMIs). The ones that are not related to these are:

[code]

@wasade, @ElDeveloper, @josenavas, have you seen the h5py-related rarefaction error before?

[2015-01-09 05:30] ElDeveloper commented on #1836
@gregcaporaso, I don't recall seeing it before. Can you post the output
of print_qiime_config.py -ft ...

On (Jan-08-15|19:32), Greg Caporaso wrote:

[2015-01-09 13:38] gregcaporaso commented on #1836
Here you go:

[code]

[2015-01-09 15:20] gregcaporaso opened #1838 "are there basic linux utilities we should install in the 1.9.0 AMI?"
I'm thinking things that are easy to install, which we may have not had in there in the past. For example, we definitely want ``htop``.

[2015-01-09 15:28] #1833 closed

[2015-01-09 15:35] jairideout commented on #1838
~~We definitely need `sl`.~~

[2015-01-09 16:07] jairideout commented on #1836
The first failure (`test_otu_significance.py`) looks like a regression -- this was previously reported in #1347 and fixed in #1364. The fix was then removed [here](https://github.com/biocore/qiime/commit/e2e7a52bb0285a51f2ba15f03bfd345b8192846d#diff-4fd85a3eccce7d847302b5ec21b8e72fL870). I'll issue a pull request shortly with a fix for this one.

[2015-01-09 16:38] mlangill commented on #1835
I may have a fix for this but I won't be done testing until after the weekend. If successful I will issue a PR.

[2015-01-09 16:40] #1829 closed

[2015-01-09 16:46] jairideout commented on #1836
The second failure (`test_identify_chimeric_seqs.py`) is due to the new default `pynast_template_alignment_fp` -- we're now using 85% OTUs instead of the core set. Jenkins has been testing with the core set instead of the new default, which is why we haven't seen this failure before. I'll work on updating qiime-deploy (part of #1802) to create the correct QIIME config that uses the new defaults.

[2015-01-09 16:51] gregcaporaso commented on #1835
Thanks @mlangill, we'll keep an eye out for your PR.

Can you describe the scenario that led to your using that recovery option (i.e., restarting after step 1)? That was something that I put in place very early in the development of this workflow, but which I haven't used in years. I've been considering dropping support for that as I've been thinking that it's not useful enough to justify continui

[2015-01-09 17:05] mlangill commented on #1835
I haven't investigated enough, but I am guessing the renaming problem is arising from me starting at step 2, otherwise I presume you would have caught this error by now.

I do like this option, since I did step 1 as part of the closed_reference_otu_picking.py step first, then I wanted to add on the de novo otus. One thing that would be nice with this option though is if it took in the failures.txt

[2015-01-09 17:13] lkursell opened #1840 "Comma's in collapse_samples.py documentation"
Just to help distinguish between:
  --collapse_mode=COLLAPSE_MODE
                        the mechanism for collapsing counts within groups; valid options are:
                        mean sum random median first

[2015-01-09 17:15] gregcaporaso commented on #1835
Thanks for the details @mlangill. The use case that you're describing isn't something that we recommend doing. The preferred approach for achieving this is [outlined here](http://qiime.org/tutorials/open_reference_illumina_processing.html#filtering-an-open-reference-otu-table-to-reference-otus-only) - briefly, you build the open reference table, and then filter that to closed-reference otus only.

[2015-01-09 17:15] ElDeveloper commented on #1838
Not sure if these are already available, but we definitely want screen
and vim.

On (Jan-09-15| 7:35), Jai Ram Rideout wrote:

[2015-01-09 17:22] gregcaporaso commented on #1835
Note: I made some edits to the above comment after discussion with @jairideout. If you're viewing my previous comment via e-mail, be sure to look at it on GitHub for the updates.

[2015-01-09 17:27] mlangill commented on #1835
Yes, this approach would not be a normal use case. It was more that I had done closed reference otu picking already and then later decided to add on de novo otus. Since step 1 was exactly the same as what was already performed in closed reference picking I decided to use this shortcut.

That all being said I understand that it may at this point not be worth keeping support for these options since

[2015-01-09 17:34] gregcaporaso opened #1841 "improve option documentation in pick_open_reference_otus.py"
As discussed in #1835, we should better document these two options:

[code]

to indicate that they are intended to be use *only* with files that have been generated by this workflow.

[2015-01-09 17:34] gregcaporaso commented on #1835
closing in favor of #1841.

[2015-01-09 17:34] #1835 closed

[2015-01-09 17:48] jairideout commented on #1802
Fixed in https://github.com/qiime/qiime-deploy/pull/76 and https://github.com/qiime/qiime-deploy-conf/pull/138.

[2015-01-09 17:48] #1802 closed

[2015-01-09 17:50] jairideout opened #1842 "update qiime-deploy readme for 1.9.0 release"
The qiime-deploy readme needs to be updated for the 1.9.0 release -- the instructions still reference 1.8.0 in several places. Assigning to myself and adding the issue here instead of on the qiime-deploy tracker so that I remember this for the release.

[2015-01-09 18:18] ElDeveloper commented on #1836
Thanks for sending that @gregcaporaso. It seems like it could possibly
be the HDF5 libraries version, my installation is using 1.8.12, the
Jenkins-AMI is using 1.8.13 (and these failures are not present in
either of those installations) and the new AMI is using 1.8.4.

On (Jan-09-15| 5:38), Greg Caporaso wrote:

[2015-01-09 18:26] jairideout commented on #1838
:+1:, these are already available in the AMI.

[2015-01-09 18:30] jairideout commented on #1840
:+1:

[2015-01-09 20:24] gregcaporaso commented on #1834
done

[2015-01-09 20:24] #1834 closed

[2015-01-09 21:30] jairideout commented on #1836
Thanks @ElDeveloper, this turned out to be the case. h5py supports HDF5 1.8.4 and later, but it seems that HDF5 1.8.4 isn't able to write datasets with a dimension of zero (i.e., `shape=(0,)`). The failing rarefaction tests are creating rarefied BIOM tables that are empty (i.e., rarefying at a depth of zero); these tables are 4x3 but are 100% sparse (NNZ=0). This causes an error to be raised with

[2015-01-09 21:40] gregcaporaso commented on #1836
These issues have all been fixed and tested on the AMI. We're re-running the tests and will open a new issue if there are other test failures.

[2015-01-09 21:40] #1836 closed

[2015-01-09 21:44] ElDeveloper commented on #1836
Great, thanks for the information! This seems like a reasonable
strategy.

On (Jan-09-15|13:30), Jai Ram Rideout wrote:

[2015-01-09 22:07] gregcaporaso commented on #1819
this is done.

[2015-01-09 22:07] #1819 closed

[2015-01-09 23:09] gregcaporaso commented on #1818
We added a note in the release notes, and this will be in the updated changelog once #1845 is merged.

[2015-01-09 23:09] #1818 closed

[2015-01-10 03:31] #1823 closed

[2015-01-10 03:31] #1827 closed

[2015-01-10 03:31] #1840 closed

[2015-01-10 03:31] #1841 closed

[2015-01-10 09:05] wasade opened #1847 "URGENT: tutorial does not work"
The tutorial data (this [URL](https://github.com/biocore/qiime/blob/master/examples/ipynb/illumina_overview_tutorial.ipynb#L49)) does not exist. It does not appear that this tutorial file is on the FTP. I'm marking this as urgent as this tutorial is going to be used at the Workshop on Genomics.

[2015-01-10 14:41] antgonza opened #1848 "expose the -M option from cd-hit in pick_otus.py"
This parameters controls how much memory should be available for cd-hit-est and if is too low it will fail silently. For more info, check: https://groups.google.com/forum/#!topic/qiime-forum/IPRucNv85IE

[2015-01-10 17:34] ElDeveloper commented on #1847
Just noticed that this URL was missing from the transition in #1823 yet it was still replaced to point to microbio.me i. e. the data was not re-downloaded but it was still updated.

[2015-01-11 08:52] wasade commented on #1847
This issue has been resolved, the data has been posted on the FTP. Thank you @ElDeveloper @gregcaporaso @jairideout and @antgonza for helping resolve this matter so quickly.

[2015-01-11 09:09] wasade commented on #1847
@gregcaporaso @jairideout, I'm reopening this issue as the QIIME 1.8 tutorial tarball does not reflect the QIIME 1.9 tutorial. Specifically, we're running into the following issue:

[code]

The mapping file appears to be in a google spreadsheet, but it needs to be contained in the tarball. We're going to recreate the file and move forward and see if there are any other issues.

[2015-01-11 09:13] wasade commented on #1847
Encountering this as well:

[code]

[2015-01-11 09:23] wasade commented on #1847
`forward_reads.fastq.gz` and `barcodes.fastq.gz` do not exist either. Those can be recreated (AFAIK) from catting the existing raw data together

[2015-01-11 09:25] wasade commented on #1847
Getting a lot of these warnings:

[code]

The environment I'm using has numpy 1.9.1

[2015-01-11 09:26] wasade commented on #1847
`pick_open_reference_otus.py` requires HDF5:

[code]

I'm opening a separate issue for that

[2015-01-11 09:30] wasade opened #1849 "pick_open_reference_otus.py requires HDF5"
This was produced from the illumina tutorial. The install of qiime was performed following the QIIME 1.9-rc1 release [notes](https://github.com/biocore/qiime/releases/tag/untagged-8c652ef2fe2a0622066f) (e.g., `pip install https://github.com/biocore/qiime/archive/1.9.0-rc1.tar.gz`)

Relevant versions:

[code]

Traceback:

[code]

config output

[code]

[2015-01-11 09:39] wasade commented on #1847
The deprecation warnings are due to using numpy 1.9.1. Currently, qiime requires numpy >= 1.9. I'm going to attempt to use numpy 1.8.2 which does not have these warnings as the volume of output stemming from these warnings will greatly confuse participants

[2015-01-11 09:45] wasade commented on #1829
Note, this introduces significant warning messages to users (see #1847)

[2015-01-11 09:54] wasade commented on #1847
With h5py 2.3.1 and 2.4.0, I now get the following:

[code]

[2015-01-11 10:06] wasade commented on #1847
I'm at a blocking point with the tutorial and cannot continue. I'm not seeing any indication in the rc2 changes that the above issues have been encountered and addressed. Due to timing, and in order to provide the team here adequate time to familiarize themselves with the tutorial, I'm going to downgrade our environment to qiime 1.8.

The following test failures came from the tests for `pick_open_

[2015-01-11 10:11] wasade commented on #1847
QIIME 1.8 tutorial does not work either due to removed URLs.

[code]

[2015-01-11 10:32] wasade commented on #1849
Forgot to link, see #1847

[2015-01-11 13:24] wasade commented on #1847
Downgrading is not easy...

[2015-01-11 15:12] gregcaporaso commented on #1847
@wasade, the pick_open_reference_otus.py test failures shouldn't be a problem (they're testing functionality that is not part of the base install, and which the tutorial doesn't hit by default). The best thing for us to do here would be for these tests to run conditionally, but that's not really something we could do for 1.9.0.

Moving this discussion to IM for now...

[2015-01-11 15:18] wasade commented on #1847
Thanks, @gregcaporaso. Reason I put the `pick_open_reference_otus.py` tests in was to show that the relevant tests pass but the script is failing, so it isn't being caught by unit tests. I did not have a chance to run script level tests

[2015-01-11 15:35] gregcaporaso commented on #1849
We need to search the code base for ``from_hdf5``, and replace any remaining occurrences with ``load_table``. Thanks for catching this @wasade!

[2015-01-11 17:51] jairideout opened #1850 "numpy deprecation warnings"
@wasade noted in #1847 that there are numpy deprecation warnings being raised with numpy 1.9.1:

[code]

I think these warnings are coming from PyCogent beta diversity code. It's strange that the warnings are being raised in scripts that aren't related to beta diversty (e.g., validate_mapping_file.py). We should figure out how to suppress these warnings, or at least suppress them for scripts that

[2015-01-11 17:51] jairideout commented on #1847
@wasade the numpy deprecation warnings are coming from PyCogent code (beta diversity I think), so there isn't an easy fix for this. It's strange that you're seeing those warnings with things like validate_mapping_file.py though. I'm not able to reproduce this locally with numpy 1.9.1.

Note that numpy >= 1.9.0 is required for filter_alignment.py, so you may encounter errors if using an older numpy

[2015-01-11 17:53] jairideout commented on #1829
Created a separate issue to track this: #1850

[2015-01-11 19:12] wasade commented on #1850
Ya think the calls are implicit based in grepping qiime and skbio code
bases. Issue is with numpy.rank I believe
On Jan 11, 2015 6:51 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-01-11 20:06] jairideout commented on #1850
I think `cogent/maths/distance_transform.py` is the offending file (e.g., see [this line](https://github.com/pycogent/pycogent/blob/master/cogent/maths/distance_transform.py#L188)).

[2015-01-11 20:57] wasade commented on #1850
That would do it, good find...
On Jan 11, 2015 9:06 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-01-12 14:07] mlangill commented on #1849
Just came here to post the same bug. Quite annoying since it is one of the last steps in the lengthy open reference picking pipeline.

[2015-01-12 14:11] mlangill opened #1851 "Add -w, --print_only option to open reference picking"
The pick_open_reference_otus.py pipeline is really long with many chances of failures. It would be nice if there was a --print_only option like in pick_closed_reference_otus.py that allows all the commands to be output. That way the user can manually run commands if there was a failure part way through or if slightly different options want to be used at certain parts. Without this the user is left

[2015-01-12 14:23] wasade commented on #1849
I believe you should be able to pick up where you left off once h5py is
installed though, so the earlier work isn't necessarily lost. But, it will
require a little bit of manual effort and unfortunately this did sneak
through.

On Mon, Jan 12, 2015 at 7:07 AM, Morgan Langille <notifications@github.com>
wrote:

[2015-01-12 14:53] gregcaporaso opened #1852 "tests/test_workflow/test_downstream.py generates png files in directory that test is run from"
[code]

[2015-01-12 14:55] gregcaporaso commented on #1851
This hasn't been possible since this workflow is composed of both QIIME command calls and API calls, but it might be possible now that the API calls are logged. We should look into this because it would be a really useful addition, but if it's a lot of work we won't be able to do it for 1.9.0.

[2015-01-12 16:31] jairideout commented on #1849
Thanks @wasade @mlangill! I'm able to reproduce this locally, will work on fixing this ASAP.

[2015-01-12 17:12] jairideout commented on #1849
Fix is in #1853.

[2015-01-12 20:17] #1849 closed

[2015-01-13 17:50] jairideout commented on #1848
Is this important to include in 1.9.0?

[2015-01-13 18:22] antgonza commented on #1848
Excellent question! I think it will be necessary as this imposes a
limit in the size of the dataset that can be processed. However, I can
also see reasons to leave it for 2.0, @gregcaporaso what do you think?

[2015-01-13 18:42] gregcaporaso commented on #1848
I think we shouldn't do this for 1.9.0, but rather tell users to use ``-m uclust`` or ``-m swarm`` instead. If the user *really* wanted to use cdhit, they could always create a bash alias:

[code]

[2015-01-13 19:15] jairideout commented on #1850
@wasade after upgrading to QIIME 1.9.0-rc2 on your test EC2 instance, I'm not seeing these deprecation warnings anymore. I also tested on our 1.9.0-rc2 base install AMI and I can't reproduce the warnings there either. Both AMIs are using numpy 1.9.1. Closing for now, please reopen if the issue resurfaces.

[2015-01-13 19:18] ElDeveloper commented on #1850
@jairideout Andrew reported this problem with rc2, so I think this is still an issue:

https://groups.google.com/forum/#!topic/qiime-forum/e0l0LIljNs0

It seems that upgrading scipy fixes the problem.

[2015-01-13 19:23] jairideout commented on #1850
Thanks! There isn't much we can do about the issue if it's coming from older versions of scipy. Can we close this and recommend that users upgrade their scipy version if they're getting these warnings? Alternatively, we could update setup.py to require scipy >= 0.15.0, though that seems pretty restrictive...

[2015-01-13 19:32] wasade commented on #1850
Awesome, thank you!
On Jan 13, 2015 8:21 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-01-13 19:35] wasade commented on #1850
I thought the instance was using scipy 0.13.3? Or I might be misremembering
On Jan 13, 2015 8:23 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-01-13 19:36] jairideout commented on #1850
@ElDeveloper and I chatted about this offline and decided to update setup.py to require scipy >= 0.15.0. Since QIIME requires newer versions of numpy that raise this deprecation warning, it's probably safest to require newer versions of scipy to avoid user confusion. I'll submit a pull request to fix this.

[2015-01-13 19:37] jairideout commented on #1850
@wasade the instance was using that version of scipy, but when I upgraded it to 1.9.0-rc2, it grabbed scipy 0.15.0, which was why the warnings disappeared.

[2015-01-13 19:48] wasade commented on #1850
+1
On Jan 13, 2015 8:36 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-01-13 19:57] alk224 commented on #1850
My problem was I installed scipy from ubuntu repositories which gave me 0.13.3.  I upgraded with pip according to zech's instructions (see Yoshiki's post above) and that gave me 0.15 instead.

[2015-01-13 19:59] jairideout commented on #1847
@wasade I think this issue can be closed:

- deprecation warnings (#1850) will be fixed when #1854 is merged
- pick_open_reference_otus.py requiring h5py was fixed in #1853 (verified that both errors you reported are no longer raised)
- issues with the 1.9.0 moving pictures tarball should be resolved (@ElDeveloper updated the tarball hosted on ftp.microbio.me to the correct one)

Please reopen if

[2015-01-13 19:59] #1847 closed

[2015-01-13 20:00] jairideout commented on #1850
Thanks @alk224! When #1854 is merged, this issue shouldn't occur in future QIIME installs because QIIME will require newer versions of scipy.

[2015-01-13 20:12] jairideout opened #1855 "misleading BIOM error message if no h5py/HDF5"
If h5py/HDF5 isn't installed, attempting to read a BIOM HDF5 file with `biom.load_table` results in a misleading error message:

[code]

I created a corresponding issue on the BIOM issue tracker (https://github.com/biocore/biom-format/issues/584).

This error is likely to be frequently encountered by QIIME users since h5py/HDF5 is optional and not part of the base install. If a user obtains a BIOM

[2015-01-13 20:28] jairideout opened #1856 "observation_metadata_correlation.py script usage test failure if h5py isn't installed"
If h5py/HDF5 isn't installed, the following script usage tests fail for observation_metadata_correlation.py:

[code]

[2015-01-13 21:00] jairideout commented on #1850
Looking into this further, scipy >= 0.14.0 should work (just verified locally). Updated my pull request to relax the version requirement.

[2015-01-13 21:25] jairideout commented on #1852
Confirmed this also happens when using the script normally (e.g., running the script usage example).

[2015-01-13 22:54] jairideout opened #1857 "possible documentation error in make_rarefaction_plots.py"
The following text is in the output of make_rarefaction_plots.py:

"If the lines for some categories do not extend all the way to the right end of the x-axis, that means that at least one of the samples in that category does not have that many samples."

Should this instead be:

"If the lines for some categories do not extend all the way to the right end of the x-axis, that means that at least one

[2015-01-13 23:18] antgonza commented on #1848
OK. Just one question, have you tested that that will work? Not sure
if cd-hit-est will take the first or the last -M ...

[2015-01-14 00:28] ElDeveloper commented on #1856
The solution in this case to replace the test file so it is a JSON file
instead of an HDF5 file. Should that be the policy for all the script
usage tests?

On (Jan-13-15|12:28), Jai Ram Rideout wrote:

[2015-01-14 00:31] ElDeveloper commented on #1855
I vote for doing a minor biom release, though this is a tricky one. The
function in biom should check the file's magic number and if it
corresponds to the one of an HDF5 file, then it should also have H5PY
installed, else raise the error message.

:-1: for wrapping this in QIIME, that tends to get dirty and fragile
very quickly.

On (Jan-13-15|12:12), Jai Ram Rideout wrote:

[2015-01-14 02:56] jairideout commented on #1856
Yep, that's what I did in #1854. I think this was the only HDF5 BIOM file under `qiime_test_data`. :+1: for keeping only JSON BIOM files under `qiime_test_data`.

[2015-01-14 03:03] ElDeveloper commented on #1856
Got it and agree, completely missed #1854.

On (Jan-13-15|18:56), Jai Ram Rideout wrote:

[2015-01-14 13:10] #1850 closed

[2015-01-14 13:10] #1856 closed

[2015-01-14 17:17] jairideout opened #1859 "change parse_biom_table calls to load_table"
@ElDeveloper and I chatted about this offline. There's a mixture of `biom.parse.parse_biom_table` and `biom.load_table` calls throughout the codebase. I think these should be updated to use `biom.load_table` for consistent handling and error messages when loading BIOM tables.

Related to #1855.

cc @gregcaporaso @wasade @josenavas @adamrp

[2015-01-14 18:04] gregcaporaso commented on #1859
:+1:

[2015-01-14 18:05] gregcaporaso commented on #1855
:+1: for the minor biom release. Thanks @ElDeveloper!

[2015-01-14 18:08] jairideout commented on #1851
I looked into this and don't think it'll be easy to add for 1.9.0 because the API calls are executed immediately (they aren't routed through `command_handler`) so we get errors when running in print-only mode. Reassigning to 2.0.0 milestone.

[2015-01-14 21:48] adamrp commented on #1857
I noticed this issue, too, thanks @jairideout!

What I'd really like to see (and this is probably a different issue, but thought I'd raise it here since it's somewhat related and this issue is receiving developer attention currently) is an option to override this behavior. In other words, if samples in a category do not have the minimum number of sequences, then those samples are dropped and the a

[2015-01-14 22:41] #1857 closed

[2015-01-14 22:42] jairideout commented on #1857
Thanks @adamrp! Can you please create a new issue for this feature? This issue was just closed.

[2015-01-14 22:44] #1859 closed

[2015-01-14 23:28] griffinp opened #1863 "Suggestion for improving documentation of base Qiime install - and possible issue with all_tests.py?"
Hi everyone,

(Apologies if these are already known/in-progress issues or better posted on the user forum - thought they might be useful here)

Installation Steps
-----------------------

I have been working on setting up a completely fresh Qiime 1.9.0-rc2 install inside a virtual machine (Ubuntu precise64 Linux distribution run on a VirtualBox) that I can use for development. I found the various

[2015-01-14 23:29] #1852 closed

[2015-01-14 23:41] gregcaporaso commented on #1781
The install document should mention the programs that are attempted to be installed by setup.py (these are: uclust, FastTree, SortMeRNA, SUMACLUST, and swarm).

[2015-01-14 23:48] adamrp commented on #1857
Sure thing -- that will make sense.

[2015-01-14 23:53] adamrp opened #1865 "make_rarefaction_plots average plots' behavior"
Currently, for average plots, if *any* sample in the category being averaged does not have enough sequences, then the point is not generated (and the curve ends early).

What I'd really like to see is an option to override this behavior. In other words, if a sample in a category does not have the minimum number of sequences, then that sample is dropped and the average is calculated using the remai

[2015-01-14 23:55] adamrp commented on #1865
Also.. would this be "new" functionality (and therefore be slated for QIIME 2)?  I'm wondering because, practically, I would need this feature for my current analysis far sooner than that, so I need to know whether to do the plotting step of the alpha_rarefaction workflow manually to allow for this behavior.

[2015-01-15 00:05] ElDeveloper commented on #1781
Maybe `nohup`, only downside is that to stop the process you would have to kill it through the PID (I don't know another way to do it).

[2015-01-15 00:12] jairideout commented on #1857
Thanks!

Sent from my phone.
On Jan 14, 2015 4:48 PM, "adamrp" <notifications@github.com> wrote:

[2015-01-15 14:12] gregcaporaso opened #1866 "post note on qiime forum that qiime-help@colorado.edu is no longer monitored"
and make sure that all docs use the gmail address, if it's used anywhere

[2015-01-15 15:08] gregcaporaso commented on #1865
@adamrp, we don't do this for a specific reason. This was the behavior in early versions of QIIME, but when (for example) all samples got dropped except for one, the curves could be very misleading. You could have one curve that was informed by hundreds of samples, and another that was informed by a single sample, and in the plot there was no way to differentiate these.

The recommended way to han

[2015-01-15 16:06] jairideout commented on #1863
Thanks for these detailed notes! We'll work on incorporating them into our install instructions.

Regarding the test failure, do you have the denoiser installed? This should be installed automatically as part of the base QIIME install (via `pip install qiime`), but it'll skip installation if you don't have `ghc` installed beforehand.

Can you send me the output of:

[code]

Thanks!

[2015-01-15 16:07] ElDeveloper opened #1867 "Add a note describing the benefits of using HDF5"
Since HDF5 is optional and users may wonder whether or not they'll want to use this dependency, we should provide a small description about the benefits and reasons why you might want to use HDF5 instead of JSON. Not sure where this should be in the documentation.

[2015-01-15 16:42] jairideout commented on #1867
:+1:, we have a brief note describing this in the [install docs](https://github.com/biocore/qiime/blob/master/doc/install/install.rst), but we should probably expand and/or move this description somewhere more obvious.

[2015-01-15 16:57] ElDeveloper commented on #1867
I think that's a good place for a small note, but adding a more
comprehensive description would be nice. Perhaps in the OTU table
section of the file formats page:
http://qiime.org/documentation/file_formats.html

On (Jan-15-15| 8:42), Jai Ram Rideout wrote:

[2015-01-15 17:06] jairideout commented on #1867
:+1: , then we can link to it from the install page

[2015-01-15 19:37] jairideout opened #1869 "better progress reporting in setup.py"
Now that setup.py is installing the denoiser, uclust, fasttree, sortmerna, sumaclust, and swarm, it can appear stuck at the "Running setup.py install for qiime" step because it has to download several things and build them. It'd be useful to have simple status updates reported so it's clear what step in the process it's at.

[2015-01-15 19:50] sampie opened #1870 "Non-unique files/folders written in temp directory (analysis runs fail with multiple users)"
I have Qiime 1.8 and Qiime 1.9rc1 in a server having multiple users. Qiime seems to write non-unique files to tmp folder (/tmp by default). For example, user A is running Qiime which writes /tmp/R.stdout file. Now, user B is running Qiime and it is trying to write /tmp/R.stdout, but it fails because the file already exists and it is owner by user A.

[2015-01-15 22:18] jairideout commented on #1870
Thanks for reporting this! What script was being run that caused this error? Does this issue happen with both 1.8.0 and 1.9.0-rc1?

[2015-01-15 23:09] griffinp commented on #1863
I don't seem to have either of these installed.
which ghc
and
which FlowgramAli_4frame
both give no output.

I installed Qiime via 'setup.py install' rather than 'pip install qiime' - so that I could work from my development repository.

[2015-01-15 23:11] jairideout commented on #1863
You'll need to install `ghc` and then rerun the `setup.py install` command -- this should build the denoiser.

[2015-01-15 23:52] griffinp commented on #1863
I installed ghc and it appeared to build the denoiser okay:

which FlowgramAli_4frame
/usr/local/bin/FlowgramAli_4frame

I'm now running all_tests.py again and it has been working on the step
Testing /vagrant/qiime/tests/test_denoiser/test_cluster_util.py
(the same step where it got stuck previously) for about half an hour...

[2015-01-16 12:00] sampie commented on #1870
For Qiime 1.9rc1, I can see following error:

Traceback (most recent call last):
  File "/home/apps/qiime-env/1.9rc1/bin/compare_categories.py", line 189, in <module>
    main()
  File "/home/apps/qiime-env/1.9rc1/bin/compare_categories.py", line 185, in main
    categories, opts.num_permutations, out_dir)
  File "/home/apps/qiime-env/1.9rc1/local/lib/python2.7/site-packages/qiime/compare_categori

[2015-01-16 16:51] #1869 closed

[2015-01-16 17:00] jairideout commented on #1870
Thanks! I confirmed this is a bug, though this code hasn't changed in awhile (since long before 1.8.0). It's strange that the issue is appearing now. Do you see this with QIIME 1.8.0?

[2015-01-16 17:59] jairideout opened #1872 "clean up moving pictures 1.9.0 tutorial tarball"
The [Moving Pictures 1.9.0 tutorial tarball](ftp://ftp.microbio.me/qiime/tutorial_files/moving_pictures_tutorial-1.9.0.tgz) has several garbage files that clutter the directories when viewed with `FileLinks`, including `.DS_Store` and `._` files. @gregcaporaso and I are working on updating this tarball as we work on #1781.

@ElDeveloper are you available to upload a new tarball when it's ready?

[2015-01-16 18:05] ElDeveloper commented on #1872
Sure thing.

On (Jan-16-15| 9:59), Jai Ram Rideout wrote:

[2015-01-16 18:19] gregcaporaso commented on #1872
Also, there is a ``moving_pictures_tutorial-1.9.0.tgz.1`` file up there that can be deleted.

[2015-01-16 18:28] jairideout opened #1873 "count_seqs.py shouldn't care about fastq quality scores"
@gregcaporaso and I noticed this while working through the Illumina overview tutorial. If count_seqs.py is run with the raw input fastq file, it fails with the following error:

[code]

The code should be updated to pass `enforce_qual_range=False` to `parse_fastq` since we don't care about the phred offset or range of decoded quality scores in this script.

[2015-01-16 19:01] sampie commented on #1870
Thanks for taking a look at this issue! I have also seen similar permission problems with Qiime 1.8 in multiple user environment. In that sense, this is not a regression bug. However, it has been a while since I last tested 1.8.

[2015-01-16 19:22] jairideout commented on #1870
Ok thanks, we'll be sure to get this fixed for 1.9.0.

[2015-01-16 19:29] wasade commented on #1870
What's the qiime tmp directory?
On Jan 16, 2015 8:22 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-01-16 19:36] sampie commented on #1870
Thank you! I'll be happy to test the fix once it becomes available.

wasade: Qiime temp is a directory for temporary files created by qiime pipeline/scripts. It is specified by temp_dir in qiime_config file.

[2015-01-16 19:45] wasade commented on #1870
Yes, what is it set to, /tmp? what I'm trying to determine is if R is
disregarding temp_dir
On Jan 16, 2015 8:37 PM, "sampie" <notifications@github.com> wrote:

[2015-01-16 19:51] jairideout commented on #1870
@wasade the R code is creating `R.stdout` and `R.stderr` within the QIIME temp directory. I think the code needs to be updated to create safe temporary files within the QIIME temp directory to avoid naming conflicts between users.

[2015-01-16 19:55] wasade commented on #1870
Agree it wouldnt hurt, but users could also specify their own tmp
directory. /tmp on compute nodes isn't assured to be large anyway and on
large resources it likely is more efficient to use scratch if available
On Jan 16, 2015 8:51 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-01-16 20:08] lkursell opened #1874 "Merge_mapping_files.py documentation"
The script fails if the mapping file doesn't contain the requisite SampleID, BarcodeSequence, and LinkerPrimerSequence as the first three columns, which is ok, but the error message is just a KeyError currently.

[2015-01-16 21:09] jairideout commented on #1874
Can you please post the full `KeyError` message that you receive?

[2015-01-16 21:10] jairideout commented on #1870
It should be an easy fix and it'd be nice to not force each user to have to specify a different temp directory in their QIIME config file.

[2015-01-16 21:33] gregcaporaso commented on #1872
This is fixed, thanks @ElDeveloper!

[2015-01-16 21:33] #1872 closed

[2015-01-16 21:37] ElDeveloper commented on #1872
No problem!

On (Jan-16-15|13:33), Greg Caporaso wrote:

[2015-01-16 21:37] gregcaporaso commented on #1867
@ElDeveloper, could you write the text and post it as a comment here? Then @jairideout and I could include in the file formats page?

[2015-01-16 21:57] jairideout commented on #1873
grepping the codebase, there are several places where `parse_fastq` needs this range check turned off.

[2015-01-16 21:58] jairideout opened #1875 "quality_scores_plots.py with fastq file doesn't work"
Running quality_scores_plots.py with a fastq file fails:

[code]

[2015-01-16 22:16] jairideout opened #1876 "split_libraries_fastq.py is ~7x slower than 1.8.0"
@gregcaporaso, @ebolyen, @shiffer1, and I found a performance bug in split_libraries_fastq.py. It appears to be ~7x slower than QIIME 1.8.0. We think that looping over the numpy array of quality scores returned by `parse_fastq` is causing most of the slowdown.

[2015-01-16 22:42] jairideout commented on #1874
Nevermind, I was able to reproduce this:

[code]

We should get this fixed for 1.9.0. Any takers?

[2015-01-16 22:48] jairideout opened #1879 "normalize_table.py and differential_abundance.py don't respect QIIME temp dir"
stdout and stderr created by R scripts in normalize_table.py and differential_abundance.py use /tmp instead of the user's QIIME temp dir.

[2015-01-16 23:05] ElDeveloper commented on #1867
@gregcaporaso, I'll do this over the weekend.

On (Jan-16-15|13:37), Greg Caporaso wrote:

[2015-01-17 00:22] jairideout commented on #1863
That's strange, I'm not sure why those tests are hanging. They run in under a minute for me.

Can you run the tests in verbose mode and send the output?

[code]

[2015-01-17 07:18] sampie commented on #1870
Wow, that was fast. Is there a way to install the fixed version of Qiime with PIP?

wasade: This test was using Qiime default /tmp. In clustered environment there is /worktemp (shared among all machines and among all users).

[2015-01-17 08:18] wasade commented on #1876
That's interesting, good catch. As @gregcaporaso addressed in #1880, it suggests that there are much more efficient numpy bulk ops that can be performed. I suspect this slowdown stems from the overhead of going back and forth between numpy types where previously it was just pure python.

Was a profile performed here by chance?

[2015-01-17 15:33] gregcaporaso opened #1882 "move download links for virtual machine images to resources page"
That way we can move them without having to update the docs.

[2015-01-17 17:06] jairideout commented on #1870
My pull request hasn't been merged yet (https://github.com/biocore/qiime/pull/1881). I'll post back here with instructions for upgrading once it's been merged. Thanks for offering to help test this!

[2015-01-18 01:49] griffinp commented on #1863
This does seem strange. I ran that test separately as you suggested and it appeared to work fine!

[code]

However it still stays stuck on this test when running with all_tests.py -v and doesn't print any progress information.

[2015-01-18 06:50] sampie commented on #1870
Hi Jai,

I have taken a look at Qiime code (https://github.com/biocore/qiime.git). start_parallel_jobs.py seems to write "jobs" directory to tmp_dir, which might cause also similar permission problems. I think this jobs directory name should be unique.

    jobs_dir = '%s/jobs/' % output_dir
    job_fps = []
    if not exists(jobs_dir):
        try:
            makedirs(jobs_dir)
        except OS

[2015-01-18 16:50] ElDeveloper commented on #1867
What about something like this:

As of version 1.8.0-dev, QIIME supports version
[1.0](http://biom-format.org/documentation/format_versions/biom-1.0.html)
and
[2.1](http://biom-format.org/documentation/format_versions/biom-2.1.html)
of the BIOM format. The main distinction between these two versions is
the underlying file format JSON (for version 1.0) and HDF5 (for version
2.1), the later is recom

[2015-01-19 14:16] sampie commented on #1870
Here are more non-unique files written to tmp, which cause problems. The cause seems to be the known code section.

File "/home/apps/qiime-env/1.9rc2/bin/parallel_align_seqs_pynast.py", line 104, in <module>
    main()
  File "/home/apps/qiime-env/1.9rc2/bin/parallel_align_seqs_pynast.py", line 100, in main
    suppress_submit_jobs=opts.suppress_submit_jobs)
  File "/home/apps/qiime-env/1.9rc2/loc

[2015-01-20 04:26] griffinp commented on #1863
Any help on this issue would be much appreciated! I've been trying to get Qiime freshly up and running for a week and a half now and am still stuck at this point...

[2015-01-20 07:56] RNAer opened #1884 "a bug of fraction variance in make_2d_plots.py"
It mistakenly shows fraction as percentage. see the post https://groups.google.com/d/msg/qiime-forum/30-EvCrQotA/0Mbqc0qJ8-UJ
It occurs in 1.9 rc2 and rc1

[2015-01-20 14:31] #1873 closed

[2015-01-20 14:31] #1875 closed

[2015-01-20 14:31] #1879 closed

[2015-01-20 16:21] jairideout commented on #1870
Thanks @sampie! The `R.stdout`/`R.stderr` fix has been merged into master. Can you please try it out and let me know how it works for you? In the meantime I'll look into the other temp directory issues you posted.

To upgrade to the latest development version of QIIME, run:

[code]

Depending on how you previously installed the release candidate, you may need to prefix the command with `sudo`.

[2015-01-20 16:36] jairideout commented on #1863
Can you please send me the full output of running `python tests/all_tests.py`? This'll probably be too big to post on this issue, so send it to jai (dot) rideout (at) gmail (dot) com.

Are you planning to use (or further develop) the denoiser code in QIIME? If not, you can likely ignore this hanging test. Also note that there will be many other test failures if you run the full unit test suite wit

[2015-01-20 18:45] adamrp commented on #1865
I understand why this won't be included for 1.9 (especially given the workaround), but what do people think about including this feature in QIIME 2.0?  IMHO, it was actually *more* confusing to see no curves for most of my metadata categories (although this confusion is partially addressed via #1861).  Also, I think having the option I mentioned in the main comment in this thread:

[2015-01-20 18:46] jairideout commented on #1876
Fixed in #1880.

[2015-01-20 18:46] #1876 closed

[2015-01-20 19:13] wdwvt1 commented on #1865
+1

I very much agree. Some way to visualize the distribution at each point in
conjunction (connected violin plots?) would also be cool and would resolve
the "viewing different numbers of samples at each point" thing.

On Jan 20, 2015 10:45 AM, "adamrp" <notifications@github.com> wrote:

[2015-01-20 19:52] jairideout commented on #1703
Fixed in #1878.

[2015-01-20 19:52] #1703 closed

[2015-01-20 21:10] gregcaporaso commented on #1865
Ok, let's assign this for 2.0. Thanks!

[2015-01-20 21:25] jairideout commented on #1842
Fixed in:

https://github.com/qiime/qiime-deploy/pull/78
https://github.com/qiime/qiime-deploy-conf/pull/141

[2015-01-20 21:25] #1842 closed

[2015-01-20 21:47] #1812 closed

[2015-01-20 22:38] gregcaporaso opened #1886 "update help text at bottom of the workflow index pages"
The text:

[code]

should be replaced with:

[code]

[2015-01-21 02:50] Jorge-C commented on #1759
I've just been able to get the scripts in biom-format & pyqi working from the a conda installation. Still need to get through the latest setup.py updates in qiime, then its conda package should be finally functional.

[2015-01-21 02:57] gregcaporaso commented on #1781
A couple of very minor changes for the ITS tutorial (if we don't get to them, it's not a big deal):

- [ ] *You can review all of the files that are created by passing the path to the output directory to the FileLink function.* -> *You can review all of the files that are created by passing the path to the ``index.html`` file in the output directory to the FileLink function.*

- [ ] *First, obtain

[2015-01-21 03:14] gregcaporaso commented on #1759
Thanks great news, thanks for working on this!

On Tue, Jan 20, 2015 at 7:50 PM, Jorge Cañardo Alastuey <
notifications@github.com> wrote:

[2015-01-21 03:53] ElDeveloper commented on #1759
This is great news!! I'm excited to try this out, let me know if you need any help testing. Or building the OSX packages.

Yoshiki Vázquez-Baeza

[2015-01-21 04:21] colinbrislawn commented on #1759
This is excellent!

As a review, is the plan to make a conda package including the needed core dependencies, or to provide a tutorial?

If building or testing is needing, I'm vary willing to build and test on OSX and RHEL 5.

Colin

[2015-01-21 07:42] Jorge-C commented on #1759
Thanks guys! I'll share my notes when I clean them up so that you can try building/testing on OSX and various linux flavours.
For recent linux systems, `conda install -c https://conda.binstar.org/jorge qiime` in a clean environment resists some smoke testing, so please report any packaging issues you may find:
[code]

[2015-01-21 09:27] sampie commented on #1870
Hi Jai,

I tested the latest development version. I did not get any R.stdout / R.stderr errors. Nice.

The analysis crashes to the remaining permission denied issues. I have not yet tested slurm configuration.

btw. The script I am using to find problems is available at (https://ngs.utu.fi/files/qiime/). It runs Qiime pipeline when given a folder with per sample R1 and R2 fastq files and a mapping

[2015-01-21 16:15] jairideout commented on #1870
Awesome, glad to hear the R stdout/stderr bug is fixed!

As @wasade suggested, do you still get errors with the other scripts if you change your QIIME temp directory to something that's unique to your user?

I'm still planning to look into these other failures, but I think they might be harder to fix because of how QIIME's parallel framework works (I think these issues have been in QIIME for awhil

[2015-01-21 17:15] gregcaporaso commented on #1838
Closing as everything that was suggested will be in the 1.9.0 AMI. Thanks!

[2015-01-21 17:15] #1838 closed

[2015-01-21 21:15] #1882 closed

[2015-01-22 00:42] colinbrislawn commented on #1759
Hey there,

I just tested this on a RHEL 5.27 machine. I used the following commands.
[code]

This seemed to work great! However, when I test, I get the following error:
[code]

I did not get this error [when installing with conda and pip](https://github.com/biocore/qiime/issues/1759#issuecomment-69119812).

[2015-01-22 05:48] Jorge-C commented on #1759
Thanks for testing @colinbrislawn! That's a known [issue](https://github.com/biocore/qiime/issues/1759#issuecomment-66498106), so as you point out using conda to get most dependencies and then finishing the installation with pip is the fastest and easiest way to get it running. Note that you could also install every package at environment creation:
[code]

[2015-01-22 06:29] matt-shenton commented on #1759
Hi, and thanks a lot for all this work.

(And sorry for failing at formatting here)

I just tried installing exactly as above, but I get the following (looks like it can't find numpy, somehow?)

Cheers

Matt

(qiime190rc2)[mshenton@t260 ~]$ pip install https://github.com/biocore/qiime/archive/1.9.0-rc2.tar.gz
Collecting https://github.com/biocore/qiime/archive/1.9.0-rc2.tar.gz
  Downloading https:

[2015-01-22 06:31] ElDeveloper commented on #1759
This is one of the problems with pip, you have to first install numpy
before actually installing QIIME or anything that depends on NumPy. So
before executing that command you have to run `pip install numpy`.

On (Jan-21-15|22:29), matt-shenton wrote:

[2015-01-22 06:33] matt-shenton commented on #1759
Hi, sorry

I didn't leav all the info- I created the conda environment as above also, including installing numpy with conda

"(qiime190rc2)[mshenton@t260 ~]$ pip install numpy
Requirement already satisfied (use --upgrade to upgrade): numpy in ./.local/lib/python2.7/site-packages"

[2015-01-22 06:36] matt-shenton commented on #1759
PS

Linux version 2.6.32-131.0.15.el6.x86_64 (mockbuild@x86-007.build.bos.redhat.com) (gcc version 4.4.4 20100726 (Red Hat 4.4.4-13) (GCC) ) #1 SMP Tue May 10 15:42:40 EDT 2011

[mshenton@t266 ~]$ ldd --version
ldd (GNU libc) 2.12

[2015-01-22 06:38] Jorge-C commented on #1759
Hi @matt-shenton, you need to create the conda environment and install the dependencies using conda itself. If you use pip instead you may run into issues and it will take a long time to install everything. Please follow exactly the commands [here](https://github.com/biocore/qiime/issues/1759#issuecomment-70974640) if you want to try it.

Also, note that general installation and usage questions ar

[2015-01-22 06:49] matt-shenton commented on #1759
Hi Jorge,

Thanks a lot for the reply. I'm not ashamed to admit I'm a little out of my depth here.

Actually I had first tried as above using only conda

then if I install qiime using your conda package
"conda install -c https://conda.binstar.org/jorge qiime"

it appears to complete but then I get the glibc error

If I try to use pip inside the conda environment, I get the problem above that it ca

[2015-01-22 06:56] Jorge-C commented on #1759
No problem Matt, that's how we all learn :) Any way, don't try to use my conda package, as it's still buggy/in development, but follow Colin's suggestion instead:
[code]
Hope that helps!

[2015-01-22 07:31] sampie commented on #1870
Hi Jai,

I am not exactly sure how to configure separate temp dir for each user. QIIME_CONFIG_FP points to the global qiime_config file and it has temp_dir. I am not sure how to specify there a user specific folder like: /worktemp/$username/. Then I have thought about instructing each usersto create .qiime_config having only "temp_dir /worktemp/<username>/, but that would probably leave lots of .q

[2015-01-22 16:49] jairideout commented on #1870
What about adding the following line to your global QIIME config file (the one that's pointed at by `$QIIME_CONFIG_FP`):

[code]

That's the strategy we use on our institution's cluster.

[2015-01-22 18:40] colinbrislawn commented on #1759
I really appreciate your advice @Jorge-C! I'm new to conda, so your comment is exactly what I needed.

I'll test your method on RHEL and OSX and post again.

[2015-01-22 19:02] colinbrislawn commented on #1759
On RHEL 5.7 and Mac OSX 10.8.5, the following commands work flawlessly in around 10 minutes. The only thing I did prior to this was to [download and install anaconda](http://continuum.io/downloads).

[code]

Thank you for your ongoing support!

[2015-01-22 21:32] jairideout opened #1894 "release-blocking biom-format issues"
I'm creating this issue to track issues in biom-format that are blocking the QIIME release (requiring a new BIOM release):

- [x] misleading error message if no h5py/HDF5 (https://github.com/biocore/biom-format/issues/584)
    - see https://github.com/biocore/qiime/issues/1855 for discussion of why this fix is necessary
- [x] inconsistent representation of missing/null metadata (https://github.com

[2015-01-23 09:40] sampie commented on #1870
Hi Jai,

That sounds like a workaround I wanted but did not know how to configure. I'll test that. Thanks!

[2015-01-23 17:22] sampie commented on #1870
The workaround works. There were no errors with this configuration.

[2015-01-23 17:56] jairideout commented on #1870
Thanks for testing this! @gregcaporaso and I don't think it's feasible to fix the non-unique temp file issue in parallel QIIME for the 1.9.0 release. We'll update the [parallel QIIME tutorial](http://qiime.org/tutorials/parallel_qiime.html) to explain that a unique temporary directory is necessary when using parallel QIIME in a multi-user environment, and will also include the workaround I describ

[2015-01-23 20:21] jairideout opened #1896 "update qiime.org homepage"
Update http://qiime.org/ homepage with the following:

- [x] add links to menu on left for help.qiime.org, scripts.qiime.org, and install docs
- [x] update main text as necessary

[2015-01-23 20:30] jairideout opened #1897 "check for broken links in documentation"

[2015-01-23 20:42] jairideout commented on #1897
Should probably take care of this after #1781. `pip install LinkChecker` seems to work pretty well.

[2015-01-23 20:45] sampie commented on #1870
That sounds like a good solution for Qiime 1.9.0 Thanks for your help!

[2015-01-23 22:44] jairideout commented on #1870
No problem! I submitted a pull request (#1898) with updates and additional documentation in the parallel QIIME tutorial.

[2015-01-23 22:52] jairideout opened #1899 "test that parallel QIIME works with EC2 clusters created with StarCluster"
Need to test this with our release candidate AMI.

[2015-01-23 23:56] AmandaBirmingham opened #1900 "Update QIIME virtual box documentation"
Hi--I am new to QIIME and have recently been spending oodles of time with the documentation :) , starting with that associated with the QIIME virtual box. In the process, I noticed a few typos and points where it appears some updates/corrections could help.  I have annotated the relevant files; since GitHub won't let me upload non-image files, I've put them on dropbox at the following links:

1.We

[2015-01-26 16:18] jairideout commented on #1900
Thanks @AmandaBirmingham! We'll work on integrating these changes for the 1.9.0 release.

[2015-01-26 20:32] ebolyen commented on #1884
@RNAer I am unable to reproduce this. What was the exact command used, and can you email or dropbox me the files used (my email is in my profile)?

[2015-01-26 20:47] jairideout commented on #1855
This was fixed in https://github.com/biocore/biom-format/pull/586

[2015-01-26 20:47] #1855 closed

[2015-01-26 21:41] ElDeveloper commented on #1884
I think this is referring to https://github.com/biocore/scikit-bio/issues/563

[2015-01-26 21:49] RNAer commented on #1884
[code]
Files are at https://www.dropbox.com/s/cqa1gq1vzgcnhyz/test.tgz?dl=0

[2015-01-26 22:07] ebolyen commented on #1884
@RNAer Thanks! I am able to replicate the issue. It looks like it is a disagreement about what `Proportion explained` means. I'll investigate further.

[2015-01-27 13:43] gregcaporaso opened #1903 "prepare a screencast to show off qiime install, etc"
I was asked to do a video presentation for the [Brazilian Microbiome Project](http://www.brmicrobiome.org/) which I am an external advisor for. I'd like to do this as a screencast where we do a ``pip install`` and work through one of the tutorials, show off help features, etc, and post publicly on YouTube as a new QIIME video. Thoughts on content for this? I'll do it after the release goes out.

[2015-01-27 14:03] ElDeveloper commented on #1903
What about:
- Modifying a mapping file.
- Creating a parameters file.
- Using and getting some of the QIIME test data (running one of the usage examples).
- Modifying the .qiime_config/QIiME_CONFIG_FP.
- bonus: use virtual envs/conda envs.

Yoshiki Vázquez-Baeza

[2015-01-27 19:44] jairideout commented on #1867
Thanks! I integrated this into the file format docs (and expanded a little bit). The changes are in #1898 (see [this commit](https://github.com/biocore/qiime/commit/4f2d8bad7838a60a79b7073d7bed817fee6486fa)).

[2015-01-27 19:47] ElDeveloper commented on #1867
Awesome, that looks great. Thanks!!

Yoshiki Vázquez-Baeza

[2015-01-27 20:34] jairideout opened #1904 "update script RST docs"
Just noticed that running `qcli_make_rst -i "scripts/*py" -o "doc/scripts"`, which is listed in the QIIME release notes, doesn't update all scripts (only the first few get updated and any new scripts are ignored).

Running the following command seems to work:

[code]

For the release, we need to make sure:

- [x] all script RST docs are updated
- [x] any scripts that have been removed have also ha

[2015-01-27 21:11] #1874 closed

[2015-01-27 21:14] #1884 closed

[2015-01-27 22:01] #1886 closed

[2015-01-27 22:22] #1867 closed

[2015-01-27 22:22] #1870 closed

[2015-01-27 22:24] gregcaporaso commented on #1900
Thanks @AmandaBirmingham, glad to hear you're using QIIME! We'll get these suggestions in for 1.9.0, and there are tons of other updates to the documentation coming with the release, so it should be generally better all around soon. Hope San Diego is treating you well so far!

[2015-01-27 22:38] jairideout commented on #1781
The following tutorials still need updating:

- [ ] Preparing raw Illumina data in different formats for use with QIIME
- [ ] Extracting Barcodes from fastq data for compatibility with split_libraries_fastq.py
- [ ] Performing Procrustes Analysis
- [ ] Analysis of shotgun sequencing data
- [ ] Basic Unix/Linux/OS X commands
- [ ] Working with QIIME on Amazon Web Services EC2

@gregcaporaso and I w

[2015-01-28 01:07] Jorge-C commented on #1759
All the recipes are currently in [this repo](https://github.com/Jorge-C/biocore_recipes) with some documentation.

Builds for linux64 with glibc >= 2.12 (can be checked which one you have using `ldd --version`) are available in my binstar channel:
`conda install -c https://conda.binstar.org/jorge qiime`

Let me know how this works in clean environments. I'm particularly interested in things like t

[2015-01-28 05:11] sampie commented on #1870
Perhaps this bug report should remain open until it is fixed, as only a workaround exists now?

[2015-01-28 14:20] ElDeveloper opened #1906 "make_otu_heatmap.py will fail when there's no metadata"
If you pass in a table that doesn't have observation metadata, the following error will be raised:

[code]

[2015-01-28 14:21] #1894 closed

[2015-01-28 15:20] #1149 closed

[2015-01-28 15:22] gregcaporaso commented on #1906
@ElDeveloper, is this happening with the current dev version of biom (after the two issues in #1894 were fixed)?

[2015-01-28 15:31] jairideout commented on #1870
I think this is okay to close because we will be completely redesigning the way parallel QIIME works for QIIME 2, so this won't be an issue with the new system. This issue isn't something we'll be able to tackle for QIIME 1.x.

[2015-01-28 18:16] ElDeveloper commented on #1906
@gregcaporaso, yes with the latest version of biom.

On (Jan-28-15| 7:22), Greg Caporaso wrote:

[2015-01-28 19:15] ElDeveloper commented on #1759
This is awesome @Jorge-C! Is there a straightforward or suggested way to
create the OS X packages? When I tried the commands you listed below in,
I got an error about python-sqlalchemy not being available (not sure if
this is OSX specific though or if I'm missing something). Also,
@gregcaporaso, @jairideout, should these be moved to a QIIME/BIOCORE
account in binstar?

On (Jan-27-15|17:07), Jorge

[2015-01-28 19:18] Jorge-C commented on #1759
I think they shouldn't be moved till they are verified to "work" :)

Re. your question, the steps should be the same. I'll investigate why that package isn't available in OSX. If you have the error message available, can you please post it?

[2015-01-28 19:34] ElDeveloper commented on #1759
I agree, we have to do more testing.

The full output that I get when I run conda build ... is here:
https://gist.github.com/ElDeveloper/96cffb9525cc2a5f78ef

The relevant error message is this:

[code]

On (Jan-28-15|11:18), Jorge Cañardo Alastuey wrote:

[2015-01-28 20:52] #1781 closed

[2015-01-28 20:53] #1032 closed

[2015-01-28 21:51] Jorge-C commented on #1759
Thanks Yoshiki! For some reason that package is not available in OSX from anaconda:
[code]

At any rate, that is not necessary unless using the Ensembl querying capabilities from pycogent, so it's in fact an extra dependency. Do you know if QIIME uses that?

[2015-01-28 21:55] ElDeveloper commented on #1759
No problem. I am sure it is not used anywhere in QIIME. @gregcaporaso or
@antgonza do can you guys confirm this?

On (Jan-28-15|13:51), Jorge Cañardo Alastuey wrote:

[2015-01-28 21:56] Jorge-C commented on #1759
Cool, I just [asked](https://github.com/ContinuumIO/anaconda-issues/issues/254) if there're any reasons for it missing in anaconda.

[2015-01-28 22:04] Jorge-C commented on #1759
In the mean time, feel free to pull from my repo and try once again (I've removed that dependency from cogent, and pushed new binaries to my binstar channel).

[2015-01-28 22:28] ElDeveloper commented on #1759
Thanks for the help! I tried again, and found the following error:

[code]

Full output:
https://gist.github.com/ElDeveloper/4f8cb2dbc4a19dd6a268

I'm still in Boulder, so maybe we could meet some time and figure this out
together.

On (Jan-28-15|14:04), Jorge Cañardo Alastuey wrote:

[2015-01-28 22:31] bstamps opened #1909 "TypeError: percentile() got an unexpected keyword argument 'interpolation'"
Running filter_alignment.py produces the error

  File "/usr/local/bin/filter_alignment.py", line 4, in <module>
    __import__('pkg_resources').run_script('qiime==1.9.0-rc2', 'filter_alignment.py')
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources.py", line 517, in run_script
    self.require(requires)[0].run_script(script_name, ns)
  File "/usr/local/lib/python2.7/dist-packages/pkg_re

[2015-01-28 22:32] Jorge-C commented on #1759
OpenMPI errors? That's kind of funny hehe.

Sounds perfect, I'll send you an email to get together.

[2015-01-28 22:37] ElDeveloper commented on #1759
Great, we'll update the rest of the group through this issue.

On (Jan-28-15|14:32), Jorge Cañardo Alastuey wrote:

[2015-01-28 22:49] jairideout commented on #1899
Just tested that this works with the updated parallel QIIME and EC2 tutorials.

[2015-01-28 22:49] #1899 closed

[2015-01-28 22:52] jairideout commented on #1909
QIIME 1.9.0 will require numpy 1.9.0 or later. Can you please try upgrading numpy?

[2015-01-29 07:15] ElDeveloper commented on #1903
[Juan Giarrizzo suggests](https://twitter.com/Juanmicroguy/status/560562458671452160):

[2015-01-29 13:07] sampie commented on #1870
Sounds good.

[2015-01-29 14:46] gregcaporaso commented on #1909
@bstamps, you should be able to upgrade numpy with:

[code]

[2015-01-29 14:50] gregcaporaso commented on #1766
@jairideout, since the taxonomy paper isn't ready yet (it's behind this release on my list) I think we should resolve this for 1.9 only by updating the RDP classifier threshold to 0.5. We should note that change in the ChangeLog including a link to the RDP website where they recommend that value (see the link in my previous comment).

[2015-01-29 16:38] ElDeveloper commented on #1759
@Jorge-C and I just met, we were able to get the recipes to work in OS X. All I had to do to compile and build the binaries was use the recipes that @Jorge-C created. The end result is being able to get a base install of QIIME within one minute by doing:

[code]

**If others can test and let us know if there are problems, that would be awesome!**

@gregcaporaso, @jairideout, @antgonza do you guys

[2015-01-29 16:42] #1906 closed

[2015-01-29 16:52] bstamps commented on #1909
@jairideout @gregcaporaso Resolved- in the end here's what I had to do:

1. Remove NumPy from my /usr/local/lib/python2.7/dist-packages/ directory
2. Reinstall NumPy using pip
3. Rebuild/Reinstall QIIME RC2

 Upgrading NumPy failed to resolve the issue prior to attempting the remove/reinstall. I attempted to only Remove/Reinstall NumPy, however print_qiime_config.py -t still showed a previous vers

[2015-01-29 16:55] jairideout commented on #1759
This is awesome! I'll try to find some time today to test on my end (OS X), though I need to prioritize the remaining to-do items for the release. @ebolyen can you test this out on Ubuntu?

AFAIK QIIME doesn't require these dependencies, though I seem to remember PyCogent throwing warnings if they weren't present (which would show up when you'd run certain QIIME scripts). @gregcaporaso @antgonza d

[2015-01-29 16:57] jairideout commented on #1909
Awesome, thanks for the details!

[2015-01-29 16:57] #1909 closed

[2015-01-29 17:32] ElDeveloper commented on #1759
Great, thanks for the information! And thanks for testing.

For others who would like to test but don't have miniconda installed,
the installation process is very straightforward and shouldn't interfere
with your virtual environments (if you have any).

On (Jan-29-15| 8:55), Jai Ram Rideout wrote:

[2015-01-29 17:59] jairideout opened #1911 "replace all references to forum.qiime.org with help.qiime.org"

[2015-01-29 18:12] ebolyen commented on #1759
@jairideout yup! I'll report back with my results.

[2015-01-29 18:26] colinbrislawn commented on #1759
Hey everybody,

On Mac OSX 10.8.5, these commands work great!
[code]

Does this include executables like blastall and the RDP classifier? That would be nice...

[2015-01-29 18:30] Jorge-C commented on #1759
The extra dependencies (i.e. what qiime-deploy installs right now) will be the next step!

Let us know if your analyses also work well with that installation (and maybe make sure that your $PATH and $PYTHONPATH aren't pointing to other places where you might have qiime and its dependencies installed).

Thanks for trying, it's great to hear that!!

[2015-01-29 18:38] johnchase opened #1912 "Allow all pairwise comparisons in compare_categories"
If a column in a mapping file contains more than two groups the user should be able to specify in `compare_categories.py` that statistics for all pairwise comparisons be calculated. This would be useful for instance if the groups in a category were fecal, forehead and palm. In this situation the fecal samples may be driving any statistical differences it would be useful to know that the other grou

[2015-01-29 18:43] jairideout commented on #1912
This feature was requested in #431. Closing in favor of that issue.

[2015-01-29 18:43] #1912 closed

[2015-01-29 19:09] colinbrislawn commented on #1759
On RHEL 5, these commands work.
[code]

However, some tests fail. The ones relevant to my workflow are
[code]
It looks like RHEL5 has a really old `glibc`. :confused:

Many of the `biom` commands will throw errors if h5py is not installed, even if it not needed. This renders the `biom` commands unusable.

During OTU picking, `FastTree` and `blastall` are used to align, filter, and build a .tre fil

[2015-01-29 19:37] ebolyen commented on #1759
Just ran through the Illumina overview tutorial after running these commands:
[code]

It worked flawlessly! Great job!

[2015-01-29 19:41] jairideout commented on #1759
@colinbrislawn that's concerning, as h5py should be an optional dependency for QIIME and BIOM. Can you please post the BIOM commands that weren't working for you?

[2015-01-29 19:43] Jorge-C commented on #1759
That is probably related to the h5py bugs we've been fixing in biom
recently.
On Jan 29, 2015 12:41 PM, "Jai Ram Rideout" <notifications@github.com>
wrote:

[2015-01-29 19:49] jairideout commented on #1759
Sounds good. I thought I'd check with @colinbrislawn to see if there were other `biom` scripts that weren't working besides `biom validate-table` (would be good to catch these issues now before the BIOM/QIIME releases).

[2015-01-29 19:53] Jorge-C commented on #1759
:+1:
On Jan 29, 2015 12:50 PM, "Jai Ram Rideout" <notifications@github.com>
wrote:

[2015-01-29 20:00] ElDeveloper commented on #1759
:scream:

On (Jan-29-15|11:41), Jai Ram Rideout wrote:

[2015-01-29 20:05] colinbrislawn commented on #1759
On RHEL 6, the following commands work great!

[code]

As on RHEL 5 I get errors about the wrong glibc version. This would cause problems with fasttree and swarm. This is strange, as I've totally build trees on using fasttree and clustered with swarm. Would loading the newer `gcc` module solve this problem...

And of course blastall and the RDP classifier are not included in the package.

[2015-01-29 20:19] colinbrislawn commented on #1759
@ElDeveloper @jairideout @Jorge-C
I've just tested the `biom` commands again. No problems! :relieved:

[code]

These commands all work just fine. :+1:
[code]

Sorry to scare you guys.

[2015-01-29 20:27] jairideout commented on #1897
@ElDeveloper the [link to the data](http://bmf.colorado.edu/QIIME/QIIME_NM_2010.tgz) used in the original QIIME paper is down. Do you know where this file is hosted now?

[2015-01-29 20:30] jairideout commented on #1897
Also the [link](http://bmf.colorado.edu/QIIME/seed.16s.reference_model.sto.zip) in align_seqs.py pointing to a template Stockholm file for use with Infernal isn't working (this is another bmf.colorado.edu link).

[2015-01-29 20:33] ElDeveloper commented on #1897
Unfortunately I don't know what the location of any of these files is.
This pre-dates me joining the lab. Maybe @wasade or @antgonza would now.

On (Jan-29-15|12:27), Jai Ram Rideout wrote:

[2015-01-29 20:52] jairideout commented on #1897
Thanks @ElDeveloper! I'm thinking of adding links to these two files, assuming that they'll be recovered and moved to ftp.microbio.me in the future. Are the following paths okay?

ftp://ftp.microbio.me/qiime/QIIME_NM_2010.tgz
ftp://ftp.microbio.me/qiime/seed.16s.reference_model.sto.zip

[2015-01-29 21:10] jairideout commented on #1759
@colinbrislawn no worries, thanks for all of the testing, it's a huge help!

[2015-01-29 21:20] ElDeveloper commented on #1897
If the files can be recovered, then I can put them there for sure.

On (Jan-29-15|12:52), Jai Ram Rideout wrote:

[2015-01-29 21:37] jairideout opened #1914 "recover missing QIIME data files (bmf.colorado.edu)"
The following links to data files in the QIIME documentation/scripts are dead. I've listed what the link used to be, and where these files should be put in order to make these links work for the release:

- [ ] data used in the original QIIME paper
    - previously: http://bmf.colorado.edu/QIIME/QIIME_NM_2010.tgz
    - should be: ftp://ftp.microbio.me/qiime/QIIME_NM_2010.tgz
- [ ] align_seqs.py po

[2015-01-29 21:38] jairideout commented on #1897
Awesome, thanks! I've created a separate issue (#1914) to keep track of this.

[2015-01-30 06:29] quantrix commented on #1759
This is freaking amazing! Thank you for all your hard work! I already had anaconda install. So creating the qiime env and installing in there was a breeze! I am a relative newbie to anaconda and would like to help in some way.

Also, would it be possible to install the full deploy through pip into the qiime env with the base install?

[2015-01-30 06:34] quantrix commented on #1759
OK, I think I asked a dumb question there as I see there are non-python dependencies in that list. My question should rather be, If I manually install the non-python additional dependencies,

1) Can I make my qiime env detect these non-pythonic dependencies,
2) How do I go about doing that?

Thanks for the hints. Once again, THANK YOU for your wonderful work!

[2015-01-30 06:56] Jorge-C commented on #1759
Hi @quantrix! Note that this is experimental work, so expect things to be broken... However, we deeply appreciate any testing and error reporting that you may do :) Also, thanks @colinbrislawn  and @ebolyen for testing across many environments!

Regarding your questions, I think it should be possible to install the non-python dependencies manually, and they should be visible from the conda environ

[2015-01-30 07:10] ElDeveloper commented on #1759
I agree, thanks everyone for the testing this. While being able to
install the non-python dependencies is possible through conda, we want
to make sure that the base install is working well enough that we can
move on and devote more time to make a full installation possible.

Thanks for the feedback everyone!

On (Jan-29-15|22:56), Jorge Cañardo Alastuey wrote:

[2015-01-30 09:09] colinbrislawn commented on #1759
Hey @quantrix

Yes! In fact, that's what it does by default.

For example, I have `usearch` and `blastall` installed and in my path, and I have modules to load `R` and `h5py`. Whatever conda environment I am using recognizes all of them automatically. Basically, if you an can run a program before loading the conda environment, you can keep running it afterwards.

@ElDeveloper

:+1: That's the holy

[2015-01-30 14:29] gregcaporaso opened #1915 "update minimum biom version to 2.1.3"

[2015-01-30 15:22] #1766 closed

[2015-01-30 15:49] jairideout opened #1918 "test_rarefaction.py fails with biom-format 2.1.3 and h5py"
tests/test_rarefaction.py fails with biom-format 2.1.3 and h5py:

[code]

Seen the failure on Jenkins and locally (OS X). If I uninstall h5py and rerun the tests, they pass. This doesn't happen with biom-format 2.1.2.

[2015-01-30 16:10] Jorge-C commented on #1918
It seems to be related to normalizing [missing metadata](https://github.com/biocore/biom-format/pull/589) so maybe just editing the creation of
[code]
could be enough.

[2015-01-30 16:22] #1817 closed

[2015-01-30 16:23] jairideout commented on #1863
Fixed in #1917.

[2015-01-30 16:23] #1863 closed

[2015-01-30 16:35] #1897 closed

[2015-01-30 16:35] #1911 closed

[2015-01-30 16:36] jairideout commented on #1904
Fixed in #1913.

[2015-01-30 16:36] #1904 closed

[2015-01-30 16:55] jairideout commented on #1918
Thanks! I created an issue to track this bug (https://github.com/biocore/biom-format/issues/594). @gregcaporaso and I don't think this is release-blocking since this isn't something that should happen during normal use of QIIME (it only happens in a unit test, which we will update now).

[2015-01-30 16:58] gregcaporaso commented on #1866
Done:
https://groups.google.com/d/msg/qiime-forum/5tmvGNjh9Aw/SJ_c9A6jyZ8J

[2015-01-30 16:59] #1866 closed

[2015-01-30 17:04] adamrp commented on #1866
Does the qiime-help@colorado.edu account still exist? If so, it would be good to give it an auto-reply indicating that it is no longer monitored.

[2015-01-30 17:11] lkursell opened #1919 "Filter out de novo otus from otu table"
Given that open reference seems to be the standard, some analysis requires having only reference based OTUs, like combining OTU tables from multiple runs, or for preparing a biom table to use in PICRUSt. It would be handy if filter_otus_from_otu_table.py  had a --remove-denovo that removed all the OTUs that included "new", "cleanup", etc...and left only the Gg's IDS in.

[2015-01-30 17:20] antgonza commented on #1919
What about: http://qiime.org/tutorials/open_reference_illumina_processing.html#filtering-an-open-reference-otu-table-to-reference-otus-only
?

[2015-01-30 17:54] lkursell commented on #1919
Thanks! Then I’d only suggest that this use case get added to the -h documentation for the script

[2015-01-30 18:24] quantrix commented on #1759
Thank you folks! Much appreciated! I will keep testing and see if there are any issues. For reference I installed the anaconda 2.1.0 (64 bit) - python 2.7.9 on an ubuntu 14.04 for anyone wanting to install qiime.

I tried qiime earlier with qiime-deploy. Apart from taking HOURS for the install to move forward and finally CRASH without an installation, it is a huge pain. Cannot believe how easy it

[2015-01-30 21:00] #1915 closed

[2015-01-30 21:00] #1918 closed

[2015-01-30 21:17] #1896 closed

[2015-01-30 22:44] sowe9385 commented on #1024
Did this ever get resolved?  It doesn't seem very obvious still which scripts are included.  A Qiime forum member is asking.

[2015-01-30 23:16] quantrix commented on #1759
Hello all,
I appreciate your replies and wanted to ask another question. Please bear with me. I spent the last 3 hours reading the documentation on conda online from end to end and did not find an answer.

Now, if I want to import the "qiime env" into a script that I am writing to use qiime, how do I go about doing that? Because the qiime is only an "env" which needs to be activated, can I add the

[2015-01-30 23:48] Jorge-C commented on #1759
I do not know if it is possible to modify the environment using the shebang line (`#! /usr/bin/env python`), but you can definitely do
[code]
in the command line, and your script will use whatever is installed in the qiime conda environment. Hope that helps!

[2015-01-30 23:56] Jorge-C commented on #1759
As for your second question, the source code of the package is in `/path/to/anaconda/envs/qiime/lib/python2.7/site-packages` and you can find it doing e.g.
[code]

[2015-01-31 00:15] quantrix commented on #1759
Thanks Jorge for the quick reply!

Hmm, interesting! So in order to use my Python scripts, I need to change to the qiime env and run the scripts from there. OR, I change my default env to be the "qiime env" OR instead, maybe I can delete the qiime env and re-do an install in the root anaconda environment itself, correct?

I guess I can use the qiime env as a "test" environment and then re-install

[2015-01-31 00:19] Jorge-C commented on #1759
That's correct, if you install it in the root environment it will be immediately available. I guess you could also keep it in a different environment and source that environment in `.bashrc` to achieve a similar effect.

[2015-01-31 00:25] quantrix commented on #1759
Thanks Jorge. I probably should think a bit more before typing. However, it is possible to call it from the shebang line as well. You need to keep the path for your qiime python executable in mind. Here is a small script I wrote and it works.

#!/home/xxxxx/anaconda/envs/qiime/bin/python

#Test to run QIIME from the shebang line

import qiime

print dir(qiime)

[2015-01-31 00:29] Jorge-C commented on #1759
Ah, thanks @quantrix! I didn't realise that would also work :)

[2015-01-31 00:32] quantrix commented on #1759
Cool @Jorge-C! Anaconda and the Env model is a tad tricky for me. But I think it should be ok soon enough. But it is immensely helpful! and I LOVE it :-)

But your qiime bundle is amazingly helpful!

[2015-02-02 06:40] wasade commented on #1914
Inquiring

On Thu, Jan 29, 2015 at 2:37 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-02-02 15:11] jairideout commented on #1024
This didn't get resolved, though it's something that will be automated with QIIME 2. Depending on the workflow, the scripts are usually listed in the workflow's help text (i.e., running with `-h`) or in one of the tutorials. If the workflow has already been run, the scripts will be in the log file.

[2015-02-02 16:24] jairideout opened #1924 "build QIIME 1.9.0 AMI"

[2015-02-02 22:28] ElDeveloper commented on #1914
Thanks!

On (Feb-01-15|22:40), Daniel McDonald wrote:

[2015-02-02 22:45] wasade commented on #1914
This may be possible but it won't be something that can be done within the
next week, if possible at all. Does anyone have these files on hand?

On Mon, Feb 2, 2015 at 3:28 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-02-03 02:14] gregcaporaso commented on #1914
I'm looking around for them - it's likely that I have QIIME_NM_2010.tgz on a backup hard drive.

I don't have the Infernal template alignment - is anyone in contact with Jeremy? He might have that.

[2015-02-03 14:29] gregcaporaso commented on #1914
Looks like the infernal alignment is included under ``qiime_test_data``:

https://raw.githubusercontent.com/biocore/qiime/master/qiime_test_data/align_seqs/seed.16s.reference_model.sto

[2015-02-03 14:30] gregcaporaso commented on #1914
and the QIIME_NM_2010.tgz is here:
http://pypi.bearstech.com/QIIME/QIIME_NM_2010.tgz

[2015-02-03 22:18] jairideout commented on #1924
Built AMI and updated website. New AMI is ami-6a672402.

[2015-02-03 22:18] #1924 closed

[2015-02-04 17:12] gregcaporaso opened #1926 "should the qiime forum move to Biostars?"
Starting at the [Biocore 14.10 summit](https://hackpad.com/biocore-summit-v14.10-0wcyJBUqHFn), we've been discussing the future of the QIIME Forum, and whether we should migrate from Google Groups. There are a few core motivations for this:

 * The Google Groups searching functionality is surprisingly bad, making it hard for users to find posts related to their questions.
 * Because there is no up

[2015-02-04 17:21] antgonza commented on #1926
:+1: to BioStar option 2. Mainly because we could brand the forums as
you point out but also because we will not need to do any sys admin.

Features:
- Improved search engine. To be honest, almost anything will be better
that how Google groups search currently works.
- It will be great that upon submission the system, shows you a list
of similar questions/answers and ask you if you are sure if any

[2015-02-04 17:54] ElDeveloper commented on #1926
Thanks for starting this discussion. My opinion is geared towards moving
away from google groups as a support forum, as there are several other
options that provide more useful functionality for this purpose.

I'm all for using Biostars option 2, as @antgonza points out that way we
wouldn't have to do any system administration, but we would still have
control over the site.

One of the features th

[2015-02-04 20:23] ialbert commented on #1926
Let me first refer to the following as a partial brain dump of new features for Biostars 3.0: https://github.com/ialbert/biostar-central/issues/291

- a prototype should be ready in a few weeks
- email integration already exists (subscribe/reply to posts) but needs to be improved,
- exporting your list into an mbox or some simple, easy to parse format would help populating the site and make past c

[2015-02-04 20:50] rob-knight commented on #1926
Option 2 sounds good to me as March is so close and we won't have bandwidth before then anyway due to AGBT deadline for qiita...

On Feb 4, 2015, at 9:12 AM, Greg Caporaso <notifications@github.com<mailto:notifications@github.com>> wrote:

Starting at the Biocore 14.10 summit<https://hackpad.com/biocore-summit-v14.10-0wcyJBUqHFn>, we've been discussing the future of the QIIME Forum, and whether we

[2015-02-04 22:10] lkursell opened #1927 "Errors from duplicate headers in mapping file"
Some scripts handle errors in the mapping file, like duplicate headers, much cleaner than others, but there doesn't appear to be a check for these things in the parse mapping file calls, leading to some unintuitive errors.

See: https://github.com/biocore/emperor/issues/177

I encountered this with collapse_samples.py, which fails with:
ValueError: Shape of passed values is (14, 56), indices imply

[2015-02-05 01:59] gregcaporaso commented on #1926
Thanks for the link @ialbert, the feature list looks really relevant to what we want to be able to do.

I also agree that option 2 with BioStars sound like a good way to go, and that March 1 would work fine.

[2015-02-05 03:14] cleme commented on #1926
Thanks for bringing this up @gregcaporaso. I agree that Google Groups is less than ideal, and particularly so for search (not necessarily the only reason why similar questions are posted multiple times in the Qiime forum, though...)

I'm also with @ElDeveloper in the need for email updates and testing before switching. If I am reading it correctly biostars has 15,000 users while the qiime forum ha

[2015-02-05 03:34] ialbert commented on #1926
@cleme on scaling I don't expect problems until an order of magnitude change. Mostly because even with tens of thousands of users the number of simultaneous writes is not that large. Page reads are much easier to optimize. The site maintained the same performance while traffic doubled last year(without actually having to do anything) CPUs are still only at about 17% average load and we can easily

[2015-02-05 04:23] marina-yurieva commented on #1926
Option 2 sounds better. I'm already on BioStars and it is more convenient to have everything in one place instead of checking many different forums.

[2015-02-05 15:21] mlangill opened #1928 "R scripts error on biom files encoded with hdf5"
I was testing out the new **normalize_table.py** script and kept getting a cryptic error message (see below). This was due to the biom file being encoded in hdf5 instead of json. I'm not sure if new versions of the R biom package will be able to handle the hdf5 encoding, but for now it would be better to give a better error message so the user knows to convert their biom file to json format.

[cod

[2015-02-05 15:34] mlangill opened #1929 "Observation Metadata is lost or mangled by normalize_table.py"
When running normalize_table.py the "taxonomy" observation metadata is not properly encoded in the output file.

1) When using the `-a DESeq2` the taxonomy data is not included at all in the output file.

2) When using the `-a CSS` option the taxonomy data is broken into individual observation metadata for each taxonomy level:

[code]

[2015-02-05 16:04] jairideout commented on #1928
Thanks for reporting this @mlangill! I thought normalize_table.py was supposed to handle JSON and HDF5 files (it creates a temporary JSON file if the input is HDF5). @sowe9385 can you please take a look?

[2015-02-05 16:06] jairideout commented on #1929
@sowe9385 can you please take a look?

[2015-02-05 16:16] sowe9385 commented on #1929
Sure.  For 1.) taxonomy is purposely not included, since the output table includes negatives.
I'll look more into 2.) and let you know when we find out why.

[2015-02-05 19:56] alk224 commented on #1928
I get a similar error (see below).  If I use a table produced in qiime 1.8 (json) I don't get this error.

normalize_table.py -i cdhit_otus/raw_otu_table.biom -o cdhit_otus/raw_otu_table_CSS.biom -a CSS
Traceback (most recent call last):
  File "/usr/local/bin/normalize_table.py", line 142, in <module>
    main()
  File "/usr/local/bin/normalize_table.py", line 125, in main
    normalize_CSS(input

[2015-02-05 20:00] wasade commented on #1928
It looks like either QIIME 1.9 or BIOM 2.1.3 is improperly specifying the
table type. I'm seeing the following in the JSON files:

"type": null

Which would correspond with the error being produced

On Thu, Feb 5, 2015 at 12:56 PM, alk224 <notifications@github.com> wrote:

[2015-02-05 20:10] alk224 commented on #1928
I have biom-format 2.1.2 if it matters.

[2015-02-06 00:26] sowe9385 commented on #1928
@mlangill can you please detail how this .biom table was created?  Did you use make_otu_table.py? Thanks.

[2015-02-06 00:39] alk224 commented on #1928
Sophie emailed me that if she runs biom convert to specifically change my table to hdf5 or json it will normalize fine.  I confirmed this is the case.  Certainly a workaround for now, but puzzling make_otu_table is yielding something else for at least a couple of us.

enggen@OptimusPrime:~/Desktop/TestDataSets/16Smock/6kdata$ biom convert -i cdhit_otus/raw_otu_table.biom -o cdhit_otus/raw_otu_tabl

[2015-02-06 01:26] mlangill commented on #1928
My OTU table was created with pick_open_reference_otus.py back when it was creating hdf5 biom files by default, before this bug: https://github.com/biocore/qiime/issues/1849

I assumed it was an hdf5 problem because when I converted it to json it solved the problem. Didn't test with another hdf5 biom file.

[2015-02-06 01:27] mlangill commented on #1929
@sowe9385 Just because the table includes negatives why should the metadata not be included?

[2015-02-06 01:47] sowe9385 commented on #1929
Well, it wouldn't make much sense to make taxa plots with negatives.  There isn't a good solution for the negatives at the moment.

[2015-02-06 02:03] mlangill commented on #1929
Although currently taxa plots in qiime might not work well with negative values, other tools may be used to construct coherent plots, and these would still want to access the taxonomy information.

[2015-02-06 03:56] antgonza commented on #1929
Sorry for input so late on the game. Should negatives be drop? Also
@mlangill do you have examples of those tools? Just wondering how to
incorporate into qiime ...

[2015-02-06 18:50] mlangill commented on #1929
I think the output should not be altered in anyway and the observation and sample data be left as is.
Leave it up to the user if they want to replace negative values with zeros or if they want to collapse by taxonomy levels. I don't think this function should be trying to guess what users might be doing with the data downstream.

Personally, I am just starting to explore these methods (CSS and des

[2015-02-06 21:44] alk224 commented on #1926
Will the existing cache of forum discussion be able to be migrated to biostars?  I have referenced some posts there and it looks like a good system, but I would hate for all the existing shared knowledge to be left behind in the google group.

[2015-02-06 23:07] ialbert commented on #1926
I think it is important to migrate as much content as possible to maintain
an continuity and have search engines pick up the new location

While Google does not seem to offer an export capability, searches indicate
that people have published solutions of tools that are set up and crawl it.
If you can produce any type of organized data I can write you an import
script.

(as I mentioned before we ha

[2015-02-10 01:41] RNAer commented on #1926
all for option 2. Compared to a standalone qiime biostar, another advantage of it is to allow us to easily connect and interact with broader and diverser scientific communities that is steadily increasing in Biostar, which is clearly beneficial for both qiime users and developers.

[2015-02-10 15:50] gregcaporaso commented on #1929
I agree with @mlangill - the metadata that is associated with an OTU shouldn't change because of an OTU's count.

Negatives could always be filtered (e.g., with ``filter_otus_from_otu_table.py --min_count 0`` if you wanted to use the tables with QIIME. The way this currently works seems to be making an unnecessary assumption about how the data will be used.

[2015-02-11 15:55] ekopylova opened #1930 "Option to use another character to separate sample ID from sequence ID"
Currently the only option is the underscore '_' character. This would simplify downstream processing for users whose fasta sequence labels also contain underscores in the sequence ID.

[2015-02-11 15:57] antgonza commented on #1930
Not sure there is a general solution for this as a lot of the
downstream analysis rely on this.

Have the user tried add_qiime_labels.py?

[2015-02-11 15:58] gregcaporaso commented on #1930
This wouldn't work in the QIIME 1 framework (too many different scripts rely on that) but if there was strong motivation it could be considered for QIIME 2.

[2015-02-11 16:01] ekopylova commented on #1930
Some users have been asking about this on the QIIME forum, see this [thread](https://groups.google.com/forum/#!searchin/qiime-forum/Truncation$20of$20fasta$20headers$20containing$20underscores/qiime-forum/NTNCSM9KGcM/tD8C-KRpqD0J).

[2015-02-11 16:02] antgonza commented on #1930
Good point. Perhaps we should fully adopt and write down the benefits
of the demux hdf5 format.

[2015-02-11 16:13] josenavas commented on #1930
Agree with @antgonza, although we should pay attention if the limitation of the sample ids being only letters, numbers and the '.' character was our decision or it was an effort to follow the mimarks standard (or another standard...)

[2015-02-11 17:50] ElDeveloper commented on #1930
AFAIK, it was never a QIIME limitation, it was a limitation imposed by
some of the underlying tools that QIIME wraps.

On (Feb-11-15| 8:13), josenavas wrote:

[2015-02-11 18:37] rob-knight commented on #1930
It was to avoid conflicts with 3rd party packages, some of which may no longer be needed.

On Feb 11, 2015, at 8:13 AM, josenavas <notifications@github.com<mailto:notifications@github.com>> wrote:

Agree with @antgonza<https://github.com/antgonza>, although we should pay attention if the limitation of the sample ids being only letters, numbers and the '.' character was our decision or it was an ef

[2015-02-11 18:46] josenavas commented on #1930
Thanks for the confirmation @rob-knight
For qiime 2.0 we should check which are those packages and try to remove them. If not possible, we can write thin layers on the app controllers that make sure the sample ids are fixed for the execution of that application, and then the changes are reverted after the execution of such apps.

[2015-02-11 18:53] wasade commented on #1930
I really like the idea of using or extending the hdf5 demux format as we do
not have to worry about a delimiter and get random access to samples etc
On Feb 11, 2015 11:46 AM, "josenavas" <notifications@github.com> wrote:

[2015-02-11 18:54] wasade commented on #1930
...worry about the delimiter within the file storing sequence
On Feb 11, 2015 11:53 AM, "Daniel T. McDonald" <Daniel.Mcdonald@colorado.edu>
wrote:

[2015-02-11 19:15] josenavas commented on #1930
I will show more data soon, but I would say that another benefit from using hdf5 demux files is the compression that we get for free (reduces disk space significantly).

[2015-02-11 20:22] ElDeveloper commented on #1930
That sounds like a nice application note about the hdf5 demux format ...

On (Feb-11-15|11:15), josenavas wrote:

[2015-02-12 01:20] alk224 opened #1931 "need to be able to add counts to map file for testing whether data can be normalized"
Need a simple way to add read count data to a mapping file to ensure that table normalization doesn't create a statistical artifact leading to spurious significance.  Something like this, but perhaps elegant and with better error checking?

https://github.com/alk224/akutils/blob/master/add_counts_to_mapping_file.sh

[2015-02-12 15:08] gregcaporaso opened #1932 "gitter as a possible discussion forum?"
[Gitter](https://gitter.im/) looks really interesting, has anyone used this? It might be something to think about as we're in the process of re-thinking how we provide technical support (#1926).

[Here](https://gitter.im/ipython/ipython/help) is how IPython uses it.

[2015-02-12 15:25] ebolyen commented on #1932
It looks like IRC, just a web interface instead (with markdown and latex!). These are pretty common for developer tools, so it might make a lot of sense for scikit-bio, but I'm not sure qiime is the right target for this.

[2015-02-12 15:27] wasade commented on #1932
Nice: https://irc.gitter.im

No Linux app yet but generally looks awesome
On Feb 12, 2015 8:25 AM, "Evan Bolyen" <notifications@github.com> wrote:

[2015-02-12 15:33] gregcaporaso commented on #1932
I do think this could make sense as an open developer discussion forum (I didn't really mean to propose it as an alternative to e.g. BioStarts). I'd be happy to have us start testing for scikit-bio as a developer discussion forum. I do think it could be useful for QIIME in that context too (a lot of developer discussion does currently happen over IM).

[2015-02-12 15:49] ebolyen commented on #1932
That makes a lot of sense. @wasade There is a beta client for debian systems: https://github.com/gitterHQ/desktop

[2015-02-12 16:11] wasade commented on #1932
:boom:

On Thu, Feb 12, 2015 at 8:49 AM, Evan Bolyen <notifications@github.com>
wrote:

[2015-02-12 16:45] jairideout commented on #728
This script was removed in QIIME 1.9.0.

[2015-02-12 16:45] #728 closed

[2015-02-12 16:45] jairideout commented on #729
This script was removed in QIIME 1.9.0.

[2015-02-12 16:45] #729 closed

[2015-02-12 17:40] ElDeveloper commented on #1932
They had me at Lynx.

On (Feb-12-15| 7:27), Daniel McDonald wrote:

[2015-02-13 19:23] alk224 commented on #1029
@adamrp wrote something that did the trick last year (https://gist.github.com/adamrp/7591573) but it still has not been added to qiime functionality.  I pointed someone else requesting this feature on the forum to this script recently, so I think there continues to be interest.  The script as is requires packages that are not present in the new biom and also only interprets json tables and can't d

[2015-02-13 23:13] sowe9385 commented on #1929
ok - we'll change this.  However, please be aware that if you replace the negatives you neglect rare species, and will distort proportions in taxonomy plots/bar plots.  Addition of a constant to the matrices is a worse option that is not mathematically justified - given that the values are log-like transformed.

DESeq was not necessarily developed with extremely sparse microbial data in mind, and

[2015-02-16 18:35] wasade opened #1933 "Morisita Horn metric from beta diversity is not compatible with principal coordinates"
The metric is producing distance matrices in which the diagonal is not assured to be zero'd. This violates the hollow requirement of the skbio `DissimilarityMatrix`.

Should all methods from beta diversity produce matrices that are compatible with principal coordinates?

Not labeling as a bug as I'm not sure if this is valid by the metric or not.

cc @clozupone, who I believe is the original imple

[2015-02-16 20:03] ekopylova opened #1934 "Update jackknifed_beta_diversity.py online documentation (2D and 3D PCoA plots not generated any longer)"
As described in the [ChangeLog](https://github.com/biocore/qiime/blob/master/ChangeLog.md#qiime-180-11-dec-2013) of QIIME 1.8.0, jackknifed_beta_diversity.py workflow generates emperor PCoA plots instead of KiNG PCoA plots. The scripts make_2d_plots.py and make_3d_plots.py are no longer being called & 2D and 3D PCoA plots not generated, contrary to the description given [here](http://qiime.org/scr

[2015-02-16 20:28] gregcaporaso commented on #1933
This is a similarity metric, so the diagonal is supposed to be non-zero. It shouldn't be a requirement of a ``beta_diversity.py`` metric that it be compatible with PCoA. There are other metrics that don't produce distance matrices that are compatible with PCoA (e.g., UniFrac Gain matrices are not symmetric).

This would really be more of a semantic type that we'd want to associate with a resulting

[2015-02-16 20:45] wdwvt1 commented on #1933
I didn't think anything that was non metric was compatible with pcoa. gain
is non metric and I am not sure how pcoa on a gain matrix would work -
couldn't you get very misleading embedding because of the relaxed symmetry?
On Feb 16, 2015 12:28 PM, "Greg Caporaso" <notifications@github.com> wrote:

[2015-02-16 20:49] wasade commented on #1933
@gregcaporaso, the values are for the most part 0 along the diagonal from
what I saw but some there are some that are near zero that are throwing
things off. I was surprised to see the zeros given the description of the
method

That does answer the question though, thanks!

On Mon, Feb 16, 2015 at 1:45 PM, Will Van Treuren <notifications@github.com>
wrote:

[2015-02-16 20:52] wasade commented on #1933
Morisita Horn was used in PCoA in figure 4 [here](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2948603/), @justin212k, able to comment by chance?

[2015-02-16 20:53] gregcaporaso commented on #1933
@wdwvt1, that's what I said:

[2015-02-16 21:07] ekopylova opened #1935 "hardcoded /tmp directory using mothur taxonomic assigner"
There are a few threads like [this](https://groups.google.com/forum/#!searchin/qiime-forum/pick_open_reference_otus.py$20error$20deni/qiime-forum/p2iM02MCKi0/x1ewsB2oxh4J) one that fail to assign taxonomy using mothur because of no writing permissions to /tmp directory which appears to be hardcoded in the burrito-fillings mothur API.

More specifically, the 'temp_dir' in QIIME config seems to be i

[2015-02-16 23:07] wdwvt1 commented on #1933
@gregcaporaso - I parsed the sentence incorrectly - I read it as there are
other metrics that don't produce distance matrices, but that happen to be
compatible with PCoA. apologies.

On Mon, Feb 16, 2015 at 12:53 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-02-17 14:16] gregcaporaso commented on #1933
No problem @wdwvt1, that's what I figured.

[2015-02-17 15:52] wasade commented on #1933
I guess to rephrase the issue given the thread so far: Morisita Horn used to work with PCoA, but now it does not. Is this a bug?

[2015-02-17 17:26] justin212k commented on #1933
Yes, I think it is a bug - I think we're using the definition 1- C_H (<a href=http://en.wikipedia.org/wiki/Morisita%27s_overlap_index> here </a>). Should be zero on the diagonal and thus usable with PCoA.

[2015-02-17 17:31] wasade commented on #1933
Thanks, @justin212k. The source for the metric is in pycogent, so it may be the case that the origin of the bug is there but labeling as a bug in qiime for the time being as this is where the issue has been noticed.

[2015-02-19 00:26] colinbrislawn commented on #1926
:+1:  for option 2, waiting for Biostar 3.0 and creating a qiime community there.

The upvote/downvote system would greatly highlight the best solutions and facilitate relevant discussions.

A separate community for qiime users would help us answer the boring (but important!) questions about qiime without disrupting the diverse questions of the 'general' Biostar.

@ialbert It's good to see you on

[2015-02-23 19:15] adamrp opened #1939 "Document and add references for beta diversity metrics"
AFAIK, the documentation requested by the author of [this post](https://groups.google.com/forum/#!topic/qiime-forum/K2Bufi7qhas) on the QIIME forum does not exist.

[2015-02-23 21:12] adamrp commented on #1939
This is a comment from @wdwvt1 in that QIIME forum thread. Copying it here since it provides the relevant reference/information for one of the metrics:

[2015-02-23 21:38] rob-knight commented on #1939
Not quite accurate. Faith's PD is alpha diversity in one sample, not a calculated difference between samples. The term asymmetric UniFrac should not be used: although we invented it independently, G (for Gain in PD) per Faith 1992 has priority and should be used.

On Feb 23, 2015, at 1:12 PM, adamrp <notifications@github.com<mailto:notifications@github.com>> wrote:

This is a comment from @wdwvt1<

[2015-02-23 21:40] adamrp commented on #1939
Thanks for the correction!

On Mon, Feb 23, 2015 at 2:38 PM, Rob Knight <notifications@github.com>
wrote:

[2015-02-23 23:57] colinbrislawn commented on #1773
:+1: This is very much needed.

It just took me 30 minutes to join and 45 mins to split a single MiSeq run. I shutter to think what a HiSeq run takes.

[2015-02-24 00:32] alk224 commented on #1773
@colinbrislawn I may have a solution in the near future using a dependency called fasta splitter (http://kirill-kryukov.com/study/tools/fasta-splitter/), but I still need to add a step where the sample names of each split libraries output is modified.  Otherwise, you will have multiple sequences with identical IDs (one duplicate name for every separate core you utilize).

[2015-02-24 00:49] alk224 commented on #1773
I forgot I deleted that old repository.  That script now lives here.  I will probably rewrite the whole thing soon so it is less idiotic.

https://github.com/alk224/akutils-dev/blob/master/dev-split_libraries_parallel.sh

[2015-02-24 20:16] adamrp opened #1940 "split_libraries_fastq.py not-barcoded option not sufficiently documented"
There is no mention of it in the description of the `--barcode_type` option, and the usage example uses an option called `--sample_id`, but that is incorrect since the option is actually called `--sample_ids`.  I'm not sure why the usage tests are not failing there.

[2015-02-25 21:49] colinbrislawn commented on #1940
Hello @adamrp,

The `--barcode_type` option is near the bottom of the list on this page:
http://qiime.org/scripts/split_libraries_fastq.html

I'm looking into the discrepancy with the spelling of `--sample_id`... not sure which is right.

[2015-02-27 16:05] #1900 closed

[2015-02-27 21:29] mortonjt opened #1944 "Documentation on biplots"
I've been looking at the `biplots.py` code and I'm not understanding the math.

Typically a biplot is generated through a SVD - of course we don't have this luxury since the OTU information is lost when calculating the distance matrix.  Looks like in this code, taxa ratios are calculated and multiplied by the PCoA eigenvectors from the distance matrix.

I'm not completely convinced that this is co

[2015-02-28 01:35] ElDeveloper commented on #1944
CCing @danknights and @justin212k.

[2015-03-01 00:32] justin212k commented on #1944
I don't remember the biplot-on-pcoa reference. I do think it's useful sometimes, but afaik pretty unrelated to the biplots made from PCA / SVD analysis.

[2015-03-01 22:03] danknights commented on #1944
Unfortunately there was no reference for this. We used the weighted average of the coordinates of the samples containing a given bug to obtain the coordinates for that bug, where the relative weights were the relative abundances in the samples. Biplots can also be made directly from correspondence analysis.

[2015-03-01 22:17] rob-knight commented on #1944
The "usual" way of making them is from PCA, but with PCoA there aren't direct factor loading in taxon space hence the solution Dan describes.

On Mar 1, 2015, at 2:04 PM, danknights <notifications@github.com<mailto:notifications@github.com>> wrote:

Unfortunately there was no reference for this. We used the weighted average of the coordinates of the samples containing a given bug to obtain the coo

[2015-03-01 22:38] mortonjt commented on #1944
I think @danknights may be referring to [distance biplots](http://biol09.biol.umontreal.ca/PLcourses/Legendre_Canonical.pdf) in the context of canonical analysis.

This is great!  Thanks for quick response @justin212k , @danknights !

[2015-03-01 22:38] #1944 closed

[2015-03-01 23:48] danknights commented on #1944
Thanks. Actually I was referring to correspondence analysis biplots like on page 10 here: http://cc.oulu.fi/~jarioksa/opetus/metodi/vegantutor.pdf.

[2015-03-02 17:21] gregcaporaso opened #1946 "virtual box guest additions install instructions are out of date"
These are now posted on the wiki [here](https://github.com/biocore/qiime/wiki/QIIME-Virtual-Box:-Before-you-start), but are outdated. It's not possible to install the guest additions following the current instructions.

Can someone volunteer to update that wiki page?

cc @antgonza @josenavas

[2015-03-06 00:20] alk224 opened #1948 "Count data for taxa summary plots"
This was a function in <1.8, but no longer present in 1.9.  Was very valuable as now the only option is to slog through a spreadsheet.  Please restore!!

From the 1.8 scripts page:
-m, --include_html_counts
Include HTML counts. If present, the writing of the counts in the html table is included [default: False]

[2015-03-06 09:19] yysmile2014 commented on #1400
Hey, I have exactly the same problem. How did you solve it actually? Could you tell it in detail?

[2015-03-06 13:21] gregcaporaso commented on #1932
We've started using this, so I'm going to close this issue. Looks like free gitter is working for us for now, but the paid accounts are just too expensive.

[2015-03-06 13:21] #1932 closed

[2015-03-06 13:28] gregcaporaso commented on #1932
I posted [this](https://twitter.com/gregcaporaso/status/573837053353332741), let's see if they respond.

[2015-03-06 13:31] gregcaporaso commented on #1926
@ialbert, do you guys have an update on BioStar 3? I poked around the website and github repo and didn't see anything. We'd love to test out a prototype whenever one is ready.

[2015-03-06 13:35] gregcaporaso commented on #1400
@yysmile2014, are you using QIIME 1.9.0? If so, and you have the same use case that I mention above, you can call ``split_libraries_fastq.py`` without the ``-m`` option. This is a new feature in QIIME 1.9.0, so that specific fix won't work in earlier versions.

[2015-03-06 14:30] ialbert commented on #1926
no there is massive working being done, it is very close to a functional demo - perhaps one week off

https://github.com/ialbert/biostar-central/commits/3.0

off schedule mainly because we had way too many school closing days due to the weather

[2015-03-06 14:32] gregcaporaso commented on #1926
Ok, thanks, good luck!

[2015-03-06 17:09] gregcaporaso commented on #1932
Ask and you shall receive, we now have free Gitter Silver Plan for life for all biocore projects.

[2015-03-09 20:11] ebolyen commented on #1948
Hey @alk224, the option was removed because it produced incorrect results. It was a good example of a "feature" that made sense in the original context of the script, but the script evolved away from that and didn't take the feature with it. See #1149 for initial discussion and finally #1905 for when I removed it.

[2015-03-09 20:14] alk224 commented on #1948
@ebolyen, are the count data from the qiime 1.8 script invalid?  That is what I am using at present.  This is a very important function that should be available in this kind of analysis, and of course should produce accurate results.

[2015-03-09 20:15] ebolyen commented on #1948
They are not valid. Hence their immediate removal. We don't have a replacement for this functionality at this time.

[2015-03-10 02:18] brooksomics commented on #1759
I'm relatively new to using QIIME and have had success installing and going through the [Illumina tutorial] (http://nbviewer.ipython.org/github/biocore/qiime/blob/1.9.0/examples/ipynb/illumina_overview_tutorial.ipynb) by installing MacQIIME locally.

Recently I tried installing QIIME on our lab's Linux server (running a Gentoo OS), using:

[code]

Everything seems to work until the below step:
[co

[2015-03-10 02:43] gregcaporaso commented on #1948
@alk224, see #1149 for a discussion of what the specific problem was.

[2015-03-10 02:50] Jorge-C commented on #1759
Glad to hear that, thanks for the report!

Re. your issue, is your server headless? This might not be related to the installation method because matplotlib doesn't particularly like that, and this is how we solved it for our travis build: https://github.com/biocore/scikit-bio/commit/6e3f6f9ea5faa00a7a214f99e7e208e4dc755f82

You can also set the backend to e.g. agg (there are some details in this [

[2015-03-10 05:24] brooksomics commented on #1759
Thanks for the info.

Yes the server is headless.

I'm not familiar with .yml files and am a bit lost from your instruction. Should I uninstall conda and redo my installation using the referenced .travis.yml file or is this file already installed and I just need to modify lines 14 and 15?

[2015-03-10 05:35] Jorge-C commented on #1759
Sorry about that, I suggest you run the following bash commands and see if that fixes the problem:
[code]
Otherwise, the [qiime forum](https://groups.google.com/forum/#!forum/qiime-forum) might be a better place to ask. Thanks!

[2015-03-10 17:44] brooksomics commented on #1759
Our system's admin suggested I try ssh -Y instead of ssh -X. This allowed me to successfully finish the illumina tutorial without issue.

Thanks again for your thoughts.

[2015-03-10 17:45] Jorge-C commented on #1759
Thanks, that's great to hear!

2015-03-10 11:44 GMT-06:00 Bubba Brooks <notifications@github.com>:

[2015-03-10 19:11] alk224 commented on #1948
Thanks @gregcaporaso.  That is helpful.  Since I am passing in -a to summarize_taxa.py, I surmise that my html counts are indeed valid.

[2015-03-11 18:48] JWDebelius opened #1952 "Default parameters in multiple_rarefactions_even_depth.py remove observation metadata"
When you run `multiple_rarefactions_even_depth.py`, you have to know to pass the `--lineage_included` flag to keep the taxonomy labels on the rarefied tables.

It might be nice to include the lineage by default, and then have a flag for excluding them.

[2015-03-12 19:19] shafferm opened #1953 "Non-parametric extension of #1060"
I was looking into using the new identify_paired_differences.py script and wanted to use a nonparametric version.  I read through merge #1060 and issue #1040 I looked into the code and I think it wouldn't be too difficult to add an option or something to do the same thing but using wilcoxon signed rank test which is [already implmented in scipy](http://docs.scipy.org/doc/scipy/reference/generated/

[2015-03-12 23:59] gregcaporaso opened #1954 "supporting general sequence demultiplexing and "sequencing artifact removal""
In the context of a discussion of QIIME 2:

We've constantly hit challenges with supporting custom sequencing schemes. For example:
 * ``barcode-linker-primer-sequence`` (the "454" approach, i.e., what ``split_libraries.py`` supports)
 * ``barcode-primer-sequence`` (the "454" approach without the barcode)
 * ``barcode-linker-primer-sequence-barcode`` (dual indexing)
 * ``barcode`` (in one file), `

[2015-03-13 12:53] ialbert commented on #1926
Progress has been good. I expect the new Biostar demo site to be operational next week. What would make a big difference if your explored how the QIIME google group content could be exported into a text format. Some sort of web scraping might be needed as Google Groups does not seem to offer downloads. But there's got to be software/solutions to do that.

Any type of reasonably defined output form

[2015-03-13 16:37] ebolyen commented on #1926
That's awesome @ialbert! I can work on figuring out ways to serialize a google group. Will report back with any solutions here. A brief google seems to indicate they offer no API support whatsoever (what a surprise!), so it probably will require a web-scraper.

[2015-03-13 17:06] gblanchard4 opened #1955 "Virtualenv Documentation for Qiime and Linux"
I have noticed many people on the forum are having issues with the new way Qiime is installed via pip while maintaining working Qiime 1.8 installs. The install page references virtualenv and says it's the way most of you have it installed (as do I), but lacks documentation on how to do so.

Would a document explaining the process be useful for users?
Would this documentation belong in the qiime-de

[2015-03-13 17:26] ialbert commented on #1926
Here is an idea! If someone has the emails in their email client that could be exported/saved into mbox. I could use that.

[2015-03-13 17:50] ElDeveloper commented on #1954
This is a great idea! :+1: Seems to be the only way to possibly
accommodate the different setups sequences have nowadays!

Thanks!

Yoshiki.

On (Mar-12-15|16:59), Greg Caporaso wrote:

[2015-03-13 17:57] ebolyen commented on #1926
That would definitely be easy, but I don't know how many people would have a complete record. On the note of scraping, I am having a lot of success so far with PhantomJS and selenium. Everything is rendering and I am able to find elements. I think a robust solution would be to have the user put in the first few topics that are in the forum and the scraper can figure out the rest (it would seem goo

[2015-03-13 18:41] colinbrislawn commented on #1926
@ialbert I've got about two years of old emails from my the qiime google group saved to my email. @ me if you need my help.

[2015-03-13 19:20] ialbert commented on #1926
@colinbrislawn if you can save it as an mbox email it to me istvan.albert at gmail.com and I take a loot. We can also compare that to what @ebolyen can scrape off

[2015-03-13 20:32] colinbrislawn commented on #1926
@ialbert I would need to find a way to filter out the _rest_ of my email from the mbox file. I'll take at look at downloading and parsing it.

Would this still be worthwhile if I only have a fraction (say 70%) of the qiime forum?

[2015-03-13 20:56] colinbrislawn commented on #1955
Hello @gblanchard4

Yeah, deployment documentation is lacking partly because there is no single, 'best' way to get qiime. Although the official documentation mentions pip inside a virtualenv, some people including myself have had success installing qiime using an Anaconda virtual environment. See  https://github.com/biocore/qiime/issues/1759#issuecomment-69119812

I'm not sure what the 'recommende

[2015-03-13 21:02] wdwvt1 opened #1956 "plot_semivariogram.py plot limits bug"
If you pass only one of the options in either of [`--x_max`, `--x_min`] or [`--y_max`, `y_min`] the script won't honor the request. Both must be passed because of the lines in the script:

[code]

[2015-03-13 21:47] colinbrislawn commented on #1954
Every sequencing platform has it's own formats and conventions and error profiles, so :+1: for tackling this long term problem.

Here are some demultiplexing tools:
[Ea-utils](https://code.google.com/p/ea-utils/wiki/FastqMultx) (C++, already used for joining, MIT)
[FASTX-Toolkit](http://hannonlab.cshl.edu/fastx_toolkit/commandline.html#fastx_barcode_splitter_usage) (Perl :disappointed:)

A high-pe

[2015-03-13 22:47] ialbert commented on #1926
@colinbrislawn I am sure there are tools to filter mbox files like http://pamoller.com/mboxfilter.html

even a subset of emails helps, the site needs to be seeded so that new users find the new site rather than the old

[2015-03-13 22:53] adamrp commented on #1926
Seems like it might be worth waiting for a general solution from @ebolyen
rather than have to write a separate (and ultimately redundant) importer
for 2 yrs of emails, although it us a good thought and an impressive back
catalog from @colinbrislawn :)
On Mar 13, 2015 3:47 PM, "Istvan Albert" <notifications@github.com> wrote:

[2015-03-16 17:12] colinbrislawn commented on #1926
Google lets you elegantly sort and export your archived emails, so I now have my old qiime-forum emails in an .mbox file, if anyone wants it.

However, the google group only sends the first part of each message. Like this:
[code]

It would be easy to match that opening text block and the following conversations, but I'm not sure this if useful if all the messages are truncated.
@ialbert, Would you

[2015-03-16 17:20] colinbrislawn commented on #1926
When I was exporting my Google emails, I discovered you can elegantly export other Google products. Google Forums was on the list, but I was not able to export anything because I don't run this forum.

Perhaps the admin of qiime-forum@googlegroups.com could try to export the forum?
Link to export google data: https://www.google.com/settings/takeout

[2015-03-16 17:39] ialbert commented on #1926
@colinbrislawn the first format does not seem to contain the full information - it should be the original email message otherwise getting the actual content out gets complicated.  I would keep investigating as the email messages one gets from Google seem to be ok, I wonder why these are truncated that way. Then we'll have to see how the other options work as well.

[2015-03-16 19:21] ElDeveloper commented on #1926
I tried this out and it didn't work, note that I'm an admin of the QIIME
forum.

On (Mar-16-15|10:20), Colin Brislawn wrote:

[2015-03-16 19:37] colinbrislawn commented on #1926
@ElDeveloper It's too bad that the export does not work.

@ialbert I was receiving short emails because I had my Google Groups notification set to 'Abridged email.' If someone was using 'All email,' their emails would have the full messages.

[2015-03-19 22:22] zachcp commented on #1773
+1 for a faster `split_libraries` and `split_libraries_fastq`.

I wanted some extra speed and I ended up writing something similar to @alk224  which is based on the idea of splitting big fastq files, batch processing them in parallel and recombining the results.  You can check it out [here](https://github.com/zachcp/qiime-tools) under `parallel_split_libraries_fastq`. I am able to get a miseq `run

[2015-03-19 22:45] alk224 commented on #1773
@zachcp excellent and thank you!  I tried rewriting my old version a few weeks ago and it ran perfectly on test data, but kept messing on real data (I was running the old split_libraries_fastq.py simultaneously to check that I had identical outputs).  I had a similar speed up.  One thing I did manage to do was collate all the information from the output log files so that you have a coherent split_

[2015-03-20 17:24] alk224 opened #1961 "split libraries needs support for simple error correction"
Right now only 12 base golay codes are corrected.  Many people use indexes of lengths different from these and may need simple error correction (some number of allowed mismatches).  In practice, I have seen no real benefit to using 12 base golay codes over standard 6-base codes used by Illumina or 8 base codes that I designed myself.  I suspect this benefit has dramatically diminished with the adv

[2015-03-20 17:26] alk224 commented on #1961
Might be related to the issue here: https://github.com/biocore/qiime/issues/1954

I promise I searched, but nothing came up!

[2015-03-20 17:41] josenavas commented on #1961
Hi @alk224

Not all barcodes can be corrected. See more information about error correcting barcodes and the advantages of using golay 12 in these two papers:

http://www.ncbi.nlm.nih.gov/pubmed/18264105
http://www.ncbi.nlm.nih.gov/pubmed/22402401

[2015-03-20 18:06] alk224 commented on #1961
@josenavas The Hamady paper definitely addresses this, but in a way that isn't entirely accessible to me as it masks the biological advantages in a bunch of computer science jargon (hypersphere, what??).  I used only 12 base Golay codes (different I think than the Hamming approach, but not certain) for quite a while, and then had to do some nextera preps which use dual 6 base codes.  The Illumina

[2015-03-20 19:33] alk224 opened #1962 "Would like support for vsearch (open source)"
usearch is frequently used for chimera checking, but due to the RAM limitation, only small data sets can be assessed, or else the data needs to be broken up into subsearches (my current approach).  vsearch uses the same published algorithm but with no limitations as it is open source.  I have compared the chimera filtering for a couple of small data sets and get identical results with either the q

[2015-03-22 22:19] gregcaporaso commented on #1926
@ElDeveloper, I can make you an admin on the Qiime Forum if that will help
you with the export. Let me know.

On Mon, Mar 16, 2015 at 12:37 PM, Colin Brislawn <notifications@github.com>
wrote:

[2015-03-22 22:20] ElDeveloper commented on #1926
I'm an admin, but that didn't work regardless.

On (Mar-22-15|15:19), Greg Caporaso wrote:

[2015-03-22 22:21] gregcaporaso commented on #1962
Thanks @alk224, good to know about your comparisons. We're also interested in vsearch - it's something that we could end up supporting in QIIME 2.

[2015-03-22 22:26] gregcaporaso commented on #1962
Just a crazy thought since they say it's intended to be a drop-in replacement for usearch 7. If the command line interface for usearch 6 and 7 are the same (which I realize they probably aren't, but I can dream...) vsearch should just work with QIIME if you created a symbolic link to ``vsearch`` named ``usearch6`` (i.e., ``ln -s /usr/local/bin/vsearch /usr/local/bin/usearch6``).

Note this is *com

[2015-03-22 22:42] alk224 commented on #1962
The symlink idea crossed my mind, but in looking at the log from identify_chimeric_seqs.py, I wasn't sure if all the options would translate.  Doesn't mean it won't work, but I also think if anyone tries this they need the symlink to be called usearch61, and probably also means removing the usearch61 binary from its existing location to avoid conflict (something else I wasn't ready to do).

Anyway

[2015-03-23 15:20] ialbert commented on #1926
This week a beta test will commence here is the QIIME group:

http://qiime.test.biostars.org/

Some functionality may be broken or not performing as intended or as I am
still hooking things up.  The site could also be periodically offline etc.

But overall it shows the main feature of isolation of posts across groups
and building independent communities.

Main site:

http://test.biostars.org/

vs

[2015-03-23 16:51] colinbrislawn commented on #1926
@ialbert I'm glad this is up and running, even if it's not ready for prime time.

I've changed my email settings so that I receive full copies of qiime-forum posts. This means that I have a running copy of the whole qiime-forum from March 2015 onward. You mentioned the importance of 'seeding' biostars with important older posts so that users will google their way into biostars, and I completely ag

[2015-03-23 17:36] ElDeveloper commented on #1926
@ialbert, the site looks very neat, congrats on the awesome work! I just
signed up, I would like to see what the email support is like, so I'm
looking forward to someone creating some posts and get the discussion
started.

Thanks @colinbrislawn!

On (Mar-23-15| 9:51), Colin Brislawn wrote:

[2015-03-25 01:19] wdwvt1 opened #1963 "filter_taxa_from_otu_table.py uninformative error"
When attempting to filter an OTU table down to only a specific taxonomy string (`-p` option), if the taxonomy is not found the script will error with a non-informative message. It will also create a malformed HDF5 table in the specified output location.

Here is an example that creates a small table that produces the error:
[code]

Then, attempt to filter with
[code]
Errors with:
[code]

[2015-03-25 06:39] ElDeveloper commented on #1963
@wdwvt1, I was able to reproduce the bug, and I think I found the
culprit. See the links below. (1) biom's err.py module tags the check
for "empty tables" as errors that can be "ignored" and (2) even if that
was not the case the raised error is pretty bad from the context of a
QIIME script.

[code]

https://github.com/biocore/biom-format/blob/master/biom/err.py#L322
https://github.com/biocore/biom

[2015-03-25 14:38] wasade commented on #1963
One fix is for qiime to use bioms seterr and set empty='raise'
On Mar 25, 2015 00:39, "Yoshiki Vázquez Baeza" <notifications@github.com>
wrote:

[2015-03-25 15:28] ElDeveloper commented on #1963
Yeah, so probably this should be done at the module level?

On (Mar-25-15| 7:38), Daniel McDonald wrote:

[2015-03-25 15:51] wasade commented on #1963
I think so

On Wed, Mar 25, 2015 at 9:28 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-03-25 16:09] ElDeveloper commented on #1963
If others agree to this solution, I can try putting it in place, but
since it affects the behavior of the whole package, I would rather be
cautious about it.

On (Mar-25-15| 8:51), Daniel McDonald wrote:

[2015-03-25 16:23] wasade commented on #1963
you can encapsulate it

[code]

On Wed, Mar 25, 2015 at 10:09 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-03-25 16:40] ElDeveloper commented on #1963
:boom:, yes that can be done, but then should that be done on a
case-by-case basis or at the module level. I don't think we've
historically allowed empty tables in QIIME (of course this could
change), so maybe doing it at the module level would make more sense.

On (Mar-25-15| 9:23), Daniel McDonald wrote:

[2015-03-26 20:45] gregcaporaso commented on #1926
Hi all, The qiime-specific site seems to be redirecting me to the main site
(I go to http://qiime.test.biostars.org/ and end up at
http://test.biostars.org/). Is that expected?

On Mon, Mar 23, 2015 at 10:36 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-03-26 22:06] ialbert commented on #1926
just go ahead and create a new group called qiime , this is a test site that periodically gets reset as I test stuff.

today I pushed out a new version but looks like I forgot to recreate the group

[2015-03-26 22:08] ialbert commented on #1926
You can create a group here

http://test.biostars.org/g/list/

[2015-03-26 23:09] gregcaporaso commented on #1926
Thanks, just did that here:
http://qiime1.test.biostars.org/

On Thu, Mar 26, 2015 at 3:08 PM, Istvan Albert <notifications@github.com>
wrote:

[2015-03-26 23:34] gregcaporaso commented on #1926
This looks really nice @ialbert.

Have we had any progress on figuring out how to scrape all of the content from Google Groups? cc @ElDeveloper @ebolyen @colinbrislawn I don't have all of the Qiime Forum emails sent to me directly (I get the digest), but maybe someone else does which would let us try the mbox idea, @antgonza maybe?

[2015-03-26 23:56] RobMoser opened #1965 "Requirements in Installation docs"
The version requirements for python (pre-3.0) would be a useful addition to the installation doco here:

http://qiime.org/install/install.html

[2015-03-27 00:02] ebolyen commented on #1926
So I have a very primitive scraper, unfortunately, it is really a one-time thing, as it depends on so many specifics of the UI which is unfortunate. Additionally google group's pagination doesn't actually go much past 30, so I have to manually scroll the index on phantomJS (which means I need to figure out how to clear the dom once in a while or it will take a stupid amount of memory). All in all,

[2015-03-27 00:06] ebolyen commented on #1926
@gregcaporaso also, while there is a lot of content on the google groups, I strongly suspect we don't want most of it. Almost all of doesn't match the format of a Q/A and it would largely drown out anything else on the site. I think it may be more work to *effectively* seed from the entire history, then even trying to get at it in the first place.

[2015-03-27 00:09] ialbert commented on #1926
If you can get 2000 messages out that would a pretty good start.

the way emails are transformed into the Q&A format is that thread starter become the question, replies to the thread starter become answers and replies to answers become comments.

So one thread from the email list becomes just one page on the site.

[2015-03-27 00:16] ebolyen commented on #1926
I'm not confident that their DOM structure is that expressive (such that I could determine the reply relationships) but I will look into that as a step. There's basically 3 unsolved issues in that case:
 * How not to run out of memory. (I would hope I could just mutate the DOM, but I fear there will be ghost elements from the javascript)
 * How to retrieve the useful parts of a thread and their re

[2015-03-27 00:41] ialbert commented on #1926
here is an idea: put out a call on the user group - some people may have the full emails that they could export

[2015-03-27 13:30] gregcaporaso commented on #1926
@ialbert, we'll chat about this today and get back to you on it. Thanks!

[2015-03-27 14:33] gregcaporaso commented on #1926
@antgonza found a few possible approaches to scraping google groups:

http://saturnboy.com/2010/03/scraping-google-groups/
https://github.com/auzigog/google-groups-php-api/issues/1
https://www.google.com/settings/takeout

[2015-03-27 15:24] jairideout commented on #1926
I agree with @ebolyen that seeding Biostars with the QIIME forum google group may not be that effective.

Based on @ialbert's description of how the import would work, I think we'll end up with a question per thread (which makes sense), but the first reply to the thread starter will become the one (and only) answer, and all following messages will be comments on the "answer". Often times, this "an

[2015-03-27 15:26] alk224 commented on #1926
Second that, Jai.  As a user, I don't want to see that old stuff.  Plus so
much of the forum is old enough as to be outdated from questions about
scripts that are no longer used or have changed.

--
Andrew Krohn
PhD Candidate, NAU Biological Sciences
Research Technician, EnGGen

On Fri, Mar 27, 2015 at 8:24 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-03-27 15:46] rob-knight commented on #1926
Perhaps this is too radical a suggestion but what if we limp along with the current forum until qiime 2.0 and make a clean break then?

On Mar 27, 2015, at 8:26 AM, alk224 <notifications@github.com<mailto:notifications@github.com>> wrote:

Second that, Jai. As a user, I don't want to see that old stuff. Plus so
much of the forum is old enough as to be outdated from questions about
scripts that are

[2015-03-27 16:01] cleme commented on #1926
I favor Rob's idea. Seeding the old posts into Biostars does not seem trivial, so we could keep things under google forums for now when previous posts can still be useful for reference. Once we transition to Q2 I think those older posts will probably be less relevant

[2015-03-27 16:05] colinbrislawn commented on #1926
I support @rob-knight's idea as well. I clean start matches the QIIME 2.0.0 design philosophy.

[2015-03-27 16:59] jairideout commented on #1926
:+1:

[2015-03-27 18:45] gregcaporaso commented on #1926
Ok, I agree that this probably is the way to go (i.e., wait until QIIME 2).

[2015-03-27 18:46] gregcaporaso commented on #1926
And in the meantime, we can start using the new BioStars for other projects, such as scikit-bio, biom, Qiita(?), etc?

[2015-03-27 21:31] rob-knight commented on #1926
Sounds good…

On Mar 27, 2015, at 11:46 AM, Greg Caporaso <notifications@github.com<mailto:notifications@github.com>> wrote:

And in the meantime, we can start using the new BioStars for other projects, such as scikit-bio, biom, Qiita(?), etc?

—
Reply to this email directly or view it on GitHub<https://github.com/biocore/qiime/issues/1926#issuecomment-87049859>.

[2015-03-30 18:19] colinbrislawn commented on #1962
@gregcaporaso

That worked for all my automated usearch scripts. It should work for qiime.

I think your idea of incorporating vsearch into QIIME 2 is a better idea then 'dropping it in'. As an example, `identify_chimeric_seqs.py` outputs a list of chimeric sequence IDs, which are then filtered from the input fasta file. Currently, both usearch and vsearch can directly output the chimera checked f

[2015-03-30 18:30] colinbrislawn commented on #1962
@alk224

Better then translate! vsearch implements most of usearch 7 which is really elegant. Here is ref-based chimera checking.

[code]

I'm really excited by the software @torognes and @frederic-mahe are developing.

[2015-03-31 09:02] frederic-mahe commented on #1962
Thanks for your support @colinbrislawn! We would be very happy to see `vsearch` embedded in QIIME 2.0.

[2015-03-31 13:05] gregcaporaso commented on #1962
@frederic-mahe, the GPL makes it hard for us to "embed" it, as QIIME 2 will be licensed under BSD. Any chance that you guys would consider a BSD-compatible license for vsearch? Or some type of dual licensing approach (which I'm not very familiar with)?

[2015-03-31 13:05] gregcaporaso commented on #1962
We are very interested in vsearch though, thanks for your work on it!

[2015-03-31 13:16] torognes commented on #1962
Exactly which variant of the BSD license will be used for QIIME 2?

[2015-03-31 13:36] gregcaporaso commented on #1962
We'll most likely use the 3-clause, exactly the same as we do for scikit-bio (that license is [here](https://github.com/biocore/scikit-bio/blob/master/COPYING.txt)). [Here](http://nipy.org/nipy/stable/faq/johns_bsd_pitch.html#johns-bsd-pitch)'s a good discussion that summarizes some of the ideas that led us to switch from GPL.

[2015-03-31 16:50] frederic-mahe commented on #1962
Hi, the document @gregcaporaso is pointing to is a bit misleading. It promotes that false idea that the GPL is viral (which sounds frightening), while pointing to an article in limuxinsider saying exactly the opposite:

"Contrary to what some operatives might want us to think, the GPL and other open-source licenses do not have some special magic feature that allows them to infect other software. T

[2015-03-31 17:33] jairideout opened #1966 "add note to AWS tutorial about correct user to run commands as"
@adamrp ran into an issue with matplotlib when using the QIIME 1.9.0 AMI to execute the Illumina overview tutorial. It turns out that commands need to be run as the `ubuntu` user, otherwise matplotlib won't find the correct matplotlib config file to load (which sets the Agg backend).

This applies to running commands directly on an instance (e.g., by ssh-ing in) or via an IPython Notebook server.

[2015-03-31 17:39] colinbrislawn commented on #1962
This is a complicated issue with a long history.

Specifically, the (A)GPL places limits on how you can 'convey' software: 'convey' meaning "any kind of propagation that enables other parties to make or receive copies" [link](https://www.gnu.org/licenses/agpl-3.0.html)

USEARCH  has a strong, closed source license, which strictly prevents the the QIIME devs from bundling it with qiime. "Licensee w

[2015-03-31 19:35] gregcaporaso commented on #1966
Thanks @jairideout!

[2015-03-31 19:37] gregcaporaso opened #1967 "create workshop tutorial setup wiki"
this should:
- [x] derive and update from [this document](https://docs.google.com/document/d/1lkQaTrjpmhCvjLspbnoT2_I1NzjWvNP_LdrDpq0-vng/edit).
- [x] include #1966

[2015-04-01 21:13] colinbrislawn commented on #1759
Sorry to resurrect an old issue, but I've been doing some additional testing.

Once qiime 1.9.0 launched, were the conda packages updated?

If not, conda + pip + github works almost as well. I just ran this successfully on Mac 10.8.5 and RHEL 5.

[code]

[2015-04-02 04:00] ElDeveloper commented on #1759
Good to hear that.

@gregcaporaso, @jairideout, @ebolyen, @antgonza, @josenavas, @wasade,
@adamrp, would any of you have an objection if @Jorge-C and I created a
"biocore" account in binstar so we can officially have this and other
conda packages available through www.binstar.org?

On (Apr-01-15|14:13), Colin Brislawn wrote:

[2015-04-02 12:14] antgonza commented on #1759
Go for it.

[2015-04-02 14:48] josenavas commented on #1759
:+1:

2015-04-02 5:14 GMT-07:00 Antonio Gonzalez <notifications@github.com>:

--
Jose Navas

[2015-04-02 16:38] colinbrislawn commented on #1759
:+1: Awesome!

If this is something you plan on supporting in the future, I would love to see this be the recommended way to get the QIIME 'base install' in the [installation tutorial](http://qiime.org/install/install.html). If this bundle includes some common, precomplied programs like uclust, swarm, and sortmerna, that's even better.

conda + more conda > conda + pip + github

[2015-04-02 18:33] ElDeveloper commented on #1759
In an ideal world we should be able to replace the qiime-deploy project
with a series of conda receipes, but there's still a lot of testing to
be done to verify that such plan would work, though I agree, it would be
awesome!

On (Apr-02-15| 9:38), Colin Brislawn wrote:

[2015-04-02 18:59] wasade commented on #1759
:+1:

On Thu, Apr 2, 2015 at 12:33 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-04-02 22:50] mortonjt opened #1968 "Idea about CLI handling"
I just had a very crazy idea.

What if we have command line interface scripts built during the installation process?
When `python setup.py build` is called, some script will be called and will parse all of the numpy doc strings in the file. Those functions with doc strings that have some sort of build specification will be used as the main function in the generated scripts.

This will ultimately a

[2015-04-02 22:54] josenavas commented on #1968
Hi @mortonjt

That is not a crazy idea. It has been deeply discussed and it is a main goal of QIIME2. However, numpy documentation is not likely enough, and we came up with a type system definition. @ebolyen and @jairideout have a demo about the typing system.

I already have base code that will work to do this :-)

[2015-04-02 22:54] mortonjt commented on #1968
:+1:

[2015-04-02 22:55] mortonjt commented on #1968
Didn't know about that.  Very cool!  I would like to see that demo sometime.  Maybe we can do something similar in Emperor

[2015-04-02 22:56] #1968 closed

[2015-04-02 23:43] adamrp commented on #1759
:+1: !

On Thu, Apr 2, 2015 at 12:59 PM, Daniel McDonald <notifications@github.com>
wrote:

[2015-04-03 02:32] wasade commented on #1968
To expand, it was discussed [here](https://hackpad.com/Biocore-summit-14_12-Flagstaff-QIIME-2.0-code-sprint-VzNyOoIJkWd#:h=Plugin-system-discussion). What we want to do is avoid parsing and inferring. The draft implementation (at least back in Flagstaff, and I realize this is totally influx) made heavy use of decorators. The beauty of it was that we could trivially generate numpydoc, as well as ge

[2015-04-03 15:31] mortonjt commented on #1968
Thanks!
On Apr 2, 2015 8:32 PM, "Daniel McDonald" <notifications@github.com> wrote:

[2015-04-03 19:25] walterst commented on #1954
To clarify this, is the plan to merge (and add to) the functionality of extract_barcodes.py, split_libraries.py, and split_libraries_fastq.py, potentially using the workflow (https://github.com/biocore/scikit-bio/blob/bf0d8c6b6fd61ebc168b2af91bc021c90d595f18/skbio/workflow.py) approach? If coupled to the quality filtering (and the specific differences in 454 and Illumina style quality filters), th

[2015-04-04 15:33] klm0318 commented on #1567
Hello! I know this was closed a long time ago, but I am also having trouble with a broken link in the tutorial. Can you please help? Thanks.

[2015-04-06 13:34] gregcaporaso commented on #1567
@klm0318, are you still having this issue? I'm able to get to the page ok, so it may have been a temporary outage.

[2015-04-06 13:44] gregcaporaso commented on #1954
I think there are ways to do this cleverly that would make it not grow very large, but it would require careful planning. Sadly, I don't have the bandwidth to take this on right now, but I see it as more of a QIIME 2-timeframe goal.

[2015-04-08 18:39] bwawrik opened #1969 "KeyError"
Hi,

I'm trying to run qiime out of a docker. Everything installed well and seems to work great until I get to aligning my sequences.  I run the following command :

$ align_seqs.py -i rep_set.fna -t Silva_108/core_aligned/Silva_108_core_aligned_seqs.fasta -o pynast_aligned

I use an older version of Silva to keep the memory footprint small.  The files work fine on the qiime virtual box that I typ

[2015-04-09 06:38] #1956 closed

[2015-04-09 22:05] hsokol opened #1970 "Downloading problem"
Hello
I cannot download the 1.9 version of the virtual box image. The download starts but then fail after few minutes
Can you help me?
Thanks

[2015-04-10 16:12] jairideout opened #1971 "multiple_split_libraries_fastq.py ignores --read_indicator option when --demultiplexing_method=sampleid_by_file"
When running `multiple_split_libraries_fastq.py` with `--demultiplexing_method sampleid_by_file`, `--read_indicator` is ignored. From looking at the code, it looks like this option is only used with `--demultiplexing_method mapping_barcode_files`.

Use case (from [this forum post](https://groups.google.com/d/topic/qiime-forum/Fd_2n57jVtU/discussion)):

You first run `multiple_join_paired_ends.py`

[2015-04-13 17:35] JWDebelius commented on #1688
:+1: for encoding empties as missing data, or at least, having a consistent method for encoding missing samples.

[2015-04-14 21:03] gregcaporaso opened #1972 "update minimum version of ``qiime-default-reference`` to 0.1.2..."
... when that release goes live. See bug description on biocore/qiime-default-reference#14.

[2015-04-16 17:35] #1972 closed

[2015-04-16 20:34] johnchase opened #1974 "The taxonomy level of make_otu_network.py should not be hardcoded."
When running `make_otu_network.py` The taxonomy level in the output is always level 6. This should either be user defined, or the default should be all levels of taxonomy. The latter is probably the better solution as the user could then determine taxonomy level with `summarize_taxa.py`

This come from line 144 in qiime/make_otu_network.py
`con = ':'.join(otu_md['taxonomy'][:6])`

This should be a

[2015-04-16 20:45] jairideout commented on #1974
cc @cleme @wdwvt1

[2015-04-16 20:56] cleme commented on #1974
The code was inherited from Julia Goodrich and modified during the infamous first biom code sprint, that particular line was kept as it was to make sure nothing would break downstream.

[2015-04-17 13:40] iMammal commented on #1759
I was able to install qiime but when i tried to run the command print_qiime_config.py -tb, it gave me the following error:-

(qiime190)[anaqib2@login-1 ~]$ print_qiime_config.py -t
Traceback (most recent call last):
  File "/export/home/anaqib2/anaconda3/envs/qiime190/bin/print_qiime_config.py", line 4, in <module>
    __import__('pkg_resources').run_script('qiime==1.9.0rc2', 'print_qiime_config.p

[2015-04-17 13:46] gregcaporaso commented on #1926
Thinking more about this...

Since we get support questions for many of our different tools on the QIIME Forum, maybe we should create a general biocore forum on BioStars, and start directing the non-QIIME questions there. We can tag questions based on software package, and if any QIIME stuff does come up there we can tag as QIIME1 (ultimately vs QIIME 2).

Google Groups is just *so bad*. Since it

[2015-04-17 13:51] antgonza commented on #1926
:+1:

[2015-04-17 17:51] Jorge-C commented on #1759
@iMammal what's the output of `java -version` from a command line?

[2015-04-17 19:49] iMammal commented on #1759
What version does it need to be?
I have 1.5.0 now but that can easily be upgraded.

-bash-4.1$ java -version
java version "1.5.0"
gij (GNU libgcj) version 4.4.6 20120305 (Red Hat 4.4.6-4)

Copyright (C) 2007 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-bash-4.1$

[2015-04-17 20:20] iMammal commented on #1759
I tried the same set of installation commands on another account on both
java 1.5.0 and after upgrading to java 1.7.0 and I got this different error:

(qiime190a)-bash-4.1$ print_qiime_config.py -tb
Traceback (most recent call last):
  File
"/export/home/clustcrilab/tools/anaconda/envs/qiime190a/bin/print_qiime_config.py",
line 4, in <module>
    __import__('pkg_resources').run_script('qiime==1.9.

[2015-04-17 20:54] #1832 closed

[2015-04-17 20:58] jairideout commented on #1970
Sorry for the inconvenience. This issue was posted on the [QIIME forum](http://forum.qiime.org) and server administrators are working on a fix. I think downloads should work now, but take a little while to start.

[2015-04-17 20:58] #1970 closed

[2015-04-17 21:00] jairideout commented on #1969
Can you please post your question on the QIIME forum? See http://help.qiime.org for instructions on getting help with QIIME.

[2015-04-17 21:00] #1969 closed

[2015-04-17 21:02] jairideout commented on #1965
:+1:

[2015-04-17 21:09] Jorge-C commented on #1759
The qiime build you're using (note that it's a release candidate, we haven't updated it after the final release, so it may not have bug fixes, etc) is only compatible with UCS-4 Python. Anaconda and all its packages in linux are also UCS-4 compatible. However, your Python installation is for some reason linked to a UCS-2 `libpython.so` that's not from anaconda, because it should really be using UC

[2015-04-19 18:51] cleme opened #1975 "Potential issue with FastTree"
@gregcaporaso @wasade see below, I think this problem might also be affecting us

http://darlinglab.org/blog/2015/03/23/not-so-fast-fasttree.html

[2015-04-19 20:38] wasade commented on #1975
Ya, I saw the DP patch go in the other day. When we benched FastTree and
RAxML years ago, we did tip-to-tip distance matrix comparisons against
simulated trees, and the results were highly correlated even on large
alignments. For Greengenes, I don't recall seeing the step-down behavior
noted in the article when looking in ARB. The input alignments we use
typically are around 1400 columns iirc afte

[2015-04-20 15:02] gregcaporaso commented on #1975
Do we know if the latest version of FastTree works with our existing application controllers? If so, we could probably update this as part of the 1.9.1 milestone, but if it'll require new code we should hold off for now.

[2015-04-20 15:04] gregcaporaso opened #1976 "install sourcetracker 1.0 in virtual machines"
This doesn't require any code changes in QIIME, just installing a different version into the virtual machines.

[2015-04-20 15:20] wasade commented on #1975
Strongly suspect so as its a micro release, and we haven't previously had
issues with micros for fasttree. I have not tested this however

On Mon, Apr 20, 2015 at 9:02 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-04-20 15:21] gregcaporaso commented on #1975
Ok, thanks.

@cleme, any chance that you'd have some bandwidth to test in the next day or so?

[2015-04-20 15:23] wasade opened #1977 "Update dependency to BIOM 2.1.4 (bugfix release)"
I'm a terrible human being for not having this out yet.

[2015-04-20 15:27] gregcaporaso commented on #1977
@wasade, do you have an ETA for the release? I assume that we'll want this version inclused in the 1.9.1 virtual machines?

[2015-04-20 15:30] gregcaporaso opened #1978 "IPython 3.1 update"
- [x] update minimal dependency in setup.py
- [ ] update and test tutorial notebooks

[2015-04-20 15:30] gregcaporaso commented on #1978
I did this recently for IAB, so I'll take care of it.

[2015-04-20 15:35] wasade commented on #1977
Wednesday, that work?

On Mon, Apr 20, 2015 at 9:27 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-04-20 15:38] gregcaporaso commented on #1977
That'd be perfect, thanks!

On Mon, Apr 20, 2015 at 8:35 AM, Daniel McDonald <notifications@github.com>
wrote:

[2015-04-20 19:18] gregcaporaso commented on #1977
Just for the record, this will address biocore/biom-format#599 (correct me if I'm wrong about that please @wasade).

[2015-04-21 12:51] antgonza opened #1979 "pick_otus.py -s accepts values > 1"
I tested this with sortmerna but guess the same issue exists for other picking methods. The issue is that you can pass -s 97 and an error is raised during the command creation vs. having it raise an error from pick_otus.py. For example
[code]

[2015-04-21 14:12] iMammal commented on #1759
Ok! I got it! I had to put Python 2.7.6 in my exec path to get rid of the
python errors (I had 2.6.6 in there by default).

Then I got the java errors again like I had on the other account. I then
switched to java 1.7.0 and I got no more errors and beautify output instead.

Thanks!

On Fri, Apr 17, 2015 at 4:09 PM, Jorge Cañardo Alastuey <
notifications@github.com> wrote:

[2015-04-21 17:47] jairideout commented on #1976
This change should happen in qiime-deploy-conf so that the VirtualBox and AMI both get this installed automatically and qiime-deploy users also get the same version of SourceTracker.

[2015-04-21 21:46] walterst opened #1980 "Add adjust_seq_oriention option to extract_barcodes"
for barcode_single_end methods. Currently doesn't attempt primer searches or orientation for this option.

[2015-04-22 15:35] jairideout opened #1981 "differential_abundance.py unit test failure"
The following differential_abundance.py unit test is failing when Jenkins runs the nightly tests:

[code]

@sowe9385 can you please look into this? This test started failing around 5 days ago, maybe it's related to a new version of metagenomeSeq?

[2015-04-22 15:46] jairideout opened #1982 "require matplotlib != 1.4.2"
setup.py should be updated to exclude matplotlib 1.4.2 because the taxa summary area plots don't show up with this version (see #1799 for details). Older and newer versions seem to work.

[2015-04-22 15:54] gregcaporaso opened #1983 "Bray-Curtis computation gives VisibleDeprecationWarning"
This shouldn't be affecting results, just noting here so we can track it. Tagging for 1.9.1 in case it's an easy fix.

[code]

[2015-04-22 15:59] jairideout commented on #1983
This isn't an easy fix because PyCogent will need to be updated. Alternatively, we could catch and silence these warnings, though that seems dangerous.

[2015-04-22 16:02] gregcaporaso commented on #1983
Agree. Is this coming directly from PyCogent's Bray-Curtis implementation? If so, maybe we could just call SciPy's Bray-Curtis instead?

[2015-04-22 16:18] jairideout commented on #1983
Yes, this is coming from PyCogent's beta diversity implementations. Most of the beta diversity implementations have this issue, so it isn't just limited to Bray-Curtis.

[2015-04-22 16:20] gregcaporaso commented on #1983
Ok, probably not worth dealing with now then.

On Wed, Apr 22, 2015 at 9:18 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-04-22 16:33] walterst opened #1984 "Setting -p 0.0 with split_libraries_fastq.py can lead to empty sequences written"
Using this command and the sample data (listed below) with QIIME 1.9.0-dev, master@294422b:
split_libraries_fastq.py -i sample_R2_150416.fastq -b sample_I_150416.fastq -m mapping.txt  -p 0.00  --barcode_type 12 --store_demultiplexed_fastq -o split_R2/

will result in empty sequences in the output seqs.fna:

TTATTTCTCGCCATAATTCAAACTTTTTTTCTGATAAGCTGGTTCTCACTTCTGTTACTCCAGCTTCTTCGGCACCTGTTTTACAGACACC

[2015-04-22 18:50] sowe9385 commented on #1981
Yes, all Bioconductor packages were updated in the last few weeks, and it
looks like it is related.  I'll do a new PR?  Thanks.

On Wed, Apr 22, 2015 at 9:35 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-04-24 15:56] jairideout commented on #1981
That'd be fantastic, thank you! We should also note what version(s) of these new R packages have been tested with QIIME. The [install docs](http://qiime.org/install/install.html) are probably a good place for this info.

[2015-04-27 03:10] qingpeng opened #1988 "glitch in documentation of script multiple_rarefactions.rst"
https://github.com/biocore/qiime/blob/master/doc/scripts/multiple_rarefactions.rst

The long form of an options "-n" is "--num-reps" actually, but in the documentation it is listed as "--num_reps".

[2015-04-27 15:27] jairideout commented on #1988
The option name was changed to `--num_reps` in QIIME 1.9.0, so this documentation is correct. To see documentation for older versions of QIIME, for example, 1.8.0:

http://qiime.org/1.8.0

[2015-04-27 15:27] #1988 closed

[2015-04-28 15:17] gregcaporaso opened #1989 "parallel pynast requires command line BLAST"
This shouldn't be the case, it means that the base install does not support the parallel otu picking workflows. Working on this now.

[code]

[2015-04-28 15:19] antgonza commented on #1989
But I think this is a burrito issue, no?

[2015-04-28 15:20] gregcaporaso commented on #1989
I don't think so. Why do you think that?

[2015-04-28 15:24] antgonza commented on #1989
For who is raising the error:
[code]

[2015-04-28 15:30] gregcaporaso commented on #1989
That's the expected behavior from burrito. If ``formatdb`` is not available, then calling the application controller that it wraps raises an ``ApplicationNotFound`` error.

I have the fix in progress, and we'll put it in 1.9.1 (planned for Friday). Basically, the parallel wrapper was still formatting a BLAST database that isn't being used (earlier versions of PyNAST did rely on BLAST for the seque

[2015-04-28 15:32] antgonza commented on #1989
Got it, thanks.

[2015-04-28 15:45] gregcaporaso opened #1991 "count_seqs.py fails on empty fasta"
[code]

Just a formatting issue.

[2015-04-28 18:28] gregcaporaso commented on #1981
@sowe9385, do you have an ETA on this? We're not able to use jenkins effectively right now b/c ``test_differential_abundance.py`` is failing.

[2015-04-28 19:36] gregcaporaso opened #1992 "differential_abundance.py failure"
I'm getting an error message that I can't interpret from ``differential_abundance.py``. @sowe9385, have you seen this before? I created my command by adapting the first usage example, and I confirmed that the BIOM table and the mapping file work when calling ``group_significance.py`` with the same category (so I know my BIOM table and mapping file are formatted correctly). This is using the latest

[2015-04-28 19:38] gregcaporaso commented on #1992
I also get a failure with ``DESeq2_nbinom``:

[code]

[2015-04-28 19:44] sowe9385 commented on #1992
Yes, I think I have seen it before.  Please try biom convert --to-json or
--to-hdf5 on your input biom table and try again?

On Tue, Apr 28, 2015 at 1:38 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-04-28 20:06] gregcaporaso commented on #1992
Ok, we just converted it to json, and it seems to be working now. However, I had to specify the table type during the conversion, so I don't think the issue is the file type but that there is no table type in the original table (i.e., this is a duplicate of #1928 - I did search my error message, but I was searching the ``fitZIG`` variant, and that error message covers the ``CSS`` variant). Closing

[2015-04-28 20:06] #1992 closed

[2015-04-28 21:55] ElDeveloper opened #1994 "Uninformative error with qiime.util.write_biom_table"
If one of the scripts that creates a table in a 'new_filepath' is given a directory, then H5PY will raise an error that is not very informative:

[code]

I noticed this last night and thought it could be improved; not sure if we can get a fix in place by Friday. A quick fix I can think of is to use the equivalent of `mkdir -p` on the dirname of the passed filepath, or we can just catch the error.

[2015-04-29 19:34] jairideout opened #1995 "use tempfile.gettempdir in qiime.util.get_qiime_temp_dir"
Also update codebase to use `get_qiime_temp_dir` instead of `/tmp`.

[2015-04-29 19:38] #1989 closed

[2015-04-29 20:30] gregcaporaso commented on #1994
@ElDeveloper, these seems like a better fix for qcli, do you agree?

[2015-04-29 20:41] ElDeveloper commented on #1994
That makes sense.

[2015-04-29 20:41] #1994 closed

[2015-04-29 21:01] gregcaporaso commented on #1981
This is fixed in #1986.

[2015-04-29 21:01] #1981 closed

[2015-04-29 21:22] #1977 closed

[2015-04-29 21:43] gregcaporaso opened #1997 "mpl 1.4.3 gives warning in IPython Notebook"
This is from the Illumina Overview Tutorial IPython Notebook:

![screenshot 2015-04-29 14 37 49](https://cloud.githubusercontent.com/assets/192372/7402085/f9feec36-ee7d-11e4-83b2-af9b7d0fbca3.png)

[code]

[2015-04-30 00:07] #1928 closed

[2015-04-30 16:21] #1979 closed

[2015-04-30 16:21] #1995 closed

[2015-04-30 16:25] #1978 closed

[2015-04-30 16:25] #1982 closed

[2015-04-30 16:25] #1991 closed

[2015-04-30 18:05] gregcaporaso commented on #1935
@jairideout, this may have been addressed by #1999 - could you check when you get a chance?

[2015-04-30 21:01] kylebittinger commented on #1935
Looks like a two line fix in burrito-fillings, plus a new test to verify.  I can put this in tomorrow if needed.

[2015-05-01 17:09] jairideout commented on #1963
@gregcaporaso and I modified `qiime.util.write_biom_table` so that an exception is raised telling users that QIIME doesn't support writing empty BIOM tables to disk. We created a new exception type, `EmptyBIOMTableError`, which inherits from `biom.exception.BiomException`, in case other places in QIIME need to raise this same type of error. This exception type is also easily catchable. In filter_t

[2015-05-01 17:17] kylebittinger commented on #1935
Pull request is in for fix in burrito-fillings:
https://github.com/biocore/burrito-fillings/pull/61

We need to make a small modification to the calling code in QIIME, described in the pull request.

[2015-05-01 17:18] ElDeveloper commented on #1963
This sounds good!

On (May-01-15|10:09), Jai Ram Rideout wrote:

[2015-05-01 17:27] jairideout commented on #1940
@colinbrislawn that's really interesting! It looks like QIIME allows truncated option names, as long as they aren't ambiguous.

For example, `--sample_i` also works:

[code]

But we get an error message with `--s` because it's ambiguous:

[code]

Never knew about this feature, very cool! We'll fix the usage examples (even though they technically work) so that `--sample_ids` is used. We'll also doc

[2015-05-01 17:29] gregcaporaso commented on #1963
Just for the record, here's what the error messages look like now from the three OTU table filtering scripts in QIIME:

[code]

[2015-05-01 17:30] gregcaporaso commented on #1965
Thanks @RobMoser, we added this and it will go live when the QIIME 1.9.1 docs are posted.

[2015-05-01 17:34] ElDeveloper commented on #1940
Woow ... I didn't know that either ...

On (May-01-15|10:27), Jai Ram Rideout wrote:

[2015-05-01 17:42] gregcaporaso opened #2000 "updates to support new version of burrito-fillings"
- [x] update minimum version of ``bfillings`` and ``burrito`` in setup.py
- [x] https://github.com/biocore/qiime/issues/2004
- [x] https://github.com/biocore/qiime/issues/1935

[2015-05-01 17:43] gregcaporaso commented on #2000
Sweet, issue #2000!!

[2015-05-01 17:43] jairideout commented on #2000
- [ ] verify GitHub doesn't have Y2K bug

[2015-05-01 17:44] gregcaporaso commented on #2000
I think you mean *I2K* (issue 2000)

[2015-05-01 17:44] jairideout commented on #2000
Good catch, thanks!

[2015-05-01 17:44] ElDeveloper commented on #2000
![](http://bestanimations.com/Holidays/Fireworks/Fireworks-01-june.gif)

[2015-05-01 17:47] jairideout commented on #2000
![image](https://cloud.githubusercontent.com/assets/1847232/7434390/5e94b4d8-efef-11e4-9a51-9849d31c2fad.png)

[2015-05-01 18:01] jairideout commented on #1933
@wasade do you have the input files handy that produce this error? @gregcaporaso and I are going to look into fixing this for 1.9.1 and it'd be helpful to test using your data.

[2015-05-01 18:06] gregcaporaso commented on #1929
@sowe9385, would you be able to change this so taxonomy is always retained for OTUs (regardless of their count) and have a pull request submitted by Monday? We'd like to get this into QIIME 1.9.1. Please let us know ASAP if you'll be able to do this. Thank you!

[2015-05-01 18:18] gregcaporaso commented on #1966
This will go live with the 1.9.1 docs:

![screenshot 2015-05-01 11 17 48](https://cloud.githubusercontent.com/assets/192372/7434945/be00868c-eff3-11e4-8b81-7385c5f7810f.png)

[2015-05-01 20:36] sowe9385 commented on #1929
I did this a while ago (add taxonomy on to DESeq output) - so issue is
already fixed.  Thanks.

On Fri, May 1, 2015 at 12:06 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-05-01 21:27] colinbrislawn commented on #1940
Well... that's just odd.

I'm not sure if I would consider this a feature @jairideout... Inconsistency makes programs harder to understand, document, and use. This 'flexibility' with mangled option flags could come back to bite qiime users. Imagine a pipeline using a truncated option, which is then rendered ambiguous by the addition of another similarly named option to the surprise of the qiime us

[2015-05-01 21:41] gregcaporaso commented on #1940
I don't think we should promote its use, but given that we're switching to click for all CLIs, I don't think it's worth investing the effort in explicitly disallowing it.

[2015-05-01 21:42] #1984 closed

[2015-05-01 21:42] #1934 closed

[2015-05-01 21:42] #1940 closed

[2015-05-01 21:42] #1963 closed

[2015-05-01 21:42] #1965 closed

[2015-05-01 21:42] #1966 closed

[2015-05-01 21:44] gregcaporaso commented on #1929
Can you link that the pull request here?

[2015-05-01 22:06] sowe9385 commented on #1929
Think it is #1889
<https://github.com/sowe9385/qiime/commit/559b5eea26a3f2e851c6c22a986bdde37eb29d64>
'fix DESeq2 taxonomy issue'

On Fri, May 1, 2015 at 3:44 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-05-04 15:22] wasade commented on #1933
I don't recall what data were being used, likely some PICRUSt output. I suggest just trying any OTU table you have on hand, which given the nature of the issue, I suspect will trigger it. If not, I'll dig something back up

[2015-05-04 15:25] gregcaporaso commented on #1929
@sowe9385, this doesn't seem to work for me. I start with [this BIOM table](https://raw.githubusercontent.com/biocore/qiime/master/qiime_test_data/normalize_table/otu_table.biom), and run the following:

[code]

Can you confirm this behavior or let me know what I'm doing wrong?

[2015-05-04 15:33] gregcaporaso commented on #1929
Also, using that same BIOM table with ``CSS``, taxonomy is retained, but it is being modified to include ``NA`` in cases where the input has fewer taxonomic levels than the output. For example:

[code]

This code shouldn't be doing this. Is this coming from your code, in which case we'd like it to be updated to not do that, or from the R ``biom`` package, in which case we'll just deal with it for

[2015-05-04 16:07] wasade commented on #1933
Providing a link via email in a second. The distance matrix was produced by qiime 1.9. The full command executed was:

[code]

Here is the result of trying to load the resulting distance matrix in to a `DistanceMatrix` object

[code]

[2015-05-04 19:07] walterst opened #2002 "Allow for multiple metadata fields with compute_core_microbiome.py"
Enhancement request. Allow for multiple, comma-separated metadata fields (e.g. --valid_states "Treatment:Fast,Fed"), and report core microbiome for each, along with unique core taxa and shared core taxa across each of the metadata categories specified.

[2015-05-04 22:32] Nan-Shen opened #2003 "filter_samples_from_otu_table.py can no longer generate filtered mapping file"
In old QIIME version 1.8.0, it used to be able to generate a filtered mapping file after passing "-m" and "--output_mapping_fp" with "-n", "-x" or "--sample_id_fp". Now in 1.9.0, unless I use "--valid_states", it will give an error message if "-m" is passed.

[2015-05-05 23:22] gregcaporaso opened #2004 "UclustConsensusTaxonAssigner should pass temp directory on instantiation..."
of Uclust application controller.

[2015-05-06 07:21] sowe9385 commented on #1929
What do you mean by 'fewer taxonomic levels than the output'?  I'm pretty
sure this is an R package issue unfortunately.

On Mon, May 4, 2015 at 9:33 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-05-06 13:14] gregcaporaso commented on #1929
For example, if you had two OTUs in your BIOM table with the taxonomic assignments:

[code]

the output BIOM table would have:

[code]

[2015-05-06 14:25] gregcaporaso commented on #1940
@ElDeveloper, @jairideout, @colinbrislawn, following on the discussion of truncated option names, [click explicitly does not support that](http://click.pocoo.org/4/why/#why-no-auto-correction), so in QIIME 2 and all other click-based CLIs that we develop we won't have support for that, which I agree is the better way to go. For now, we should just not promote it's use at all, but not go through th

[2015-05-06 15:53] sowe9385 commented on #1929
ok, thought so.  Yes, definitely an R package issue.

On Wed, May 6, 2015 at 7:14 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-05-07 02:39] colinbrislawn commented on #1940
:+1:

[2015-05-07 17:34] adamrp opened #2006 "Documentation lists defaults as /Users/jairideout/..."
e.g., look at the default for the `--reference_fp` option [here](http://qiime.org/scripts/pick_open_reference_otus.html)

[2015-05-07 17:38] ElDeveloper commented on #2006
Haha, a horrible hack to fix this would be to create a temporary user
named YOUR-USERNAME, and have the installation in a folder named
FOLDER-WHERE-YOU-INSTALLED-QIIME ... but of course, there are better
solutions.

On (May-07-15|10:34), adamrp wrote:

[2015-05-07 18:36] jairideout commented on #2006
:scream: Nice catch! This was always a problem in the built script documentation. For example, in 1.8.0's assign_taxonomy.py, look at `--id_to_taxonomy_fp`:

http://qiime.org/1.8.0/scripts/assign_taxonomy.html

It lists `/Users/caporaso/data/gg_13_5_otus/taxonomy/97_otu_taxonomy.txt`.

[2015-05-08 19:32] walterst opened #2007 "bottom text box colors not matching legend in make_rarefaction_plots.py"
The colors in the legend will fail to match the samples in the bottom text box under certain circumstances (see https://groups.google.com/forum/#!searchin/qiime-forum/Alpha$20rarefaction$20plot$20(Qiime$201.9.0)/qiime-forum/yRVgxPx7dPA/xCRB8MTUl4oJ).

To replicate the issue, there has to be duplicate values in metadata fields for different columns in the mapping file.

One can duplicate this by do

[2015-05-08 22:21] adamrp opened #2008 "align_seqs.py assumes pynast is installed"
The [`min_percent_id`](https://github.com/biocore/qiime/blob/master/scripts/align_seqs.py#L110-L114) option is only added if pynast is installed, but on [lines 148-149](https://github.com/biocore/qiime/blob/master/scripts/align_seqs.py#L148-L149) the option is assumed to exist.

I noticed this problem while attempting to run pick_open_reference_otus.py with -m sortmerna_sumaclust using this comman

[2015-05-09 21:37] walterst commented on #2007
After digging through the code a bit, this seems to be where the incorrect colors are being assigned to the metadata category keys:
https://github.com/biocore/qiime/blob/master/qiime/make_rarefaction_plots.py#L734

[2015-05-15 04:37] wdwvt1 opened #2009 "bug in observation_metadata_correlation.py"
`observation_metadata_correlation.py` has a show-stopping bug that causes the script to return incorrect values for any set of mapping file, biom file where the order of the samples returned by iterating over the dictionary representation of the mapping file doesn't end up being the same as the order of the samples in the biom table (I would guess these almost never line up).

Line 202 of `scripts

[2015-05-15 04:39] wdwvt1 commented on #2009
The reason that QIIME was not catching this bug is because the error was in the script rather than the library file. A refactor of this script would be nice to move the offending functionality to library code.

[2015-05-15 20:23] colinbrislawn opened #2012 ".imputed rep_set file for pynast_template_alignment_fp"
On this [qiime forum question](https://groups.google.com/forum/#!topic/qiime-forum/qM-ottO7mEE), @Cody-Glickman asked the following question:

Thoughts @ElDeveloper, @jairideout?

Any guidance is appreciated!
Colin

[2015-05-18 19:07] mortonjt opened #2013 "Problem parsing mapping file in supervised_learning.py"
I'm having a bit of a problem running `supervised_learning.py` - it seems that R is having a hard time parsing the mapping file.

Here's the error message below.
[code]

I have no problems parsing this file using pandas at all.

[2015-05-19 00:09] antgonza opened #2014 "pick_otus.py -m swarm fails without an error"
If we have a regular fna file and pick with swarm, everything seems fine
[code]
However, if we have  ambiguous nucleotides, this fails without an error
[code]

[2015-05-19 00:19] josenavas commented on #2014
Thanks @antgonza
We know that swarm does not work with ambiguous nucleotides. However, I thought that was checked by the code at some point.

@ekopylova there isn't any check/clean up in the burrito-fillings wrapper or QIIME that cleans up those sequences?

[2015-05-19 12:33] ekopylova commented on #2014
Swarm exits with an error (ex. "Error: Illegal character 'N' in sequence on line 2") when any character other than A/C/G/T/U is encountered. As far as I remember there isn't code in either burrito-fillings or QIIME that checks this error. It's not something we noticed until running Swarm on raw fasta files, since QIIME's split_libraries_fastq filters out sequences with N's (by default). However, t

[2015-05-19 15:50] jairideout commented on #2013
Can you try validating it with `validate_mapping_file.py`? The R mapping file parser is pretty picky, but if you fix all errors and warnings it should work.

[2015-05-19 17:30] jairideout commented on #2012
Thanks @colinbrislawn! I followed up on the [forum thread](https://groups.google.com/d/topic/qiime-forum/qM-ottO7mEE/discussion). Please post any further discussion there.

[2015-05-19 17:30] #2012 closed

[2015-05-19 18:55] colinbrislawn opened #2015 "Documentation and example for summarize_taxa.py"
The documentation for summarize_taxa.py uses RDP classifier taxonomy as an example for classification levels. As greengenes is now the default database and had different meaning for each level, this has [confused some users](https://groups.google.com/forum/#!topic/qiime-forum/vKAfHuvr3fA).

I'll see if I can fix this.

[2015-05-19 19:19] mortonjt commented on #2013
Had a really hard time running `validate_mapping_file.py` - it was taking a really long time on my mapping file.  I can try that out to see if it'll fix that error

I ended up applying `cut` and only grabbing the columns that I needed, by @wasade 's recommendation.  That seemed to have worked.

[2015-05-19 19:54] mkgilbert opened #2017 "Add --time option to start_parallel_jobs_slurm.py"

[2015-05-19 22:10] jairideout commented on #2013
Cool, glad you have a workaround! I'm going to close this because another issue exists to improve the R mapping file parser and its cryptic error messages (#1804).

[2015-05-19 22:10] #2013 closed

[2015-05-19 22:18] wasade commented on #2013
One reason to keep this open is due to the scalability issues with
`validate_mapping_file.py`. Is it expected that it should handle AG sized
metadata (approx 5000 x 150)?

On Tue, May 19, 2015 at 4:10 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-05-19 22:46] jairideout commented on #2013
Can you please create a new issue that clearly identifies this problem? The issue title and a lot of the discussion here isn't related to validate_mapping_file.py's scalability issues.

[2015-05-19 22:54] wasade opened #2018 "validate_mapping_file.py does not scale to large mapping files"
See the discussion in #2013. It does not appear that the validation method can handle the American Gut mapping file.

[2015-05-19 22:54] wasade commented on #2013
Done

On Tue, May 19, 2015 at 4:46 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-05-19 23:41] jairideout commented on #2013
Thanks!

[2015-05-20 15:53] gregcaporaso commented on #2014
@antgonza, want to work on this one for the release? This might be as simple as adding an ``_accept_exit_status`` method to the swarm application controller (see the old docs [here](http://pycogent.org/examples/application_controller_framework.html?highlight=application#command-lineapplication-cogent-app-util-py) - these are in the process of being ported to the burrito wiki).

[2015-05-20 15:58] gregcaporaso commented on #2007
@antgonza or @ElDeveloper, are you available to work on this one?

[2015-05-20 15:59] gregcaporaso commented on #2006
This has been an issue forever (it used to be my user name when I built the docs). Let's postpone this till QIIME 2, when we're reworking a lot of the docs.