[2015-05-20 16:01] gregcaporaso commented on #2014
@antgonza, if you could take a quick look before we talk tomorrow that'd be ideal as we're going to figure out when to do the burrito/burrito-fillings release tomorrow morning.

[2015-05-20 16:02] jairideout commented on #1976
@antgonza are you available to work on this one? I think the only changes are updating the sourcetracker target in qiime-deploy-conf.

[2015-05-20 16:04] gregcaporaso commented on #2017
I'll review this PR when it's ready as I've been talking with the devs about it. @mkgilbert, we'll need this in today to be able to include it.

[2015-05-20 21:09] bloman2 commented on #888
Hello!

I realize that this conversation occurred quite a while ago at this point, but I was referred here from the QIIME google forum today as an explanation as to why discovering which OTUs are contributing to each PC axis in the beta diversity 3d plot isn't possible.

I would like to express my very high interest in making this a priority in the present development of QIIME. I really like the g

[2015-05-20 22:41] antgonza commented on #888
Just to be clear, the shortcoming is from PCoA and not from QIIME/Emperor. PCoA uses a distance matrix (unweighted/weighted unifrac, bray curtis, etc) which hides the contributions of each OTU. In the other hand, PCA can generate this values as everything is done in Euclidean space (basically a Euclidean distance matrix - AKA: you could use this in PCoA). However, using Euclidean distance to check

[2015-05-20 23:44] bloman2 commented on #888
Sincere thanks for the explanation and especially for citing the helpful resources. After reading the explanations provided by others, I wondered if there would be a way to retain or record the contributions of each OTU to the distance matrix used by UniFrac (but I am far from understanding any of the mechanics). I think that biplots will work well for now. I look forward to the 2.0 release!

[2015-05-21 01:20] antgonza commented on #888
I think that's the idea of weighted (account for abundance) metrics ... thank you for your feedback and comments.

[2015-05-21 12:57] antgonza opened #2020 "get_coord in make_2d_plots.py is not used anywhere"
we should remove ... note that it doesn't have tests either!

[2015-05-21 15:50] gregcaporaso commented on #2020
I think you should remove the code.

[2015-05-21 15:57] gregcaporaso commented on #2008
@adamrp, can you post the error that you got from this?

[2015-05-21 16:01] antgonza commented on #2007
Added a solution in https://github.com/biocore/burrito-fillings/pull/66

[2015-05-21 16:22] antgonza commented on #2020
I just realized that I assumed that it wasn't used because when you search in github it only shows the first hits in the resulting file. Thus, closing cause it's actually being used.

[2015-05-21 16:22] #2020 closed

[2015-05-21 16:55] jairideout commented on #2007
I don't think this issue was addressed in your burrito-fillings PR because make_rarefaction_plots.py doesn't wrap any external applications.

[2015-05-21 16:57] antgonza commented on #2007
Yeah, just got the wrong number on my commit ...

[2015-05-21 16:57] jairideout commented on #2014
Fixed in https://github.com/biocore/burrito-fillings/pull/67

[2015-05-21 16:57] #2014 closed

[2015-05-21 17:00] #2017 closed

[2015-05-21 17:01] gregcaporaso commented on #2015
closed in #2016

[2015-05-21 17:01] #2015 closed

[2015-05-21 17:17] antgonza commented on #1997
See https://github.com/matplotlib/matplotlib/issues/1852

[2015-05-21 17:24] salbeke opened #2022 "Help Documentation"
Within the help documentation, it would be great if you would list the files one would expect to be present upon completion of a function (i.e. pick_open_reference_otus.py).

Shannon

[2015-05-21 17:36] antgonza commented on #750
@gregcaporaso @jairideout and I think that all these points have been addressed, if not please reopen.

[2015-05-21 17:36] #750 closed

[2015-05-21 18:19] gregcaporaso commented on #1997
This is a mac-specific matplotlib issue based on @antgonza's link. I got around this on OS X by adding this line:

[code]

to ``~/.matplotlib/matplotlibrc``.

[2015-05-21 18:19] #1997 closed

[2015-05-21 20:46] colinbrislawn commented on #1975
@cleme @gregcaporaso This is awesome!

I'm also supporting incorporating of the newer fasttree because it offers a multithreaded option.

The fasttree binary that currently ships with qiime is single threaded, so treebuilding can take longer than OTU picking these days. If @wasade would be good enough to try the OpenMP option when testing, that would make all our analysis much faster.

Thanks!

[2015-05-21 20:52] wasade commented on #1975
We've been using FastTreeMP for years and haven't had issues. It is
non-deterministic as you cannot control the order of execution of the
threads, but the resulting trees are effectively the same.

On Thu, May 21, 2015 at 2:46 PM, Colin Brislawn <notifications@github.com>
wrote:

[2015-05-21 21:59] colinbrislawn commented on #1975
May I ask how you configured FastTreeMP? The one that is part of the default qiime github done not use multiple threads, if memory serves. I would love to get a better version working.

[2015-05-21 22:13] wasade commented on #1975
Just compiled against OpenMP as suggested in the FastTree page:

http://www.microbesonline.org/fasttree/

You may get 2-3x improvement but it seems to drop off going above 4
threads. QIIME doesn't actually care whether FastTree or FastTreeMP is in
use, a quick way to trick it would be to just setup an alias:

alias FastTree="FastTreeMP -threads 4"

...or something like that

On Thu, May 21, 2015 a

[2015-05-21 23:40] antgonza commented on #1976
@jairideout and @gregcaporaso, what do you think is best here? (1) modify the 1.9.0 script or (2) create a 1.9.1 script and make modification there?

[2015-05-21 23:45] gregcaporaso commented on #1976
1.9.1 I think, but the change should only be in qiime-deploy-conf, right?

On Thu, May 21, 2015 at 4:40 PM, Antonio Gonzalez <notifications@github.com>
wrote:

[2015-05-21 23:45] antgonza commented on #1976
yup

[2015-05-21 23:53] antgonza commented on #1976
Did it again! Pointed to the wrong issue: https://github.com/qiime/qiime-deploy-conf/pull/144

[2015-05-22 05:16] antgonza commented on #1946
The wiki has been updated. Please take a look - @jairideout and @gregcaporaso.

[2015-05-22 14:43] gregcaporaso commented on #1946
I've reviewed and tested the instructions, these are good to go now.

[2015-05-22 14:43] #1946 closed

[2015-05-22 15:11] gregcaporaso opened #2024 "reference beta diversity in jackknifed_beta_diversity is not based on rarified OTU table"
in discussing issues related to the jackknifed beta diversity script, @antgonza discovered that the reference beta diversity distance matrix is calculated from a non-rarified OTU table, while the iterations are calculated from rarified OTU tables (as they should be). We should update the code so the reference is also calculated from a rarified OTU table. The effect will be that the variance ellips

[2015-05-22 15:54] colinbrislawn commented on #693
Qiime's current license (GPL v2) is inside the COPYING.txt file in the main folder.
https://github.com/biocore/qiime/blob/master/COPYING.txt

Should we duplicate this file into doc/ with the name LICENSE, like other repos do, or is this enough?

[2015-05-22 18:03] jairideout commented on #2007
Not fixed, reopening...

[2015-05-22 18:04] jairideout commented on #2007
woops, got confused by github saying it was closed in  gregcaporaso/burrito-fillings@a8b8e1d

Sorry!!

[2015-05-22 18:05] jairideout commented on #2007
Need... more... coffee... this should be closed when https://github.com/biocore/qiime/pull/2023 is merged. Reopening

[2015-05-22 18:31] #2007 closed

[2015-05-22 18:43] gregcaporaso commented on #2003
@Nan-Shen, thanks for reporting this. It will be fixed in the upcoming 1.9.1 release.

[2015-05-22 18:52] #2003 closed

[2015-05-22 20:19] gregcaporaso commented on #2008
I'm going to remove this from the milestone - it's not really a big issue anymore now that we recommend installing with ``pip``, as PyNAST is always installed in that case as part of the base install.

[2015-05-22 20:27] #1976 closed

[2015-05-22 21:01] #1935 closed

[2015-05-22 21:01] #2000 closed

[2015-05-22 21:01] #2004 closed

[2015-05-22 21:35] gregcaporaso commented on #2024
It turns out that the unrarified table was only being used to generate one UPGMA tree (non-jackknifed), not any of the PCoA results. The only place this actually gets used downstream in the script is when drawing the jackknifed UPGMA trees with ``--master_tree full``, which is not the default (default is to add jackknife data to the consensus tree). Since the default is sane, we may as well leave

[2015-05-22 22:13] jairideout commented on #1929
@gregcaporaso and I investigated this more today and couldn't find a way to keep the correct formatting for taxonomy metadata in CSS or DESeqs2-normalized tables (the issue is with the underlying R packages used to perform the normalization). So for now, taxonomy metadata isn't included in DESeq2 tables and CSS tables have taxonomy padded with "NA" as described above.

I added a description of a w

[2015-05-22 22:51] #1933 closed

[2015-05-26 15:34] adamrp commented on #2008
@gregcaporaso sorry for the delay. You can replicate this error by not having pynast installed, and then:
[code]

[2015-05-26 19:14] #2024 closed

[2015-05-26 19:22] jairideout commented on #2009
Fixed in #2027.

[2015-05-26 19:22] #2009 closed

[2015-05-26 20:36] gregcaporaso commented on #1967
This is now available [here](https://github.com/biocore/qiime/wiki/AWS-setup-for-QIIME-Workshops).

[2015-05-26 20:36] #1967 closed

[2015-05-27 01:06] #1181 closed

[2015-05-27 01:16] ElDeveloper opened #2033 "Scripts with system calls won't work if there's spaces in the input/output paths"
If you call a script that's making a system call and one of your input/output paths have spaces in them, the script will error as most command strings are formed like this:

[code]

So even if the path `/Users/yoshiki/foo bar baz/seqs.fasta` was passed between quotes (or if you escape the spaces) from the terminal, the script will still error saying that `/Users/yoshiki/foo` doesn't exist. Solutio

[2015-05-27 13:52] gregcaporaso commented on #2033
@ElDeveloper, I can't reproduce this:

[code]

Am I misunderstanding the issue?

[2015-05-27 14:43] adamrp commented on #2033
@gregcaporaso It works for you because you're explicitly quoting the filename in the system call. If you use string substitution (as @ElDeveloper does in his example) you should see the problem:
[code]
Although I'm not sure, specifically, where in QIIME this presents a problem.

[2015-05-27 14:55] gregcaporaso commented on #2033
That makes sense, but really ``cmd`` in that case should be ``'ls "%s"'`` - there's no way that qcli could figure out what is supposed to be a file name versus e.g. positional arguments. (So in that case, you're saying the issue is with the QIIME scripts? I was initially thinking that @ElDeveloper was saying this was a ``qcli_system_call`` issue.) Note that ``Popen`` handles this by accepting a li

[2015-05-27 15:13] adamrp commented on #2033
Correct on all accounts! I think that it's an issue with some QIIME scripts, but @ElDeveloper can probably shed more light (i.e., when/where he ran into this issue). From a quick look, I think that workflow scripts will have this problem:
[code]

[2015-05-27 15:16] wasade commented on #2033
`argv` comes in clean and as expected here, so I think just wrapping everything in quotes would do it:

[code]

[2015-05-27 16:34] ElDeveloper commented on #2033
@adamrp, got it exactly right!! :100:

On (May-27-15| 8:16), Daniel McDonald wrote:

[2015-05-27 16:40] kylebittinger commented on #2033
The issue of spaces and other special characters can be solved by setting `shell=False` and passing a list of command arguments rather than a string representing the entire command.  Refactoring the example posted by @ElDeveloper:
[code]
Using this technique, you have access to all the list methods, rather than relying on string interpolation to build the command.  Are there issues with `shell=Fal

[2015-05-29 22:49] ElDeveloper opened #2034 "Running a single parallel job should be disallowed"
When using the parallel scripts, it seems like `-a -O 1` will almost always slow down your analyses, see for example `core_diversity_analyses.py`:

[code]

[code]

In that example you go from 5 to 15 minutes. Granted, I'm using date instead of an real profiler, but I think it conveys the idea.

A possible solution would be to just disallow `-O 1`, or alternatively have the workflows run in serial

[2015-06-01 00:39] ElDeveloper opened #2035 "detrend.py does not work with skbio's OrdinationResults file format"
Using a file generated by `principal_coordinates.py` with `detrend.py` will fail with the following error:

[code]

If I convert the input file into the old file format, `detrend.py` will work just fine.

[code]

[2015-06-01 16:19] gregcaporaso opened #2036 "identify_paired_differences.py doesn't ignore samples in that are in the mapping file but not BIOM table"
This is the SOP for QIIME scripts.

[2015-06-01 18:58] jairideout opened #2038 "split_libraries_fastq.py -q, -r, and -p option documentation unclear"
From [this forum post](https://groups.google.com/d/topic/qiime-forum/C0T8qxSlLzI/discussion), I think the option documentation for split_libraries_fastq.py's -q/--phred_quality_threshold, -r/--max_bad_run_length, and -p/--min_per_read_length_fraction could be improved for clarity:

- -q/--phred_quality_threshold: current docs say it is `the maximum unacceptable Phred quality score (e.g., for Q20 a

[2015-06-01 19:24] walterst commented on #2038
Jai, I agree with your assessment.

Perhaps these parameters could be updated along these lines:

-q PHRED_QUALITY_THRESHOLD, --phred_quality_threshold=PHRED_QUALITY_THRESHOLD
                        the maximum unacceptable Phred quality score (e.g.,
                        for Q20 and better, specify -q 19). Utilized with the  -r/--max_bad_run_length parameter for truncation of low quality bases

[2015-06-01 19:53] alk224 commented on #2038
As a sequencer operator, I strongly disagree with a default setting of 3 for -q.  I know this is the value in Bokulich 2013 which is an important consideration, but given that phred scale is logarithmic (q10 is 10% error, q20 is 1% error, q30 0.1% error), and what most do for genomic work, I suggest a default of q20.

Usually when the quality takes a dump during a run you see a bunch of base calls

[2015-06-01 20:00] gregcaporaso commented on #2038
I agree with the comments about the help text. I think @alk224 may be right that we want to update that default at some point, but that is a separate issue from what is being discussed here.

[2015-06-01 21:35] jairideout commented on #2038
Thanks @walterst, these new descriptions are much clearer!

The only thing unclear to me is `Value is a fraction of the input read length`. The code only considers the first read in the file to determine what the actual minimum length is (since `-p` is relative). It'd be nice to describe this behavior since the current wording implies the minimum length is determined from *each read* before it is

[2015-06-01 22:42] alk224 commented on #2038
Yes, that was slightly off topic, but I am extending an email conversation that went to the forum and then was brought here.  Thanks for the description updates.

The minimum length calculation absolutely should be per read.  I am pretty surprised to learn that's not how it has been which may explain some anomalous split_libraries output from length polymorphic loci such as ITS (bias against longe

[2015-06-02 00:09] walterst commented on #2038
Hello Jai,

I think the original design of calculating the sequence fraction length only once because reads should all have the same number of nucleotides when just looking at a single-end read.

With stitched reads, the lengths can vary (although one would hope it wouldn't vary wildly), so it could be worth calculating on a per-read basis.

[2015-06-02 15:35] jairideout commented on #2038
Thanks @walterst and @alk224! @gregcaporaso do you agree with this change? (calculating the read length on a per-read basis)

[2015-06-02 15:51] gregcaporaso commented on #2038
Yep, I agree - the reason for it not being on a per-read basis was b/c this filtering was written before we were joined paired end reads.

[2015-06-02 16:29] jairideout commented on #2038
Sounds good!

[2015-06-02 16:52] alk224 commented on #2038
Perfect

[2015-06-04 23:07] cleme commented on #1759
@Jorge-C @brooksomics regarding the "Invalid DISPLAY variable" error, we have fixed this by creating a config file (`$HOME/.config/matplotlib/matplotlibrc`) for matplotlib not to use xwindows backend:

[code]
and then pointing to the right place

`export MATPLOTLIBRC=$HOME/.config/matplotlib/matplotlibrc`

notice that the config file has to be named `matplotlibrc` and not `.matplotlibrc`, otherwis

[2015-06-06 15:18] jrherr opened #2041 "pip upgrade to 1.9.1 from 1.9.0"
I'm trying to update our Ubuntu server installation of 1.9.0 to 1.9.1 and banging my head with the following error:
[code]

I'm using pip (`sudo -H pip install qiime` and many other derivations on that) -- everything else should be up to date.  Is this a utf8 issue?

[2015-06-08 14:02] surendravikram commented on #1759
Hi,

I am trying to install qiime using following lines

conda create -n qiime190rc2 python
source activate qiime190rc2
conda install numpy matplotlib IPython future natsort scipy pandas scikit-bio gdata
conda install pip
pip install https://github.com/biocore/qiime/archive/1.9.0-rc2.tar.gz

but its not completing. suggest me the solution for the following error:

Thanks in advance.

[surendra@phu

[2015-06-08 15:00] gregcaporaso commented on #2041
@jrherr, can you give some information on the system you're installing on? What version of Ubuntu? What is the output of running ``sudo pip freeze``.

[These instructions](https://github.com/biocore/qiime/wiki/Building-the-QIIME-AMI) should be really helpful for getting QIIME 1.9.1 installed on Ubuntu.

[2015-06-08 15:13] jrherr commented on #2041
I based the installation on the StarCluster base x86_64 AMI, `cat /etc/lsb-release` gives:
[code]

...and `sudo pip freeze' gives:
[code]

I'm now allocating more memory so hopefully that will fix the issue... I'll work on it and get back to you on the fix.  Thanks for the link and the input!  Greatly appreciated!

[2015-06-08 15:31] gregcaporaso commented on #2041
Can you also run ``print_qiime_config.py`` and post the output? You mentioned that this is an upgrade so I want to see what's on there already.

[2015-06-08 17:34] jrherr commented on #2041
I wasn't able to `print_qiime_config.py` because during the installation everything broke.

I googled around and [this solved my problem](http://stackoverflow.com/questions/12436979/how-to-fix-python-numpy-pandas-installation).  Basically I had to (1) fix the python-dev install on ubuntu, then (2) uninstall a bunch QIIME dependencies with `pip`, and then (3) reinstall with `sudo pip freeze --local

[2015-06-08 17:34] #2041 closed

[2015-06-08 17:35] gregcaporaso commented on #2041
Glad to hear it's working now!

[2015-06-08 21:19] colinbrislawn commented on #1759
Hello there,

Did you read the last couple of lines of the error?
`ImportError: numpy must be installed prior to installing biom`
Looks like you have an issue with numpy. Try this:
`pip install numpy`

Also, I think you may be using an outdated version of qiime:
`pip install https://github.com/biocore/qiime/archive/1.9.0-rc2.tar.gz`
As of today, 1.9.1 is current. Instead of that line, try running:

[2015-06-08 21:58] colinbrislawn opened #2042 "normalize_table.py -a CSS fails unexpectedly"
Yannan had an issue on the qiime-forums with [a .biom file crashing normalize_table.py](https://groups.google.com/d/msg/qiime-forum/QHtNEbpzbKw/tIqL-6wIJvAJ) which is strange.

[This post](https://groups.google.com/d/msg/qiime-forum/QHtNEbpzbKw/jYIqhOsDhdwJ) links to the offending .biom table.

This command crashes:
[code]

Could one of the super developers like @jairideout @ElDeveloper or @kylebi

[2015-06-09 13:29] surendravikram commented on #1759
Thanks for your support it works for me after installing numpy using pip
great !

[2015-06-09 13:35] jgwallace opened #2043 "Add support for reading compressed .fna files with pick_open_reference_otus.py"
Currently, the pick_open_reference_otus.py pipeline does not support reading compressed .fna files as input. (If tried, you get an error like "UnicodeDecodeError: 'utf8' codec can't decode byte 0x8b in position 1: invalid start byte.") The .fna file from a single MiSeq lane can be 5+ gigabytes, so allowing compression seems like a useful feature to help users save disk space. Since qiime.util alre

[2015-06-10 17:47] antgonza opened #2045 "split_libraries_fastq.py error"
Not sure what will be the best way to solve this but if you run split_libraries_fastq.py with a file that is not clearly a barcode file as the barcode the script runs fine:
split_libraries_fastq.py -i lane1_read1.fastq.gz -b lane2_read1.fastq.gz --rev_comp_mapping_barcodes -o slout_q20/ -m map.txt

Should we check that the barcode is actually of N chars ?

[2015-06-12 21:15] colinbrislawn commented on #2043
Great idea! Perhaps more generally, I wish qiime would support reading / writing .gz files from most commands, including split_libraries.py, split_libraries_fastq.py, etc.

[2015-06-15 22:54] gregcaporaso commented on #2045
There were some cases early on where you could get 13 bases in a 12 base barcode file, where the last base was just a technical artifact, so that's why we never had a check like this in place. Since the resulting file would only have a few sequences that get demultiplexed, the user would know that something went wrong, so I think it's probably not something we need to worry about too much for now.

[2015-06-16 23:46] wdwvt1 opened #2047 "unweighted UniFrac calculations fail on relative abundance biom tables"
Unweighted UniFrac failsl to produce meaningful non-diagonal values (it produces only `nan`'s) when called via `beta_diversity.py`. Unless I misunderstand the math, this is a bug because non-0 relative abundance is a 'presence', and thats all that should matter.

Weighted UniFrac fails as well, but I believe that is expected because it won't be able to generate counts for tips in the tree.

Perhap

[2015-06-17 00:03] JWDebelius opened #2048 "Procrustes monte carlo p value calculation differs from the rest of QIIME"
In the `transform_coordinate_matrix.py` step of a procrustes analysis, there is an option to calculate a Monte Carlo p value. The value returned is calculated as (number of extreme permutations)/(total permutations).

Other biocore scripts calculate the p value as (number of extremes + 1)/(total permutations + 1).

[2015-06-17 00:04] antgonza commented on #2047
Why will you pass a relative abundance otu table to these metrics? Will it make more sense to convert to absolute abundance?

[2015-06-17 00:07] wasade commented on #2047
This makes me wonder how QIIME is doing presence/absence. `pa()` is doing what is expected here:

[code]

[2015-06-17 20:04] wdwvt1 commented on #2047
@antgonza - here is the current forum [question](https://groups.google.com/forum/#!topic/qiime-forum/hBi82iPLIZU) which motivated me. I agree that it is not a common use case, but its certainly not how UniFrac should be working.

[2015-06-18 13:51] antgonza commented on #2047
@wdwvt1 got it, thanks. However, I think these metrics were generated to work with absolute and not relative abundance. Also, qiime always expects to have absolute abundance and internally it will transform the table to relative if the actual metric needs it. Additionally, if we use relative abundance the table possibly will become more sparse (right?), which could affect some of the results. Just

[2015-06-18 14:14] gregcaporaso commented on #2047
I think we should explicitly not support this right now, but we can add support when we add UniFrac to scikit-bio (biocore/scikit-bio#822). At that time, I think it'd make sense for UniFrac to take a value that indicates the minimal value considered to indicate the presence of an OTU. This could default to machine epsilon, but could also be easily overwritten to support ignoring of low abundance O

[2015-06-18 15:17] jairideout opened #2049 "QIIME temp dir not used for uclust OTU picking"
QIIME `temp_dir` isn't being used during OTU picking. I've only tested this with uclust, though the issue may exist with other OTU pickers. This can be reproduced by setting `HALT_EXEC=True` in pick_otus.py and looking at the uclust command that's built. I can reproduce this by running pick_open_reference_otus.py on its `qiime_test_data`:

[code]

[This workaround](https://github.com/biocore/burri

[2015-06-18 16:07] rob-knight commented on #2047
Wouldn’t it be better to threshold the table before feeding to unifrac and leaving the unifrac code unchanged? Seems more modular and fits into the general idea of table transformations, that then wouldn’t have to be reimplemented within each metric.

[2015-06-18 16:46] gregcaporaso commented on #2047
Yep, good point.

[2015-06-18 19:46] ashleyshade commented on #1939
I think the original QIIME forum post was searching for an index of the specific mathematical definitions (or references to them) of all of the comparative diversity metrics.  I am searching for the same information - how does eucbray_curtis differ mathematically from bray_curtis_magurran and bray_curtis_faith?  Is there an issue open about this that I am missing?   I want to use the "original" br

[2015-06-18 20:17] antgonza commented on #1939
All the metrics can be found [here](https://github.com/pycogent/pycogent/blob/master/cogent/maths/distance_transform.py) and each of the methods have a reference and description. I think these are the lines you are looking for: [l1](https://github.com/pycogent/pycogent/blob/master/cogent/maths/distance_transform.py#L161), [l2](https://github.com/pycogent/pycogent/blob/master/cogent/maths/distance_

[2015-06-18 20:24] ashleyshade commented on #1939
Thank you!
---
Ashley Shade, Ph.D.
Michigan State University
Microbiology and Molecular Genetics
Biomedical Physical Sciences rm 6179
517-884-5399 <tel:517-884-5399>
ShadeLab <http://ashley17061.wix.com/shadelab>

[2015-06-19 00:06] jairideout commented on #1014
We [just announced](https://groups.google.com/d/topic/qiime-forum/Ph63st7UEjQ/discussion) an initial public alpha release of Keemei, a tool for validating QIIME mapping files in Google Sheets. For more info about Keemei visit http://keemei.qiime.org.

[2015-06-19 00:06] #1014 closed

[2015-06-19 17:22] nosson commented on #1929
@sowe9385 Just pointed this out to me re: the padded 'NA's. I'll take a look at this and have a solution w/in the next few weeks.

[2015-06-22 10:49] sebastian-luna-valero opened #2050 "Unsatisfiable package specifications"
Dear All,

I am trying to install qiime with Conda by following the instructions here:
https://anaconda.org/hcc/qiime

However, I get:
[code]

I am using Conda 3.14 with Python 2.7.10.

Are there any specific channels that I need to include? or could you please point me to a solution?

Best regards,
Sebastian

[2015-06-22 17:13] Jorge-C commented on #2050
Hi @sebastian-luna-valero! It seems that package was built by the Holland Computing Center, and I don't know the "conda recipe" that they used, but the problem is that installing that package requires certain versions of the dependencies that are not provided in their conda channel.

I'd suggest contacting them to let them know, and please keep us posted here (we have an issue regarding creating a

[2015-06-22 17:34] #2050 closed

[2015-06-23 15:46] bwawrik commented on #1969
Figured it out a while back. This was actually an out of memory error.

[2015-06-23 18:12] nosson commented on #1929
This is fixed in metagenomeSeq version: 1.11.11+.

Best,

[2015-06-29 16:18] geoffrosen opened #2052 "Running Supervised Learning Tutorial Data"
For the "Running Supervised Learning" tutorial, the linked data is the overview tutorial data. To do the supervised learning tutorial, a mapping file and otu table are required, which are not in this data (without further processing). I think it would be more helpful to link to the sourcetracker data that appears [here](http://qiime.org/tutorials/source_tracking.html) and is available at ftp://ftp

[2015-07-03 15:34] mwhall opened #2053 "normalize_table.py output is in BIOM 1.0.0 format"
The output from normalize_table.py seems to be in BIOM 1.0.0 format. This causes some really brutal issues, such as preventing the `biom add-metadata` workaround for adding taxonomy data from working properly. The workaround for the workaround is to convert to text, then to HDF5 (as the output should have been in the first place). More importantly, it wastes a lot of time when people have to spend

[2015-07-03 15:44] mwhall commented on #2053
I took a deep breath, and now I can finish this report properly.

QIIME library version: 1.9.1
biom-format version: 2.1.4

When running `biom add-metadata` using the output from normalize_table.py, h5py throws a "Shape tuple is incompatible with data" ValueError. I'm sure the 1.0.0 table causes other steps to choke, though.

[2015-07-06 10:33] greggiceton opened #2054 "Adonis in compare_categories.py fails where Description field in mapping file is empty"
Hello all.  If the mandatory Description field in the mapping file is left empty, the compare_categories.py script throws the following error where the method is adonis.

Traceback (most recent call last):
  File "/home/a4105038/qiime_software/qiime-1.7.0-release/bin/compare_categories.py", line 184, in <module>
    main()
  File "/home/a4105038/qiime_software/qiime-1.7.0-release/bin/compare_categ

[2015-07-08 18:08] jtremblay opened #2055 "make_rarefaction_plot.py"
Dear Qiime community,
I had some trouble running make_rarefaction_plots.py as a PBS job. So briefly, when I run this command:
[code]
I get the following error msg:
`: cannot connect to X server localhost:17.0`

In my matplot lib installation I modified the
`lib/python/matplotlib/mpl-data/matplotlibrc` file and replaced line 38 with `backend      : Agg`
It works fine now.

I tried to add this impor

[2015-07-14 12:02] Danone1 opened #2056 "pick_otus.py with either -k or -x in combination with -m usearch does not work as expected"
Hi,

In QIIME 1.9.0, when you use pick_otus.py with method usearch and suppress either de novo or reference based chimera checking, the wrong file is used when generating abundance_sorted_minsize_4.fasta.

The bug is easily solved by changing the following line in bfillings/usearch.py (line 1380):
if not (reference_chimera_detection and de_novo_chimera_detection):
to
if not (reference_chimera_dete

[2015-07-14 23:05] colinbrislawn opened #2057 "collapse_samples.py does not collapse .tre files"
The script [collapse_samples.py](http://qiime.org/scripts/collapse_samples.html) will merge/collapse samples in the provided .biom table and metadata file, but will not collapse samples in a phylogenetic tree.

Phylogenetic trees and UniFrac distances are a core part of qiime analysis, so I think this is a very helpful feature.

Colin

[2015-07-14 23:07] josenavas commented on #2057
Hi @colinbrislawn

The phylogenetic tree only contains the OTU sequences not the samples itself, so you don't need to collapse them. Does this make sense?

[2015-07-14 23:10] colinbrislawn commented on #2057
Oh yeah...
This was a dumb issue of me to open. :anguished:

[2015-07-14 23:10] #2057 closed

[2015-07-14 23:11] josenavas commented on #2057
Don't worry @colinbrislawn :smile:

[2015-07-16 02:33] wentyqq opened #2058 "error on assign_taxonomy.py"
I did the taxonomy assignment using local RDP database,but encountered the following error. The sad thing is I am not familiar with python script.  Can Someone help me!

Traceback (most recent call last):
  File "/usr/local/bin/assign_taxonomy.py", line 5, in <module>
    pkg_resources.run_script('qiime==1.9.0', 'assign_taxonomy.py')
  File "/usr/local/lib/python2.7/dist-packages/distribute-0.6.10

[2015-07-17 13:24] jtremblay opened #2059 "single_rarefaction.py bug?"
Dear Qiime devs,
With the following command:
[code]
I get a biom table for which taxonomy lineages are not written appropriately in output hdf5 biom table. For instance the lineage I have for otu_table.biom is like this for a given OTU:
[code]

And like this with the rarefied table:
[code]
When I convert back otu_table_rarefied.biom to otu_table_rarefied.tsv with:
[code]
I get line returns and bra

[2015-07-18 23:05] wdwvt1 opened #2060 "filter_samples_from_otu_table.py --output_mapping_fp behavior is strange"
`filter_samples_from_otu_table.py` behaves unexpectedly with the `--output_mapping_fp` option.

Using the `-s` and `--output_mapping_fp` option we are left with a correctly filtered biom file, but a mapping file which has lost columns.

At first I thought the script was eliminating mapping file columns that contained only one unique value, but its not doing that. You can recreate the behavior with

[2015-07-20 02:27] #2060 closed

[2015-07-20 02:45] wdwvt1 opened #2061 "qiime.filter.filter_mapping_file code and split_otu_table.py"
`qiime.filter.filter_mapping_file` is code that needs to be replaced.

1. **Documentation is actively misleading**: documentation says that the function removes metadata columns from the mapping file data if every sample to be retained (`good_sample_ids`) has a unique value in that metadata column. The function does not check for this or remove this data.
2. **It produces incorrect results**: the

[2015-07-20 14:17] wasade commented on #2060
BTW, just a note, biom has an example table which may simplify future
examples of issues:

`from biom import example_table`
On Jul 19, 2015 8:27 PM, "Will Van Treuren" <notifications@github.com>
wrote:

[2015-07-20 19:30] gregcaporaso commented on #2061
+1, this should ultimately be replaced with filtering of DataFrames in QIIME 2 (when metadata tables will always be represented internally as pandas DataFrames).

[2015-07-24 03:40] Schooten opened #2064 "when comparing 454 and illumina data of different lengths"
at teh align_seqs.py with default parameters it will throw out everything that is less than 75% median length. I guess this is not calculated over whole sample. I was comparing two data sets illumina 151 bp and 454 256 bp long. When there were a lot of illumina reads it worked fine but when i compared a dataset with mostly 454 data my illumina data was kicked out at align step. It wont happen to a

[2015-07-27 08:56] natassagioti opened #2065 "filter_samples_from_otu_table.py error possibly related to hdf5 (missing) format?"
Hi,
I have a problem with the filter_samples_from_otu_table.py command that may be related to the biom format,and which I cannot solve:
I am using MacQiime 1.9, and  try to filter my samples based on the number of counts or by providing a file containing the samples to exclude and get the same error :

filter_samples_from_otu_table.py -i TrimmedSortedTaxa_Fullhdf5.otu_table.biom -o Filtered/Trimme

[2015-07-27 09:05] natassagioti commented on #2065
Two extra notes:
First, my mapping file is OK:
validate_mapping_file.py -m Filtered/mapping_file_forEdited.txt
No errors or warnings were found in mapping file.
(as well as a different version of it that I used below)
validate_mapping_file.py -m Filtered/mapping_file_forEdited-f-locations.txt -o Filtered/check_id_output/
No errors or warnings were found in mapping file.

Second, the created file s

[2015-07-27 16:24] ElDeveloper commented on #2065
Hi @natassagioti, this seems to be related to https://github.com/biocore/biom-format/issues/638, can you share your original BIOM file via Dropbox or something else? Additionally, how was this table generated?

[2015-07-27 21:50] greggiceton opened #2066 "Beta_significance.py fails to open output file till the end of the script"
Hi.  When running beta_significance.py the output file isn't opened until the end of the script.  If there is an error in the output file parameter (such as where I entered a directory instead of a filename) this only throws an error at the end of the script - in my case after several hours of computing.  I suspect it would be preferably to throw the error at the outset thereby avoiding losing all

[2015-07-28 10:44] natassagioti commented on #2065
Hi,
Thanks for your answer! Yes, I have created a folder with some files and a README describing the commands used to generate them so that you can reproduce the error. Here:
https://www.dropbox.com/sh/4z67y4anz9dg1fb/AADoeoASMLqRq5D2YAGFe9UEa?dl=0
I have to say that I no longer get the error that I pasted above for the split_otu_table.py command; when I was  converting the JSON file to txt and be

[2015-07-28 16:43] gregcaporaso commented on #1926
Quick follow up on this. I got an updated ETA from @ialbert on BioStars 3, and it should be available later in the summer. He said that it's ready for release, but he's waiting until he gets back from vacation in August to release. I think that timing is fine for us.

[2015-07-28 17:22] ElDeveloper commented on #2065
@natassagioti, thanks a lot for sending these commands and files, they are very useful! I was able to reproduce the problem in my machine. Note that while your workaround seems to be working you are losing the `'ConfScore'` metadata.

How was your JSON table generated?

[2015-07-28 21:22] lkursell opened #2067 "collapse_samples doesn't sync mapping file with samples in biom table"
If you've got a biom table that is a subset of the mapping file and you run collapse_samples.py, the output mapping file will collapse purely on the samples found in the mapping file.

For example, if the mapping file contained:
[code]
But the OTU table only contained Sample2 and Sample3, the output mapping file from collapse would include ```(Disease, Healthy)``` for the ```Description``` column,

[2015-07-28 21:51] gregcaporaso commented on #2067
That makes sense, we could update this when the code is adapted for QIIME 2.

[2015-07-29 07:23] natassagioti commented on #2065
I know that these metadata are lost.. And this is why I am asking if this hdf5 file is really an hdf5 one, because I might need to add back the data and the command might fail. What do you think? When I open it in an Editor it looks very weird, but maybe this is just the encoding? qiime doesnot complain when I use it to split etc, though. And what about the initial error? I would prefer to use the

[2015-07-29 18:28] ElDeveloper commented on #2065
Thanks for the info, to clarify, yes it is an HDF5 file, is a valid
BIOM-formatted HDF5 file, the reason why it looks like gibberish when
you open it in a text editor is because HDF5 is a binary file
specification thus not generally easy to read for humans but easier to
read for machines.

I was wondering about the origin of the file because it is the first
time I see that kind of observation meta

[2015-07-30 01:06] wdwvt1 opened #2068 "cscore calculation bug"
using the script `observation_metadata_correlation.py` with `-s cscore` results in failure because the metadata from the mapping file isn't cast as an array.

line 2428 needs to change to:
[code]

i have verified this error and the fix on data provided by a forum poster [here](https://groups.google.com/forum/#!topic/qiime-forum/6EcV0jrrnjo)

[2015-07-30 17:11] colinbrislawn commented on #1962
Hey, @gregcaporaso, VSEARCH is now licensed under AGPL and **3-clause BSD license**, solving this issue.
https://github.com/torognes/vsearch/issues/105

Swarm remains under the GPLv3.

[2015-07-30 17:16] gregcaporaso commented on #1962
So awesome, thanks for the pointer!

[2015-08-06 15:21] ElDeveloper opened #2069 "multiple_split_libraries_fastq.py -- Argument list too long"
If the length of the paths in the `split_libraries_fastq.py` command are too long (as they get to be when you have a few hundred samples each in its own FASTQ file), `multiple_split_libraries_fastq.py` will fail with the following error:

[code]

I don't think there's a good solution for this, we had previously found this problem in Qiita but ended up not finding a good solution. Anyone have any i

[2015-08-06 15:26] walterst commented on #2069
What is the max number of arguments? Or is it the length of the argument string that it's unhappy with?

In either, it might be possible to check for this, and if it's detected, split the input command into multiple commands, and check the length of the output reads from each command to generate the next command with the --start_seq_id parameter added to give unique numbers to the reads, and final

[2015-08-06 15:47] ElDeveloper commented on #2069
As far as I understand, this is a limitation imposed by the OS/Kernel
(not sure about this), so not really sure how to fix this.

On (Aug-06-15| 8:26), Tony wrote:

[2015-08-06 15:51] antgonza commented on #2069
Yes about kernel and is based on characters long and not on number of parameters.

The only way I can think of is splitting the commands by a `x` number of parameters, for example if x is 10: `multiple_split_libraries_fastq.py -i file1,file2,file3,...,file100,filex` to `split_libraries_fastq.py -i file1,...,file10...;split_libraries_fastq.py -i file11,...,file20...;...`

[2015-08-06 16:05] wasade commented on #2069
Would need to be separate logical lines, joining by ";" doesn't reduce
character count

On Thu, Aug 6, 2015 at 9:51 AM, Antonio Gonzalez <notifications@github.com>
wrote:

[2015-08-06 16:07] antgonza commented on #2069
Agree, that was just an example :smile:

[2015-08-06 16:22] walterst commented on #2069
How about this potential solution:
add a parameter to multiple_split_libraries_fastq.py (-n, --number_files_per_cmd), that's set to 0 by default (would create a single command just as it does now). Any other int will specify the number of comma-separated files/sampleids to process in a single split_libraries_fastq.py command. Then it does the series of commands split_libraries_fastq.py -> count_se

[2015-08-06 18:07] ElDeveloper commented on #2069
The more I think about this the more I realize that most of these
solutions are ephemeral. I am not super familiar with the code, but
would it be at all possible to deal with this at the Python level?  i.e.
making direct calls to the Python code such that instead of the file
paths being a bash string, these are really just a Python list? I know
this may not be straight-forward but I think this may

[2015-08-07 19:30] agentfog commented on #2069
Hi, Yoshiki

I like your idea of bypassing the CLI/system call, but how would you deal with logging? Currently, the "command executor" `call_commands_serially()` logs the *retval*, *stdout* and *stderr* of the subprocess, in this case, `split_libraries_fastq.py`.

An alternative would be to add a batch mode to `split_libraries_fastq.py` so that you could specify the path to a text file which conta

[2015-08-07 23:22] ElDeveloper commented on #2069
Good point @agentfog! Maybe what needs to happen is that every each sample has to be processed individually and finally all results can be collated together? ... not ideal but I guess it would work.

[2015-08-11 03:28] wdwvt1 opened #2070 "multiple_join_paired_ends.py failure in test data and documentation"
`multiple_join_paired_ends.py` has test data in `qiime/qiime_test_data/multiple_join_paired_ends/input_folders/{folder1,folder2}`. This test data is supposed to contain a forward, reverse and barcode read in each of `folder1` and `folder2`. `folder2` has a forward read and barcode read file which are identical:
[code]
This causes the joining to fail for `folder2`; an empty assembled seqs file is p

[2015-08-12 13:52] moskalenko commented on #2055
Put the

from matplotlib import use
use('Agg', warn=False)

at the top of the make_rarefaction_plots.py imports list.

[2015-08-13 05:34] hackerzone85 opened #2071 "TypeError: int() argument must be a string or a number, not 'NoneType'"
[code]

[2015-08-13 09:29] hackerzone85 opened #2072 "qiime.parse.QiimeParseError: Invalid qual file. Check the format of the qual files."
I am seperate fastq file into fasta and qual file using command
[code]
Then i check the quality distribution over base pairs using command
[code]
But above command gives following error [command output]
[code]
Structure of qual file

2 23 32 34 34 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 2 25 34 37 38 37 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38 38

[2015-08-13 15:15] colinbrislawn opened #2073 "Implement Swarm an open-ref clustering method."
@frederic-mahe, the first author of Swarm, just mentioned [a method for performing open-ref OTU clustering using swarm](https://github.com/torognes/swarm/issues/59#issuecomment-130593166).

I understand that the Qiime team is interested in open-reference clustering and open source software. Though you may be interested.

[2015-08-13 15:20] colinbrislawn commented on #2071
@hackerzone85
Can you post the file `dereplication_params.txt`? I think you have messed up an input parameter.

(P.S. For questions about parameters and general troubleshooting, the [qiime-forum](https://groups.google.com/forum/#!forum/qiime-forum) may be a better fit than github issues. For one thing, we answers questions much more quickly on the forum :smile: )

[2015-08-13 15:27] colinbrislawn commented on #2042
This seems to be an issue with HDF5 vs JSON in the .biom file, like #2053.

I'll close this for now. I guess there are many lingering issues maintaining compatibility between different .biom data structures.

[2015-08-13 15:33] jairideout commented on #2042
Reopening as this appears to be a different issue than #2053.

[2015-08-14 01:28] wdwvt1 opened #2074 "multiple_join_paired_ends.py option request"
When using the script `multiple_join_paired_ends.py` it would be nice to have a parameter that allowed one to specify what the file ending is. As is, it will only recognize files which end in any of '.fastq.gz', '.fastq', '.fq.gz', '.fq'. This is coded on line 170:
[code]
This seems like excellent default behavior, but for the user who has a bunch of differently named fastq (say they end in `.stri

[2015-08-17 20:38] josenavas opened #2075 "Update VirtualBox install instructions"
In the virtual box install [instructions](http://qiime.org/install/virtual_box.html), the point 6 still refers to a file named `Welcome`. However, this file no longer exists and the actual file is `0.QIIME_version.txt`.

[2015-08-24 16:00] ElDeveloper commented on #2069
After talking with @rob-knight, he suggested that the options that took parameters that can trigger this error (`--sample_id`, `-i` and `-b`) took a text file where each line is a file path or a sample id. This would get rid limitation that the shell imposes. Consequently `multiple_split_libraries_fastq.py` would create this file as part of its workflow.

[2015-08-25 02:00] agentfog commented on #2069
That's what I meant by "batch mode". The way I imagined the text file, each
line would correspond to a sample and there would be two or three columns
depending on the demux mode. The columns would be either (read_file,
sample_id) or (read_file, barcode_file, mapping_file).

What do you think?

[2015-08-25 06:14] ElDeveloper commented on #2069
@agentfog Ah, got it - sorry for missing that! Yes, though I think we
really want to go with the approach of a single file per input type i.e.
one for sequences, one for barcodes and one for sample identifiers.
@walterst, @gregcaporaso and others if nobody has objections with this
approach I'll try to get this in ASAP, please let me know before Tuesday
August 25 ~ 1PM PT, otherwise I'll begin work

[2015-08-25 12:37] walterst commented on #2069
Sounds good.

[2015-08-27 14:37] DanoneResearch opened #2076 "SILVA 111 taxonomy assignment"
Dear Madam, Sir,
For the QIIME-compatible version of SILVA 111, the file '97_Silva_111_taxa_map.txt' seems to contain incorrect taxonomy identifiers; e.g.:
WRONG	Bacteria;__Actinobacteria;__Actinomycetales;__Actinomycetaceae;__Actinomyces;Other
	OK	Bacteria;__Actinobacteria;__Actinobacteria;__Actinomycetales;__Actinomycetaceae;__Actinomyces
Please let me know if you need more information.
Kind reg

[2015-08-27 16:19] ElDeveloper commented on #2076
@DanoneResearch I reached out to the maintainer (@walterst) of this Silva data files and he pointed out that he didn't do any manual curation to the taxonomy strings. Additionally, it seems like this particular instance was corrected in Silva's release 119, so you may want to use those data files instead.

[2015-08-27 16:25] DanoneResearch commented on #2076
Dear Yoshiki,
Thank you for your fast reply! We will indeed revert tot version 119.
Kind regards, Jolanda.
Op 27 aug. 2015 18:19 schreef "Yoshiki Vázquez Baeza" <
notifications@github.com>:

[2015-08-27 16:27] ElDeveloper commented on #2076
Great, thanks!

[2015-08-27 16:27] #2076 closed

[2015-08-27 22:22] ElDeveloper commented on #2069
BTW, I'm working on this right now, had to delay it due to other things that came up, but I should be able to post a PR sometime soon.

[2015-08-28 09:53] ElDeveloper opened #2078 "test_otu_significance.py is failing in Travis"
This is preventing the tests in #2077 from passing.

[code]

@jairideout did something change when the CI system went down over the weekend?

@wdwvt1 any ideas on this?

I've tried with a few different versions of numpy and scipy in my machine and I can't replicate this problem.

[2015-08-28 09:55] antgonza commented on #2078
Could hardware be an issue? Will it be OK to se the test to 1 decimal?

[2015-08-28 14:54] jairideout commented on #2078
@ElDeveloper nothing changed from the downtime over the weekend. Maybe numpy/scipy versions were upgraded recently? The CI system just installs whatever is in setup.py, so it could be grabbing a newer version of one of QIIME's dependencies.

[2015-08-28 15:04] jairideout commented on #2078
Confirmed that this test was failing before the weekend downtime. [Build 918](http://ci.qiime.org/job/QIIME/918/?) had these tests succeeding and they fail in [build 919](http://ci.qiime.org/job/QIIME/919/?). The `print_qiime_config.py -tf` output from the two runs are exactly the same, so dependency versions and/or QIIME configuration isn't the issue.

[2015-08-28 15:51] wdwvt1 commented on #2078
hmm, this is disconcerting. I remember having trouble with this test in the first place - as evidenced by the comment on lines 883-892, but the discrepancy was smaller than the .011 difference seen at index 2.

The tests pass on my system as I suspect they do on ya'lls. It looks like on whatever machine travis is running on, 11 evaluations of `x >= y` that are `False` on my system are `True` on th

[2015-08-28 15:55] antgonza commented on #2078
@wdwvt1, what about fixing the seed for the tests so we always get the same values?

[2015-08-28 15:56] wdwvt1 commented on #2078
it is fixed (line 877). the question is - are there differences in the
number of calls to the prng on different systems? i think not, but i am
very ill-qualified to say that.

On Fri, Aug 28, 2015 at 8:55 AM, Antonio Gonzalez <notifications@github.com>
wrote:

[2015-08-28 19:24] ElDeveloper commented on #2078
@wdwvt1 I have no idea what might be causing this.

@jairideout, thanks for having a look, it is at least reassuring to know that this was a problem even before #2077.

All, I've tried a variety of things now and wasn't able to reproduce the bug, here's what I've tried:
- Upgrade numpy/scipy in a virtualenv.
- Downgrade numpy/scipy in a virtualenv.
- Do a full QIIME installation using conda.
- Cop

[2015-08-31 06:10] ElDeveloper commented on #2078
After further looking into this, I was able to reproduce the problem in a conda environment in a linux machine, see the steps below to try it out on your own.

When looking into the differences between the linux environment and the OSX environment, conda is installing openblas in linux, which is not the case in OSX, furthermore that is one of the main differences between [Jenkins' build 918](http:

[2015-09-01 17:31] wdwvt1 commented on #2078
am over my bandwidth currently - won't be able to help until quals proposal
is done (sept 7th). while i have no idea why that would be failing on
different systems.

i think to solve this we have a pretty straightforward approach: iterate
over new seeds for the prng until one is found that produces the same
results on both of the systems we are failing on then write that seed into
line 877.

On Su

[2015-09-01 21:43] chienchi commented on #2055
plot_taxa_summary.py has the same error msg and apply the patch above solve the problem.

[2015-09-01 23:02] ElDeveloper commented on #2055
Personally I've seen this problem when I've been working on a few servers. The general solution is to change the backend (like @jtremblay suggests) to accommodate to the restrictions of the environment, the reason why this shouldn't be changed in the master branch is because projects shouldn't impose what backend needs to be used, this is a task for matplotlib and the end user.

@moskalenko & @chi

[2015-09-01 23:02] #2055 closed

[2015-09-02 00:48] kclueneberg opened #2079 "OTU picking help"
Hello,

I'm using Qiime for the first, I was following this tutorial but I got stuck on the OTU picking step, I used
pick_open_reference_otus.py -o otus/ -i slout/seqs.fna -p ../uc_fast_params.txt, exactly as it says but I get this error message:
pick_open_reference_otus.py: error: Required option --reference_fp omitted

What can I do?

Thank you

Regards

Kathia

[2015-09-02 06:00] ElDeveloper commented on #2079
Hi @kclueneberg, I think you need to add the `-r` option to your command (see the help for `pick_open_reference_otus.py`).

In general, GitHub issues are not the best way to ask for support, the [QIIME forum](http://forum.qiime.org) is a much more powerful platform for that, it is also highly monitored and responses are much quicker than through GitHub. If you have any further questions, please se

[2015-09-02 06:00] #2079 closed

[2015-09-02 19:13] ElDeveloper commented on #2078
@wdwvt1, got it, thanks!

I started going down the rabbit hole. As per @wdwvt1's suggestion I switched the value of the seeds, though that proved to not be useful at all, as the problem doesn't seem to be the random number generator. The problem seems to be the precision that the machines have and there seems to be something special about that third correlation calculation. I think the solution is

[2015-09-02 19:32] #2069 closed

[2015-09-08 14:26] antgonza opened #2080 "summarize_taxa.py not respecting -u if -m is passed"
As reported [here](https://groups.google.com/forum/#!topic/qiime-forum/aEf-yWQsO-g)

[2015-09-10 16:35] suranap commented on #1658
The info in the link above is old. HVM offers equal or better performance. From the [docs](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/virtualization_types.html): "For the best performance, we recommend that you use current generation instance types and HVM AMIs when you launch your instances."

Another quote: "Historically, PV guests had better performance than HVM guests in many cases, bu

[2015-09-11 17:33] mortonjt opened #2081 "compute_core_microbiome.py error"
There was a concern on the [qiime forums](https://groups.google.com/forum/#!topic/qiime-forum/-Q-BAhkVXY0) that `compute_core_microbiome.py` fails when there is no observation metadata (i.e. taxonomy) present.

Should having this metadata be a strict requirement to run?  If so, would it be desirable to have this script send an informative error if there is no observation metadata present?

[2015-09-11 19:08] ElDeveloper commented on #280
:+1: to add the ability to call JSD, from some searching around it seems like there's a couple of PRs laying around:

https://github.com/scipy/scipy/pull/3213
https://github.com/scikit-learn/scikit-learn/pull/4191/files

[2015-09-12 21:04] zachcp opened #2082 "Feature Request: splitting demultiplexed fastq."
Hello Team Qiime,

I would be interested in seeing an option added to the `split_libraries_fastq.py` that would allow you to  to split the demultiplexed file so that there is a single fastq file for each sample. Although, you can split the file on a second pass, it would be nice to move this functionality upstream.

Ideally, if you are using `--store_demultiplexed_fastq`, you could also set a flag

[2015-09-13 02:04] antgonza commented on #2082
We have something like that implemented for qiita. During split libraries we store both the demux file in fastq and a new file in hdf5 format that contains all the info for in a smaller version (something similar to the new biom format). Then during the generation of EBI we read the demux file in hd5 format and create a per sample files in fastq.gz format.

I know is not exactly what you are looki

[2015-09-13 15:46] zachcp commented on #2082
@antgonza thanks for the reply.

This came up in the context of kicking the tires on [dada2](https://github.com/benjjneb/dada2) which takes per-sample fastq files. So thats the immediate use-case but I think its a generally usefuI feature. For example, I prefer to store the raw data on a per-sample basis as its easier for reuse - (e.g. if you are only interested in samples A,B &C you can grab the

[2015-09-16 00:04] colinbrislawn commented on #2081
No. Metadata embedded in the .biom file, including taxonomy, should not be a requirement.

The issue is that the script uses the value of the `--otu_md` flag, regardless if it's passed or not. So when no metadata is present, `--otu_md` defaults to 'taxonomy' and the following line attempts to pull this non-existent taxonomy from the OTU table.
https://github.com/biocore/qiime/blob/master/scripts/c

[2015-09-16 07:18] natassagioti commented on #1928
Hi,
I get a related error in macqiime 1.9, and creating the biom file with macqiime 1.8 doesnot solve the problem:
normalize_table.py --input_path=/Users/natassa/Hypoxia/seqdata/AnalysisB/TrimmedFiltered/bioms/23718/Archaea182_qiime1.8.biom  --algorithm=CSS --out_path=$biompath/Archaea182_CSS2.biom
Traceback (most recent call last):
  File "/macqiime/anaconda/bin/normalize_table.py", line 157, in

[2015-09-16 07:48] sowe9385 commented on #1928
Yes, it is a slightly different error.  Do you have samples with very low
sequences per sample?  Generally these samples (e.g. depth 300) are removed
prior to normalization.  It is telling you that you have a sample with only
one or none nonzero OTUs.  If you remove that sample, it should work.

On Wed, Sep 16, 2015 at 1:18 AM, natassagioti <notifications@github.com>
wrote:

[2015-09-16 10:05] natassagioti commented on #1928
Thanks for your quick reply!
I had indeed one such sample, deleting it solved the issue.
Best,
Anastasia

[2015-09-16 10:37] sowe9385 commented on #1928
Thanks for letting us know.

On Wed, Sep 16, 2015 at 4:05 AM, natassagioti <notifications@github.com>
wrote:

[2015-09-16 15:09] mortonjt opened #2084 "Memory issue in split_libraries.py"
Ran into a problem on the [qiime forum](https://groups.google.com/forum/#!topic/qiime-forum/DZvwHcz-Cts) about running out of memory when running split libraries.

From the moment before split_libraries.py was killed
[code]
It looks like split_libraries.py is eating up ~12GB of memory.  So this looks like a memory issue

Here is another [post](https://groups.google.com/forum/#!topic/qiime-forum/a6

[2015-09-16 16:47] josenavas commented on #2084
@walterst @wasade this is really surprising. Do you have any insight on why this is the case?

[2015-09-16 17:58] walterst commented on #2084
It's loading the qual scores into memory (https://github.com/biocore/qiime/blob/master/qiime/split_libraries.py#L1367) which is likely the culprit.

[2015-09-16 17:59] josenavas commented on #2084
:boom:

[2015-09-16 18:05] walterst commented on #2084
I think the original intended design was to allow for fasta/qual files that contained seqs that weren't necessarily in the same order (I don't know when this would happen though). I think it should parse through the two files (or single) file like the fastq parsing for reads/barcodes in split_libraries_fastq.py.

One could possibly work around this by splitting the input fasta/qual files into sepa

[2015-09-16 18:53] wasade commented on #2084
We dropped it since qiime 1.9 is a dead end

On Wed, Sep 16, 2015 at 12:05 PM, Tony <notifications@github.com> wrote:

[2015-09-21 14:44] GilEstel opened #2085 "Installation interrupts at installing pyqi"
Hi There,

I'm trying to install qiime on centos. My Problem is, that the installation stops with the following error:

My installation process was as following:

    # instead of build-essentials
    sudo yum install -y libxml2 libxml2-devel libxslt libxslt-devel
    # instead of python-dev
    sudo yum install python-devel
    # python-pip was already installed

    #asked for during/by the inst

[2015-09-21 16:01] wasade commented on #2085
Hi Nadine,

What version of Python are you using? This is very odd to see...

Best,
Daniel

On Mon, Sep 21, 2015 at 8:44 AM, Nadine <notifications@github.com> wrote:

[2015-09-22 06:58] GilEstel commented on #2085
Hi Daniel,

I'm using
python --version
Python 2.7.8

Best,
Nadine

[2015-09-22 15:14] wasade commented on #2085
Could you please run and send back the output from the command:

`python -c "import sys; print sys.version_info.major; print sys.version_info.minor"`

What I'm confused about is the exception is indicating something within Python itself isn't working as `version_info` is from its own standard set of modules.

[2015-09-24 08:39] GilEstel commented on #2085
Hi,

the output of this is following:

    python -c "import sys; print sys.version_info.major; print sys.version_info.minor"
    2
    7

Best,
Nadine

[2015-10-05 08:39] GilEstel commented on #2085
Hi,

do you have any ideas in the meantime, what the problem might be?

Best,
Nadine

[2015-10-05 10:17] GilEstel commented on #2085
I found a way to run the installation without error by calling pip directly. It seems to me that there is a version mix up ongoing between pip and python.

    /usr/local/bin/pip2.7 install qiime

Best Nadine

[2015-10-05 10:17] #2085 closed

[2015-10-05 16:58] wasade commented on #2085
That's great to hear! Thank you for posting your solution -- I apologize
for the delayed response on this thread.

On Mon, Oct 5, 2015 at 4:17 AM, Nadine <notifications@github.com> wrote:

[2015-10-13 16:55] colinbrislawn opened #2090 "Implement ANCOM, perhaps as part of differential_abundance.py"
This recent paper presents Analysis of Composition of Microbiomes (ANCOM)
http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4450248/

Congrats @wdwvt1, @rob-knight! I would love to see this method in qiime!

[2015-10-13 17:06] wasade commented on #2090
It's currently in an open PR biocore/scikit-bio#1114; agree it would be
great to have available
On Oct 13, 2015 9:55 AM, "Colin Brislawn" <notifications@github.com> wrote:

[2015-10-13 20:50] colinbrislawn commented on #2090
Excellent! The implementation itself does make more sense as part of skikit-bio, and this function can be added as a method in differential_abundance.py.

You can close this method if you want.

[2015-10-13 22:18] gregcaporaso commented on #2090
There is a problem here unfortunately: QIIME 1 won't be updated to use a post 0.2.x version of scikit-bio, so this method won't be available. Unfortunately I think we'll have to wait for QIIME 2 to get moving if we're going to use the scikit-bio implementation (but it should be easy to use the scikit-bio implementation outside of QIIME once that PR is merged).

[2015-10-13 22:20] ebolyen commented on #2090
Technically speaking, there is no reason we couldn't backport ANCOM to a 0.2.4 release, but that isn't me volunteering...

[2015-10-13 22:31] gregcaporaso commented on #2090
Yep, it all comes down to what we have the bandwidth for. I'm really excited to start using this method, but I think the way to get there is to start focusing on QIIME 2 development.

[2015-10-13 22:32] colinbrislawn commented on #2090
I'm comfortable with this being incorporated into QIIME 2. If I need it before then, a colleague or I can run it through scikit-bio.

This is off topic, but what's the timeline for QIIME 2 release? Is your team planning a 1.10.0 release before 2.0.0? Just curious...

[2015-10-13 23:07] gregcaporaso commented on #2090
No, we're not planning a 1.10.0 release, but we will do bug fix 1.9.x
release if necessary. The plan is that 1.9.x is going to be a long-term
support release which we'll continue to support as we're developing,
releasing, and supporting early versions in the 2.x.x series of release. We
have a call coming up to discuss the plan for the 2.0.0 timeline, and we'll
share some information on that with t

[2015-10-18 17:04] alifar76 opened #2092 "Addition of three-model approach and elastic nets"
Hello QIIME developers,

I'd like to suggest two additions in QIIME with regards to statistical analyses and like to provide some code I have written for this purpose.

In a paper published last year titled: "[The vaginal microbiota of pregnant women who subsequently have spontaneous preterm labor and delivery and those with a normal delivery at term](http://www.microbiomejournal.com/content/2/1/1

[2015-10-19 13:51] khalidqiime opened #2093 "qiime installation error"
Hi,

I tried to install qiime on a OpenSuse system and I received the following error.
(Note numpy, pypi and pip are installed)

Can some one help me !
***********************************************************************************************************************

Collecting qiime
  Using cached qiime-1.9.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (mo

[2015-10-20 16:43] xuguang54 opened #2094 "Link Broken: Illumina Overview Tutorial IPython Notebook"
This tutorial is provided as an IPython Notebook. See the Illumina Overview Tutorial IPython Notebook.

[2015-10-21 21:48] gregcaporaso commented on #2094
Confirmed.

[2015-10-21 21:53] gregcaporaso commented on #2094
Hmm, it seems to be working for me now. @xuguang54, is it working for you now? I wonder if it's an intermittent issue with nbviewer (the site that is rendering the tutorial). Note that you can also view the tutorial [here](https://github.com/biocore/qiime/blob/1.9.1/examples/ipynb/illumina_overview_tutorial.ipynb) if you're still having trouble.

[2015-10-24 04:47] wdwvt1 opened #2097 "parallel_align_seqs_pynast.py gives a misleading error message when pynast is not installed"
You can recreate this by removing `pynast` from your path and running:

`parallel_align_seqs_pynast.py -h`

The output will be:

`optparse.OptionValueError: option --pairwise_alignment_method: invalid choice: 'uclust' (choose from )`

Reasonably a good install will have PyNAST, but if we are going to have an error here it should at least make sense.

[2015-10-24 04:55] ElDeveloper commented on #2097
:+1:

On (Oct-23-15|21:47), Will Van Treuren wrote:

[2015-10-26 15:51] jairideout opened #2098 "plot_taxa_summary.py -b/--colorby option description inaccurate"
See [this QIIME forum post](https://groups.google.com/d/topic/qiime-forum/HUOFlhzOYRU/discussion) for details.

[2015-10-27 15:58] jairideout opened #2099 "filter_samples_from_otu_table.py --sample_id_fp fails on blank lines"
If the file specified via --sample_id_fp has blank lines, filter_samples_from_otu_table.py fails with an uninformative error message:

[code]

Relevant QIIME forum post [here](https://groups.google.com/d/topic/qiime-forum/SkhIaTaHqkw/discussion).

[2015-10-27 20:04] wolass opened #2100 "pick_otus.py using cd-hit method doesn't see the cd-hit-est program"
pick_otus.py -i Output/seqs_filtered.fna -m cdhit -o cdhit_otus/ -s 0.97 -n 100
gives me an error:

     burrito.util.ApplicationNotFoundError: Cannot find cd-hit-est. Is it installed? Is it in your path?

I have cd-hit installed under ubuntu Trusty.
Problem is that my cd-hit package doesn't have a  cd-hit-est command.
The command that i have is cdhit-est. See the difference? :)

Maybe this is onl

[2015-10-28 18:05] AmandaBirmingham commented on #1103
+1
Would be very useful for those who have to work with Ion Torrent data, which tends to have numerous sequences with premature truncation and thus a wide variety of read lengths.

[2015-10-28 20:08] gregcaporaso commented on #2100
Hi @wolass. This is coming up because you're trying to use an unsupported version of cd-hit. QIIME supports cd-hit version 3.1.1. (We realized that's very old, but we've preferred uclust, swarm, sumaclust, and sortmerna for a while, all of which are installed with QIIME.) If you want to try to have QIIME use the more recent version, you could run ``alias cd-hit-est=cdhit-est``, but that is not som

[2015-10-28 20:08] #2100 closed

[2015-10-28 20:16] #2094 closed

[2015-10-28 20:17] gregcaporaso commented on #2093
@khalidqiime, can you please post this question to the [QIIME Forum](http://forum.qiime.org)? That is our primary resource for technical support with QIIME. Thanks!

[2015-10-28 20:17] #2093 closed

[2015-10-28 20:24] gregcaporaso commented on #2092
Hi @alifar76. Thanks for your interest in contributing to QIIME, and sorry for the slow response.

Later this week we'll be posting some information about our development efforts on QIIME 2 on the [QIIME blog](http://blog.qiime.org), which will support a plugin system. It will likely make the most sense for you to develop these as plugins for QIIME 2. Over the next few months we'll be putting info

[2015-10-28 22:27] gregcaporaso opened #2101 "add tutorial document on combining multiple runs of pick_open_reference_otus.py"
This question has come up several times recently, and we don't have good documentation for it.

Basically, if a user is getting new sequence data regularly, and doesn't want to run ``pick_open_reference_otus.py`` in iterative mode on all of their runs every time they get a new run, we should document how to do this iterative process in multiple runs of ``pick_open_reference_otus.py``.

Things to c

[2015-10-28 23:27] jairideout commented on #2101
:+1:

[2015-10-29 04:57] alifar76 commented on #2092
Hi @gregcaporaso,

Thanks a lot for writing back. Actually, what you've suggested sounds like a great idea. In fact, I have been working on this [Python/R mashup kinda pipeline](https://github.com/alifar76/biological-convergence), which integrates the two ideas I have proposed above. I'm currently working on adding more ML based methods into the pipeline, such as [Boruta](https://m2.icm.edu.pl/bor

[2015-10-30 16:51] AmandaBirmingham opened #2102 "Documentation fix: change -f to -i in example for validate_demultiplexed_fasta.py"
The example for validate_demultiplexed_fasta.py reads:
validate_demultiplexed_fasta.py -f seqs.fasta -m Mapping_File.txt
but in fact there is no switch -f ; rather, the required switch for the input fasta file path is -i . Proposed fix: delete f, type i at line 24 of /scripts/validate_demultiplexed_fasta.py :)

[2015-10-30 17:01] AmandaBirmingham opened #2103 "Documentation addition: Describe output of validate_demultiplexed_fasta.py"
I recently used validate_demultiplexed_fasta.py.  Although the Description lists what conditions this script checks for, it doesn't say how the findings are reported, and the Output field on the documentation page is empty.  From running it, I see that it creates a file named <myfastafile>_report.log in the directory of <myfastafile> ; it would be nice to have this stated explicitly somewhere in t

[2015-11-03 22:27] AmandaBirmingham opened #2104 "Documentation improvement: Re-add "how to download .ipynb" instructions to Illumina Overview Tutorial webpage"
Once upon a time (apparently as recently as release 1.8.0, see http://qiime.org/1.8.0/tutorials/illumina_overview_tutorial.html ), the Illumina Overview Tutorial html page  had a prominent red banner instructing users how to download the actual, runable .ipynb file rather than the html version of it (still confusingly named with a .ipynb extension) available through nbviewer; see first screenshot.

[2015-11-05 16:52] #2102 closed

[2015-11-05 16:52] gregcaporaso commented on #2102
Thanks, fixed!

[2015-11-05 16:55] gregcaporaso commented on #2092
@alifar76, sounds great! The best way to get information about this going forward will be to keep an eye on the [@QIIME_ Twitter account](https://twitter.com/qiime_), as that's where we'll be announcing this information. More details to follow. Thanks again for your interest in contributing to QIIME!

[2015-11-05 16:55] #2092 closed

[2015-11-05 16:57] gregcaporaso commented on #2090
In case folks haven't seen it, the blog post went up [here](https://qiime.wordpress.com/2015/10/30/toward-qiime-2/).

[2015-11-05 20:33] gregcaporaso commented on #2090
ANCOM is now merged in scikit-bio, so will be included in the upcoming [0.4.1 release](https://github.com/biocore/scikit-bio/milestones/0.4.1).

[2015-11-09 03:19] tuony commented on #1075
hi ialso face this problem how can i solve it

[2015-11-09 05:01] ElDeveloper commented on #1075
@tuony the fix for this problem was merged and released as part of the 1.9.x series, if you are seeing this traceback, I'm guessing you are using an older version of QIIME?

For specific steps on how to troubleshoot this problem, I would suggest going to http://forum.qiime.org

[2015-11-09 13:51] gregcaporaso opened #2105 "link Bokulich et al mock community test files from the QIIME Resources page"
I have all of the links in email. This is a great resource for testing new methods.

[2015-11-12 15:34] gregcaporaso commented on #2084
This will be addressed in QIIME 2, when we completely re-write this processing pipeline.

[2015-11-12 15:34] #2084 closed

[2015-11-12 16:46] gregcaporaso commented on #2081
@colinbrislawn, I'll assign this one to you - just sent you an invitation to join the qiime-developers team on GitHub and I can assign after you accept.

I agree with your idea here. Note that this fix would only end up going into a release if we end up doing a 1.9.2 release, and that will likely only happen if we end up finding a major bug. Just wanted to let you know before you spend time on it.

[2015-11-12 18:34] colinbrislawn commented on #2081
Thanks for inviting me to biocore! I'm honored.

I acknowledge this small patch may not see a release because qiime 1.9.1 is in LTS. I'm fine with that. I'll patch this if others have issues.

[2015-11-12 18:39] gregcaporaso commented on #2081
Thanks! Assigned to you.

[2015-11-12 20:40] gregcaporaso commented on #1954
We might also want to investigate whether [Trimmomatic](http://www.usadellab.org/cms/index.php?page=trimmomatic) gets us what we need.

[2015-11-12 20:44] gregcaporaso commented on #2078
Hey guys, Thanks for your time on this one. Just wondering if there has been any progress (I'm guessing not) or maybe if there could be now that @wdwvt1 is ABD (congrats @wdwvt1!).

[2015-11-12 20:47] #2071 closed

[2015-11-12 20:47] gregcaporaso commented on #2071
Yes, this is more of a forum-style question.

[2015-11-12 20:48] gregcaporaso commented on #2072
This is also more suited for the QIIME Forum. @hackerzone85, note that we answer questions much more quickly there (usually within one working day).

[2015-11-12 20:48] #2072 closed

[2015-11-12 21:14] ElDeveloper commented on #2078
@gregcaporaso, no I have not made any progress on this, from my first pass I couldn't quite find what was going on.

[2015-11-12 21:46] wdwvt1 commented on #2078
hey guys,

i will take a look at this starting tomorrow - thanks for giving it a go
@eldeveloper, i'll ping you and ask questions as i work through.

On Thu, Nov 12, 2015 at 1:14 PM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-11-12 22:22] gregcaporaso commented on #2078
Awesome, thanks @wdwvt1! It'd be really helpful to figure this out to get QIIME back to passing its tests on Jenkins.  Let me know if I can do anything to help.

[2015-11-13 00:41] colinbrislawn commented on #1954
Trimmomatic only does trimming, not demultiplexing. [Ea-utils](https://code.google.com/p/ea-utils/) does both, though it's not as ambitions as the 'pattern matching language' you propose.

[2015-11-16 08:41] wdwvt1 commented on #2078
I did some digging, and I feel like I have isolated the problem but I don't understand it. Someone with more knowledge of floats will be super helpful.

Setup:

`r*` = correlation coefficient between vectors x and y
`r_i` = correlation coefficient between vectors x and permuted vector y_i

At a high level, the test is failing because there are 3 `r_i`'s that are smaller than anticipated (or compar

[2015-11-16 13:22] antgonza commented on #2078
Thanks for the detailed explanation. What about testing with `format(Decimal.from_float(x), 'y')` as described [here](https://docs.python.org/3/tutorial/floatingpoint.html#representation-error) or is_close described [here](https://www.python.org/dev/peps/pep-0485/) and [here](http://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.isclose.html)?

[2015-11-16 13:27] wasade commented on #2078
Three questions, what numpy types are being reported on each system, and
are there any type conversions being done (e.g., between python and numpy)
Second, are the values composing the r_i's really small or large in nature?
Third, same numpy versions and libraries being linked?

On Mon, Nov 16, 2015 at 12:41 AM, Will Van Treuren <notifications@github.com

[2015-11-16 17:05] ElDeveloper commented on #2078
I was thinking about the same thing, what about casting and forcing all
inputs to be of the same type maybe np.float64.

On (Nov-16-15| 5:27), Daniel McDonald wrote:

[2015-11-16 17:09] antgonza commented on #2078
Note that I don't think that forcing the type will work as the issue is the bits of precision and I'm not sure if there is a way to force them. Thus, the idea of going around either by using is_close or `format(Decimal.from_float(x), 'y')`

[2015-11-16 17:20] wasade commented on #2078
Unnecessary casting could lead to precision issues. Questions were oriented
to help understand the root cause of the issue
On Nov 16, 2015 11:09 AM, "Antonio Gonzalez" <notifications@github.com>
wrote:

[2015-11-16 17:33] ebolyen commented on #2078
I think @antgonza is right, we would need to use something akin to `is_close`. Looking around, it isn't super unusual for linux to use extended precision registers while BSD variants stick to the natural width of the type. More here: https://randomascii.wordpress.com/2013/07/16/floating-point-determinism/

In particular, intermediate results do not have a defined width in IEEE or in C/C++

[2015-11-16 17:44] wasade commented on #2078
Is_close may be necessary, but am hoping to understand what the problem is.
It could standards issues but I don't think we've determined that is
actually the case?

If is_close just works, then its probably not worth a deeper investigation
though.
On Nov 16, 2015 11:33 AM, "Evan Bolyen" <notifications@github.com> wrote:

[2015-11-16 17:49] antgonza commented on #2078
@wasade if you compare @wdwvt1 initial report and the first link in my initial answer I think we are seeing the same problem, which they say is not a bug/issue but just something we need to deal with. However, @wdwvt1 can confirm.

Link here: https://docs.python.org/3/tutorial/floatingpoint.html#representation-error

[2015-11-16 17:56] wasade commented on #2078
The difference in the failed test that is the seed of this thread is
substantial. Is_close on the test may lead to false confidence
On Nov 16, 2015 11:49 AM, "Antonio Gonzalez" <notifications@github.com>
wrote:

[2015-11-16 19:43] wdwvt1 commented on #2078
Hi all - thanks for the responses.

I want to add a piece of information that confuses me (but likely because I just don't understand precision/floats well enough). If i take the `r_i`'s from the linux and mac builds, and I ask for their integer denominators (in powers of 2), I get the following values:
[code]
Some of them are `long` type, but sadly the ones that are `long` type are not the ones t

[2015-11-18 18:11] wdwvt1 opened #2107 "compare_alpha_diversity.py p-value return"
I propose that `compare_alpha_diversity.py` should follow the format of `group_significance.py` in returning uncorrected AND corrected p-values. Currently, the return looks like (tab separated):

`Group1	Group2	Group1 mean	Group1 std	Group2 mean	Group2 std	t stat	p-value`

and I propose to change this to:

`Group1	Group2	Group1 mean	Group1 std	Group2 mean	Group2 std	t stat	p-value	FDR p-value	bonf

[2015-11-18 18:17] gregcaporaso commented on #2107
:+1:

Note that this change, if made, may or may not make it into a release as QIIME 1.9.2 is only planned if we need to do a bug fix release.

[2015-11-20 06:44] Owen-haha opened #2108 "Installing QIIME1.9X with Anaconda2"
Dear QIIME,
I want to install QIIME on the Linux cluster without root authority. I try to install with Anaconda2.
Following is my installing steps:
1. Download and install Anaconda2-2.4.0 on my personal directory,
2. Run command "bin/conda install -c https://conda.anaconda.org/jorge qiime " under the Anaconda directory.
I did not receive any ERROR message during the installation. However, when I t

[2015-11-20 16:00] gblanchard4 commented on #2099
A couple questions about this bug:
1.  Should the [list comprehension](https://github.com/biocore/qiime/blob/master/scripts/filter_samples_from_otu_table.py#L128-L129) be changed to a couple conditional statements due to the fact adding an or would make it overly complex?
2. On [line 87](https://github.com/biocore/qiime/blob/master/scripts/filter_samples_from_otu_table.py#L87) we assign input_fp =

[2015-11-21 20:40] colinbrislawn commented on #2099
Qiime 1.9.x is an LTS release, so it's probably worth fixing, eventually.

1. I'm not sure the best way to address this. What's the desired functionality with blank lines? Throw an error? Ignore them?
2. Good catch. That's inconsistent, but IDK if it matters.

[2015-11-24 13:30] gregcaporaso commented on #2099
Hi @gblanchard4, thanks for the questions. Since it's a pretty straight-forward fix, if we end up doing a 1.9.2, we'd fix this, but probably not otherwise.

On your first question, yes it's probably worth changing that. On the second question, yep, just must have been missed on a refactor at some point.

[2015-11-24 16:29] kylebittinger opened #2109 "Count total number of bases below quality score threshold"
The split_libraries.py script gives an option to count the consecutive number of bases falling below a quality score threshold.  Users of UPARSE have an option to count total number of non-consecutive bases below the window, and discard if the number exceeds a defined value.  Suggest adding an option of --max_low_quality_basecalls.

[2015-11-27 17:58] wasade opened #2110 "Use double precision with FastTree"
QIIME setup currently hard codes a download of 2.1.3. DP support was added in 2.1.8 (set at compile time, it's not default). SP has been known to result in incorrect branch lengths.

[2015-11-27 17:59] wasade commented on #2110
Possible dup of #1975

[2015-11-27 17:59] #2110 closed

[2015-12-01 15:30] lydiajleon opened #2111 "split_libraries_fastq.py error"
Hi there

I have a 288 multiplex 16S amplicon fastq file from MiSeq for which I have combined the reads and barcodes and removed unused barcodes. I have also validated my mapping file. However when I go to split my library using split_libraries_fastq.py I keep getting an error. Please see the script below for an example:
MY INPUT:
qiime@qiime-190-virtual-box:~$ split_libraries_fastq.py -i /home/qi

[2015-12-02 23:25] colinbrislawn opened #2112 "Consistent output for SortMeRNA tax assignment"
The script `assign_taxonomy.py -m sortmerna` works great! However, the resulting taxonomy sometimes omits unassigned levels.

In this output, `g__; s__` should be at the end of the second line, but is not. It _is_ at the end of the last line, which is strangely inconsistent. (Scroll to the right :point_right: )

[code]

I have not taken a look at the code yet, but I'm interested in taking this one

[2015-12-02 23:28] colinbrislawn commented on #2105
:+1: Yes please. While these are on qiita, they are not easily accessible.

We could place them in a github repo, similar to www.github.com/torognes/vsearch-data

[2015-12-03 21:28] colinbrislawn commented on #2108
Hello @Owen-haha,

I think you are on the right track. I would modify your process in two small ways:
 1. Install as many packages as possible using conda.
 2. Install qiime from the git archive (instead of jorge's old anaconda package).

Try this:
[code]

[2015-12-03 21:35] colinbrislawn commented on #1759
Hello everyone. This issue is being addressed over in biocore/conda-recipes/issues/3. The day will come!

@Jorge-C, could you remove your [1.9.0-dev package of qiime](https://anaconda.org/jorge/qiime)? I'm glad that people want to install qiime through conda, but this old build makes troubleshooting tricky.

[2015-12-03 21:45] Jorge-C commented on #1759
Thanks for the heads up, I just deleted it.
On Dec 3, 2015 2:35 PM, "Colin Brislawn" <notifications@github.com> wrote:

[2015-12-03 21:50] colinbrislawn commented on #1975
FastTree 2.1.8 complied with double precision (with and without openMP) will be available on conda once biocore/conda-recipes/pull/49 is merged.

Could we make this part of the qiime 2 milestone?

We will need to change this version check:
https://github.com/biocore/qiime/blob/c2b62a86100f08e26011a11587a8da60ccaf409a/scripts/print_qiime_config.py#L338

We will need to change this unit test:
https:

[2015-12-03 21:51] colinbrislawn commented on #1759
Thanks! (Sorry to ask you to take down software. I'm glad people want  biocore/conda-recipes#3!)

[2015-12-03 22:11] colinbrislawn opened #2113 "Improve error message when bad fastq file is passed."
In the [qiime-form](https://groups.google.com/forum/#!topic/qiime-forum/3_q2cFXrTeU), a user had trouble understanding this error. (They thought it was referring to their mapping file.)

https://github.com/biocore/qiime/blob/c2b62a86100f08e26011a11587a8da60ccaf409a/qiime/parse.py#L38

[2015-12-03 23:38] ElDeveloper commented on #1759
The day will come!!!

On (Dec-03-15|13:35), Colin Brislawn wrote:

[2015-12-04 03:11] Owen-haha commented on #2108
Thank you very much @colinbrislawn !
pip installation works well for me.

[2015-12-09 07:27] hackerzone85 opened #2116 "differential_abundance.py DESeq2_nbinom error"
[code]

[2015-12-15 17:47] ElDeveloper opened #2117 "plot_taxa_summary.py will fail with matplotlib 1.5.0"
The Jenkins build is failing, for the most part due to the following error:

[code]
This is the reason why #2115 is failing.

From [this post in the QIIME forum](https://groups.google.com/forum/#!topic/qiime-forum/x_ANVSoweq8), it seems like this is a problem that can be solved by downgrading matplotlib to something <1.5.0.

Not sure exactly what we want to do with this.

[2015-12-16 21:01] wdwvt1 opened #2118 "remove the G test from group_significance.py"
I have come across several situations now where the `g_test` in the script `group_significance.py` gives implausibly small p-values. For instance, in a recent forum post, an individual was comparing two treatment groups of size (3,3) and the `g_test1` returned test statistics as large as 680. The associated p-values were recorded as 0 because they underflowed.

This seems implausibly small to me g

[2015-12-16 21:31] rob-knight commented on #2118
Remember it assumes that the samples are homogeneous. Likely the samples are not homogeneous, but the heterogeneity comes from one of the many technical biases that can cause samples to differ (even differences in individual PCRs). I suggest adding a warning about this in the documentation (i.e. the test statistic may not mean what you think it does) rather than removing the test.

[2015-12-17 17:05] colinbrislawn commented on #2117
and another one:
https://groups.google.com/d/msg/qiime-forum/8VopZ3AOmms/aPVMUqTQAwAJ

[2015-12-17 21:30] antgonza commented on #2105
Suggest coordinating with Nick but these are the studies in Qiita:
Available:
http://qiita.ucsd.edu/study/description/721
http://qiita.ucsd.edu/study/description/722
http://qiita.ucsd.edu/study/description/1686
http://qiita.ucsd.edu/study/description/1687
http://qiita.ucsd.edu/study/description/1688
http://qiita.ucsd.edu/study/description/1683
http://qiita.ucsd.edu/study/description/1684
http://qi

[2015-12-31 06:39] homopolymer opened #2119 "validate_mapping_file.py failed with sckit-bio 0.4.0"
Run validate_mapping_file.py -h, but get the following errors:

Traceback (most recent call last):
    File "/home/ubuntu/anaconda2/bin/validate_mapping_file.py", line 14, in <module>
        from qiime.util import parse_command_line_parameters, get_options_lookup,\
    File "/home/ubuntu/anaconda2/bin/lib/python2.7/site-packages/qiime/util.py", line 50, in <module>
        from skbio.format.seque

[2015-12-31 06:50] mortonjt commented on #2119
Hi @homopolymer .  Qiime is actually not compatible with scikit-bio 0.4.0.  Try downgrading scikit-bio to 0.2.3

[2015-12-31 12:15] #2119 closed

[2016-01-08 22:54] rjohns03 opened #2120 "parallel_assign_taxonomy_blast.py appears to incorrectly generate the "formatdb" command"
Hello all,

I am trying to use the qiime parallel_assign_taxonomy_blast.py script on a supercomputing cluster. Qiime 1.9.1 via pip using the Anaconda python stack.

I am running the following command: parallel_assign_taxonomy_blast.py -i dataset_3077.dat -o parallel_assign_taxonomy_blast_output -r dataset_3059.dat  -O 8 -t dataset_3058.dat

and all the dataset_####.dat files are in the current wor

[2016-01-09 14:06] wasade commented on #2117
Just to comment, this was also a problem with the workshop I'm doing as the install for QIIME worked until testing the tutorial. Due to the nature of the workshop, we weren't able to reuse the QIIME AMI so it was a fresh install that was impacted.

[2016-01-11 14:56] gregcaporaso commented on #2117
Should we just set the version requirement to ``1.4.3`` in ``setup.py``?

[2016-01-11 16:08] ElDeveloper commented on #2117
I think that is the easiest, alternative is to fix the code to work with
the current API and make sure it's a backwards compatible change.

On (Jan-11-16| 6:56), Greg Caporaso wrote:

[2016-01-16 16:10] wasade opened #2122 "Newick format hyperlink in the Illumina tutorial does not work"
It points to: http://scikit-bio.org/docs/latest/generated/skbio.io.newick.html, which yields 404.

Issue discovered by Elin Videvall

[2016-01-17 15:49] wasade opened #2123 "Tutorial error"
Bit surprised to see this. It's running on an EC2 instance (not the QIIME AMI). QIIME was installed via pip and is using matplotlib 1.4.3. This is on `core_diversity_analysis.py`:

[code]

[2016-01-17 16:52] mortonjt commented on #2123
I think that is a matplotlib error. Looks like there is a workaround by
modifying the .matplotlibrc as shown below

https://groups.google.com/forum/#!searchin/qiime-forum/no$20$24DISPLAY$20/qiime-forum/6srHDScyh_0/yVJQfjo1V-EJ

On Sun, Jan 17, 2016 at 7:49 AM, Daniel McDonald <notifications@github.com>
wrote:

[2016-01-17 17:02] wasade commented on #2123
There hasn't previously been a need to have a matplotibrc to run qiime...
On Jan 17, 2016 5:52 PM, "mortonjt" <notifications@github.com> wrote:

[2016-01-18 10:24] wasade opened #2125 "Unusual error messages in the illumina tutorial"
Seeing many of these coming from `core_diversity_analysis.py`:

[code]

Capture from the log file below. Using matplotlib 1.4.3. Anyone else seen these? Results appear to be fine, but will be confusing for users.

[code]

[2016-01-20 19:56] gregcaporaso commented on #2125
Weird, I have not seen that. Is this message displaying in the notebooks (if that's what you're using)? And ``core_diversity_analysis.py`` does complete successfully?

[2016-01-20 20:00] wasade commented on #2125
Yes and yes. Haven't tried via cmdline but not sure how that would change
things
On Jan 20, 2016 8:56 PM, "Greg Caporaso" <notifications@github.com> wrote:

[2016-01-20 20:05] gregcaporaso commented on #2123
Yeah, we've never had to have matplotlibrc before. Note that in the QIIME AMI we install ``apt-get install tcl-dev`` - could that be related? The steps that we take to build the QIIME AMI are [here](https://github.com/biocore/qiime/wiki/Building-the-QIIME-AMI).

[2016-01-20 20:14] gregcaporaso commented on #2125
Ok, thanks. I don't get it locally, so I think it must be something with that environment. Is this the same image you're using for #2123?

[2016-01-20 20:20] wasade commented on #2125
Ya, can't imagine what else it would be except matplotlib.
On Jan 20, 2016 9:14 PM, "Greg Caporaso" <notifications@github.com> wrote:

[2016-01-20 20:33] jairideout commented on #2123
We are creating a matplotlibrc file when building the AMI, see step 8.

[2016-01-20 20:49] wasade commented on #2123
:/ much more complex than "pip install numpy; pip install qiime"

Thanks, I think this can be closed

On Wed, Jan 20, 2016 at 9:33 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-01-20 21:18] gregcaporaso commented on #2123
Thanks @jairideout, missed that step.

@wasade, yep, QIIME 2 time...

[2016-01-20 21:18] #2123 closed

[2016-01-27 19:42] Elff0606 opened #2126 "errors from script "split_libraries.py", please help!"
hi qiimers!
I have a problem when running the split_libraries.py, please help, thanks!
the code is as follows, I have no idea how to deal with the error value.

qiime@qiime-190-virtual-box:~/1$ split_libraries.py -m 050715AP1-mapping2.txt -q qru1.qual -f qru1.fasta -b hamming_8 -L 2000 -o split_library_output
Traceback (most recent call last):
  File "/usr/local/bin/split_libraries.py", line 411,

[2016-01-28 23:42] wasade opened #2127 "make_otu_table.py not excluding sequences as expected"
Originally reported on the [qiime-forum](https://groups.google.com/forum/#!topic/qiime-forum/mf8TmjJvn4k) by Marie. The expectation below is that OTU 0 should have a count of 3 and OTU 1 should have a count of 4. It does not appear that the exclusion of OTU IDs (-e) is working as described.

The description of the option indicates that the use below should be valid where IDs found in a fasta file

[2016-02-01 18:26] colinbrislawn commented on #2105
I'm still interested in this data. [Other people](http://www.drive5.com/usearch/manual/hmp_mock_data.html) are too.

I'm also interested in contributing to the resource page or to a new github repo for this data set. Let me know how I can help.

[2016-02-02 20:41] colinbrislawn commented on #2126
This issue has been addressed on the qiime fourms:
https://groups.google.com/forum/#!topic/qiime-forum/nMFglm4cEVM

Please close.

[2016-02-02 20:51] colinbrislawn commented on #2122
Here is the correct link:
http://scikit-bio.org/docs/latest/generated/skbio.io.format.newick.html

Link is in this file:
https://github.com/biocore/qiime/blob/master/examples/ipynb/illumina_overview_tutorial.ipynb

[2016-02-02 20:54] colinbrislawn commented on #2108
@Owen-haha Good to hear that it worked! Can you close this issue?

[2016-02-02 22:51] #2122 closed

[2016-02-03 00:15] odetomyday opened #2129 "New tutorial video"
Hello. I work at North Carolina State University in the Biotechnology program. We use Qiime in our metagenomics class. The students requested that I record a tutorial on installing Qiime using VirtualBox, so I did. The link is here: https://www.youtube.com/watch?v=ZDEF3gtS7cE

It's only part 1 of 3 so far, but I thought you all might be interested in knowing it exists.

[2016-02-04 22:17] colinbrislawn commented on #2129
That video looks like a great place for students to start.

I googled 'NC State supercomputing' and found that you have a solid compute center. Have you considered installing qiime on your supercomputing cluster? Amplicon studies are a lot smaller than most other types of metagenomics so, a supercomputer will really let you lab churn through large data sets.

Colin Brislawn

[2016-02-09 15:03] odetomyday commented on #2129
It's not my lab, I only maintain the equipment, but I passed that message along to the PI.  I completed the tutorial series -- you all are free to link to it on your tutorial pages if you think people would find it useful. Most of our students have never used a command line interface before, so it goes very step-by-step.

Part 2 https://www.youtube.com/watch?v=njw31zxnPtI
Part 3 https://www.youtub

[2016-02-12 16:48] gregcaporaso commented on #2105
@colinbrislawn, if you're available to issue a PR adding the links to the QIIME Resources page (content is [here](https://github.com/biocore/qiime/blob/gh-pages/home_static/dataFiles.html)), that'd be fantastic!

[2016-02-12 16:49] gregcaporaso commented on #2105
Also, ping @nbokulich so he's aware of this.

[2016-02-12 16:54] colinbrislawn commented on #2105
Sure thing! Should I link to the studies on qiita, or on a FTP server, or in a github repo like I mentioned before?

[2016-02-12 16:56] gregcaporaso commented on #2105
I think Qiita is ideal, if @antgonza agrees. Otherwise FTP. The files are
too big to make sense in a GitHub repo. Thank you!

On Fri, Feb 12, 2016 at 9:54 AM, Colin Brislawn <notifications@github.com>
wrote:

[2016-02-12 17:05] colinbrislawn commented on #2105
I guess I kind of like hosting these on FTP and qiita, if possible.

The [vsearch test data](https://github.com/torognes/vsearch-data/) and the [Mothur example data](http://www.mothur.org/w/images/d/d6/MiSeqSOPData.zip) are really easy to download and this encourages reuse. While I use and love qiita, it's new and we can lower the barrier of entry with an FTP site. Could we host these files along

[2016-02-12 17:11] gregcaporaso commented on #2105
Are the files hosted in Qiita accessible through ftp @antgonza? I can't comment on ftp.microbiome.me - that's a Knight Lab resource.

[2016-02-12 17:16] colinbrislawn commented on #2129
I just watched parts two and three and they are excellent! Qiime is used by lots of microbiologists who have never used linux of Python before, so these are a great place to start. Would you be comfortable with us mentioning these or linking to a NC State page with these videos?

[2016-02-12 17:18] colinbrislawn commented on #2105
Oh if we could hard link to the files in qiita, that would remove the barrier of entry without duplicating effort. That would be perfect!

[2016-02-12 17:39] odetomyday commented on #2129
You are welcome to link to or embed the videos anywhere you want! So long as you're not pulling it off Youtube and re-uploading, we are fine with you putting them anywhere online. (Actually, people were excited that they might end up on the website.)

I have the green light to keep producing QIIME tutorials, are there any topics which people seem to especially struggle with? I will make sure to te

[2016-02-12 17:55] colinbrislawn commented on #2129
Cool. I'll look into adding these somewhere. I'll have to check with the PIs about a good place for them. Maybe a new section of the [Qiime tutorials](http://qiime.org/tutorials/)? @gregcaporaso, advice appreciated.

A general linux tutorial with a focused scope would be helpful. Many people have never used a Linux terminal before and that's more of a challenge than the qiime scripts themselves. E

[2016-02-12 18:19] gregcaporaso commented on #2105
Agree - that would be ideal.

[2016-02-12 18:21] nbokulich commented on #2105
Greg, didn't we copy all raw data to the taxa assignment github? Or still
in the S3 bucket? I know we have these deposited somewhere outside of qiita
already...

On Fri, Feb 12, 2016 at 9:18 AM, Colin Brislawn <notifications@github.com>
wrote:

[2016-02-12 18:53] gregcaporaso commented on #2105
@nbokulich, thanks for the reminder. We did, and those links are [here](https://github.com/gregcaporaso/short-read-tax-assignment/blob/master/data/raw-data-urls.txt) and other relevant data [here](https://github.com/gregcaporaso/short-read-tax-assignment/tree/master/data). I thought we had these on S3, in which case we'd be paying for the data transfer and it's pretty expensive there, but these ar

[2016-02-12 19:20] colinbrislawn commented on #2105
I'm ready to start. Could you assign it to me?

I'll use ftp.microbio.me as much as possible, defaulting to the S3 links when needed. I'll also mention the qiita study IDs.

[2016-02-12 23:19] colinbrislawn commented on #2105
I'll do this in waves, starting with qiita and Bokulich, 2013

The original study [mentions these data sets](http://www.nature.com/nmeth/journal/v10/n1/full/nmeth.2276.html#methods):

From that list, these studies are missing from qiita:
https://qiita.ucsd.edu/study/description/719
https://qiita.ucsd.edu/study/description/1626
Any ideas @antgonza? Maybe these were split into 721 and 722.

Like you

[2016-02-12 23:23] josenavas commented on #2105
@colinbrislawn the ids that you are seeing in the original study have been kept in Qiita - so you just need to put the study id at the end of those links and you will have all those. @antgonza is working on getting all of them available through Qiita.

[2016-02-12 23:27] colinbrislawn commented on #2105
Good to know. Once the links are live I will add them post haste!

What study are 1972 and 1973 from? Those aren't mentioned in the nature paper.
https://qiita.ucsd.edu/study/description/1973

[2016-02-12 23:28] nbokulich commented on #2105
1972 AN

On Fri, Feb 12, 2016 at 3:27 PM, Colin Brislawn <notifications@github.com>
wrote:

[2016-02-12 23:35] nbokulich commented on #2105
Sorry, finger slip hit send prematurely.

1972 and 1973 are from a study we are working on now. Unpublished but you
should include these --- they are good 16S V4 mock community datasets. The
ITS links listed will also be useful... included in the same study, which
is described in this preprint <https://peerj.com/preprints/934.pdf>.

1626 actually = 1517 (it was given a different ID when ported to

[2016-02-13 00:06] colinbrislawn commented on #2105
Thanks for the info! I've added in those links.

I may be a bit slow on this Friday, but I'm having trouble connecting samples on the ftp site with the Qiita studies mentioned in Supp Table 7.
![screen shot 2016-02-12 at 3 56 32 pm](https://cloud.githubusercontent.com/assets/10355152/13023872/326f0f76-d1a2-11e5-892a-887b15ac6b22.png)

Help!

[2016-02-13 00:14] nbokulich commented on #2105
Yeah... I think the links on the FTP site use a different nomenclature.

I dug up the attached document, which should clear things up: it gives the
old and new names, the links in qiita and the FTP, and some data on the
type of data.

Does that clear it up?

On Fri, Feb 12, 2016 at 4:06 PM, Colin Brislawn <notifications@github.com>
wrote:

[2016-02-13 00:15] nbokulich commented on #2105
Looks like the link won't attach. Here's the relevant text (or email me
directly for the table):
Eval Framework ID Nature Methods ID Eval Framework Link QIITA ID / Link
B1 Data set 5
ftp://ftp.microbio.me/pub/illumina-mock-communities-raw-data/S16S-1/
http://qiita.ucsd.edu/study/description/1687
B2 Data set 6
ftp://ftp.microbio.me/pub/illumina-mock-communities-raw-data/S16S-2/
http://qiita.ucsd.ed

[2016-02-13 00:52] antgonza commented on #2105
GitHub doesn't like FTPs.

[2016-02-13 02:26] odetomyday commented on #2129
Great idea! I have also been asked to make a file mapping tutorial, I expect to be done with both within a week, other responsibilities permitting. Our funding for captioning the videos only lasts 6 months, and we're hoping to get as many done as possible before June 1.

I am still not used to the Git system, so you're welcome to contribute the changes yourself if you have time. Also, I brought up

[2016-02-13 19:08] colinbrislawn commented on #2129
Oh yeah, a mapping file tutorial would be great. Building the file, running `validate_mapping_file.py` and fixing the errors always gives people problems.

I'm totally fine with making the changes you suggest. Making suggestions and opening issues is a great way to contribute. Let me know how I can help!

[2016-02-13 19:09] colinbrislawn commented on #2105
Oh thanks! I'll take another shot at it.

[2016-02-14 05:35] colinbrislawn commented on #2105
I've got most of this wrapped up in a PR. With all your help, I'm really close!

I have a quick question: the following folders and associated qiita studies are never mentioned in the Bokulich paper. Are these the data sets from that peerj paper? How should I present these?

[code]

Inversely, I don't have FTP links to these qiita studies.
[code]

Thanks for helping me construct this.

[2016-02-14 06:01] colinbrislawn commented on #2129
Here is a great Linux tutorial that is a good fit for using qiime.
http://linuxcommand.org/

[2016-02-14 16:40] nbokulich commented on #2105
That's correct --- those studies not mentioned in the Nature methods paper
are described in the peerJ preprint.

Studies 1683, 1684, 1689, and 1690 are NOT mock communities. They are
natural communities (i.e., real samples) that we examined in the 2013
paper. Hence, these are not in the FTP and not relevant to your current
needs.

Not sure why 719 isn't in the FTP. Think there was another outside

[2016-02-14 22:24] ctekellogg commented on #1939
Hi there,
I just wanted to follow up on this thread and see if any progress has been made towards documentation for the various beta diversity metrics (like http://scikit-bio.org/docs/latest/generated/skbio.diversity.alpha.html but for beta diversity). As far as I can tell only 2 metrics have been added to a similar page for beta diversity (http://scikit-bio.org/docs/latest/generated/skbio.diversi

[2016-02-15 00:22] colinbrislawn commented on #2105
I was planning wait for the official publication to post the peerJ paper. Should I just post them now?

I'm pretty close to finishing the 2013 paper. I was hoping to add the 1683, 1684, 1689, and 1690 studies. While they are _not_ mock communities, they _are_ included in the paper. I guess I'll just use qiita links if they are not on the server...

[2016-02-15 12:28] gregcaporaso commented on #2105
I don't think there's any reason to wait for the peer-reviewed publication.
I also don't think you should post 1683, 1684, 1689, or 1690 - since those
are not mock communities it'll they just add some confusion to what this
resource is. Let's keep it as just the mock communities.

On Sun, Feb 14, 2016 at 5:22 PM, Colin Brislawn <notifications@github.com>
wrote:

[2016-02-15 12:41] gregcaporaso commented on #2105
@nbokulich, aren't the Turnbaugh 1 sequences the one from my 2011 PNAS paper?

[2016-02-15 13:24] gregcaporaso commented on #2129
Thanks for the great videos @odetomyday, and for providing all of the input @colinbrislawn! What I'd suggest here is that you create a YouTube channel for all of your QIIME videos. This will let you customize the layout, and highlight any acknowledgements, etc that you'd like to make. Once you've done that, we can link to your channel.

I think what I'll end up doing is creating a new wiki page fo

[2016-02-15 14:45] odetomyday commented on #2129
The videos that I make need to be kept on the NCSU BIT Youtube channel, which will eventually have a variety of content, not all of it QIIME related. The playlist function on Youtube might work for what you are saying -- there is space for a description, and the manager of the playlist can reorder the videos as well. I have already made one for our QIIME videos: https://www.youtube.com/playlist?li

[2016-02-15 16:29] nbokulich commented on #2105
Yes, Turnbaugh 1 = your 2011 PNAS paper.

On Mon, Feb 15, 2016 at 4:41 AM, Greg Caporaso <notifications@github.com>
wrote:

[2016-02-15 17:26] colinbrislawn commented on #2105
Just to be sure,
Turnbaugh1 == qiita 721 == One half of Data set 1
Turnbaugh2 == qiita 722 == Other half of Data set 1

[2016-02-15 17:46] colinbrislawn commented on #2129
Playlists work great. We can definitely use the one you posted.
Software carpendary is very good: http://swcarpentry.github.io/shell-novice/
Validation with Keemei is also good, especially for first time users.

The [illumina overview tutorial](http://nbviewer.jupyter.org/github/biocore/qiime/blob/1.9.1/examples/ipynb/illumina_overview_tutorial.ipynb) uses the Moving Pictures data set: ftp://ftp.m

[2016-02-15 19:45] benjjneb commented on #2105
I was wondering if there were reference sequences for the Bokulich mock communities that were analyzed in "Quality-filtering vastly improves diversity estimates from Illumina amplicon sequencing"?

What I'm looking for is something like a list of the 16S sequences present in each of the mock community strains (eg. http://www.mothur.org/MiSeqDevelopmentData/HMP_MOCK.fasta). All I can find in the or

[2016-02-15 20:11] nbokulich commented on #2105
@colinbrislawn: Incorrect.
qiita 721 == forward reads for Turnbaugh1. This was also formerly known as
qiime 719
qiita 722 == reverse reads for Turnbaugh1

Turnbaugh2 == qiita 1973

@benjjneb: No, we do not have such ref sequences compiled yet. We are
currently working on this, and believe you had emailed us about this
already. We will post these as a public resource once they are available.

On Mo

[2016-02-16 02:12] opizz opened #2131 "Align_seqs error help please! New user here"
Hi there,
I'm new at this and any help with this error would be greatly appreciated! Not sure how to even start...looks like it's looking for a temporary directory. Any insight would be greatly appreciated!!

Running alignment on node and after running for over an hour and a half, it returns this error:

 Traceback (most recent call last):
  File "/home/qiime/qiime_software/qiime-1.8.0-release/bin

[2016-02-16 23:15] colinbrislawn commented on #2105
OK, I think my PR is done. Can someone review #2130 ?

Should I include study `1626 / 1517`? It's ITS, not used in the preprint, and private on qiita.
`NA Data set 4
ftp://ftp.microbio.me/pub/illumina-mock-communities-raw-data/L18S-1/
http://qiita.ucsd.edu/study/description/1517
`

[2016-02-16 23:20] colinbrislawn commented on #2131
Hi @opizz, thanks for getting in touch with us!

Can you post this question over at the [Qiime Forums](https://groups.google.com/forum/#!forum/qiime-forum)? I'm guessing this is an issue with the /tmp/ directory on your Qiime VM, I think we can probably answer it faster on the forums. Github is usually a better fit for fixing bugs or adding features.

Thanks!
Colin B

[2016-02-17 06:09] #2131 closed

[2016-02-21 15:03] gregcaporaso commented on #2129
Playlist is a great idea, thanks! (Sorry for the slow reply, was at a
meeting last week.)

On Mon, Feb 15, 2016 at 10:46 AM, Colin Brislawn <notifications@github.com>
wrote:

[2016-02-21 15:35] odetomyday commented on #2129
Great-- I have already added the videos from Qiime Help to the playlist linked above. I have successfully recorded the linux command tutorial video, which is actually going to be more of a lecture (uncut length is over an hour). I haven't gotten a chance to record the Keemei video yet, but that is next on the list.

[2016-02-22 22:49] JWDebelius opened #2132 "Matplotlib compatability issue"
We've had two rotation students here run into issues with recent (in the past few weeks) with matplotlib in recent (past few weeks) installations on our super computer. The error is complain about plotting multiple things on the same axis; It seems to be solved by installing 1.4 or so.

Should the pip installation limit the version of matplotlib installed?

[2016-02-24 09:47] souravsingh commented on #2104
I would like to work on this issue.

[2016-02-26 14:13] souravsingh commented on #2068
I would like to work on the issue

[2016-02-26 14:13] souravsingh commented on #2075
I would like to work on the issue

[2016-03-01 21:51] gregcaporaso commented on #2075
Hi @souravsingh, Thanks for your interest in working on this. We're currently devoting most of our attention to QIIME 2, so if you're interested in getting involved in QIIME development, it's probably better to jump in there than here. Over the next few weeks we'll have some information going up about how to get involved. Would you prefer to do that to get started with QIIME development, or do you

[2016-03-01 21:53] gregcaporaso commented on #2068
@souravsingh, I just posted a comment on #2075 about contributing to QIIME 1 versus QIIME 2 - let me know how you'd like to proceed, and thanks for your interest in contributing to QIIME!

[2016-03-02 07:46] bgruening commented on #2108
There is now a qiime package in bioconda. Please try `conda create qiime -c bioconda`.

[2016-03-02 07:51] bgruening commented on #1759
There is now a qiime package in bioconda.
Please try `conda create qiime -n qiime -c bioconda`. We plan to use this package for further Galaxy integration.

[2016-03-02 13:22] souravsingh commented on #2075
@gregcaporaso I would really like to get involved in QIIME development.Since I didn't see a lot of issues posted in QIIME 2 bug tracker, I came here.

[2016-03-02 15:45] wasade commented on #1759
Thanks @bgruening! Very excited to test this out!!

[2016-03-02 16:39] ElDeveloper commented on #1759
Cheers @bgruening!!

[2016-03-02 16:48] bgruening commented on #1759
@ElDeveloper please test it if you have time. This is also a very basic QIIME, not sure if we are aiming for a full-fledged version. If we do I thought about adding a new package qiime_all that depends on qiime.

[2016-03-02 16:52] ElDeveloper commented on #1759
@bgruening, I just gave this a quick shot and the QIIME scripts were failing due to missing dependencies for matplotlib, this is the error message I got:

[code]

After installing `mock` and `nose` it seemed to be working.

Agree on the strategy to divide between `qiime` and `qiime_all`.

[2016-03-02 16:52] wasade commented on #1759
Can report that "print_qiime_config.py -t" passes on a centos 6 box in a
fresh environment

On Wed, Mar 2, 2016 at 8:48 AM, Björn Grüning <notifications@github.com>
wrote:

[2016-03-02 16:53] wasade commented on #1759
@ElDeveloper, that was OSX, right?

On Wed, Mar 2, 2016 at 8:52 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2016-03-02 16:57] bgruening commented on #1759
Mh, matplotlib is defined as dependency and gets installed here. Mock should be a dependency on matplotlib and I have this as well. Nose is only needed for testing, right?
@wasade so it is working for you I assume?

[2016-03-02 17:15] wasade commented on #1759
I didn't run in detail just exercised tests. I can exercise the code
further but realistically it'll be a few days before I can get to it

On Wed, Mar 2, 2016 at 8:57 AM, Björn Grüning <notifications@github.com>
wrote:

[2016-03-02 17:16] ElDeveloper commented on #1759
@bgruening yeah, I was surprised about this. @wasade Yeah this was OSX.

[2016-03-02 17:32] colinbrislawn commented on #1759
@bgruening My god this works on RHEL. Well done!
[code]

[2016-03-02 17:36] bgruening commented on #1759
Nice! Next step proper Galaxy and HPC integration!

[2016-03-02 17:40] colinbrislawn commented on #1759
@bgruening This does not work on OSX 10.8.5. A mac version would be very useful.

[code]

[2016-03-02 17:40] ElDeveloper commented on #1759
That's weird, I was testing in OSX.

On (Mar-02-16| 9:40), Colin Brislawn wrote:

[2016-03-02 18:12] colinbrislawn commented on #1759
@bgruening I just updated my anaconda programs to make sure it was not a software version problem on my end. No luck. This currently lacks OSX support.

[code]

[2016-03-03 20:35] bpenalver commented on #1759
I am having the same issues. It looks like the package is available for Linux but not for Mac.

[2016-03-03 21:35] gregcaporaso commented on #1759
I'm also not able to install on OS X.

Thanks so much for the work on this @bgruening and everyone else!

[2016-03-04 04:37] ETaSky commented on #2054
exact same issue here in QIIME 1.9.1. Have you figured it out yet? I guess it is related to the category of mapping file.

[2016-03-04 05:17] ETaSky commented on #2054
OK, just found a solution mentioned in on google group post. Fill all empty space in the mapping file with NA (or something). Mine used to have those Description, Barcode stuffs, empty.

[2016-03-04 12:29] gregcaporaso commented on #2054
Yes, sorry for the trouble, we'll be removing many of these fields that are required but not always actually used in QIIME 2 to make generation of mapping files simpler.

[2016-03-04 18:55] cdiener commented on #2132
This is a duplicate of #2117. Qiime 1.9.1 does not play well with matplotlib 1.5 due to the matplotlib API changes.

[2016-03-05 18:47] bgruening commented on #1759
@gregcaporaso @bpenalver please try again, should be available now.

[2016-03-15 10:29] souravsingh commented on #2068
@gregcaporaso I would like to contribute to QIIME 2.But I do not see any easy-fix bugs in QIIME 2 bug tracker/

[2016-03-16 13:23] metaltree99 commented on #2117
We are experiencing the same issue. Sorry, but from your last posts, it is not clear to me how to proceed to fix it, could you explain it to me?

[2016-03-16 16:02] ElDeveloper commented on #2117
`pip install 'matplotlib==1.4.3'` running this command should make your installation functional.

[2016-03-16 19:03] metaltree99 commented on #2117
Thanks, that solved it!

[2016-03-17 19:51] billyfournier commented on #2117
Thanks for this. I was having the same issue. I still an error, but it appears to be working.

This is the error:
/usr/local/lib/python2.7/dist-packages/matplotlib/collections.py:590: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == str('face'):

[2016-03-17 20:41] ElDeveloper commented on #2117
No need to worry about that, this is a warning, so you can safely ignore
this.

On (Mar-17-16|12:51), billyfournier wrote:

[2016-03-18 17:05] gregcaporaso commented on #2108
This is now working for me, thanks again @bgruening!

Is this issue ready to be closed?

[2016-03-18 17:07] #2126 closed

[2016-03-18 17:09] gregcaporaso commented on #2120
Hi @rjohns03. Does calling ``parallel_assign_taxonomy_blast.py`` work if you pass absolute rather than relative file paths? If not, would you mind following up on the QIIME Forum rather than the issue tracker? We try to consolidate our support efforts there.

[2016-03-18 17:09] #2120 closed

[2016-03-18 17:10] gregcaporaso commented on #2132
Closing this one in favor of #2117, as there is more detail in that issue.

[2016-03-18 17:10] #2132 closed

[2016-03-18 17:16] bgruening commented on #2108
@gregcaporaso great! Now we need to finish the Galaxy integration :)

[2016-03-18 17:27] #2108 closed

[2016-03-18 17:27] gregcaporaso commented on #2108
@bgruening, Galaxy integration may be better saved for QIIME 2, as it'll be a lot easier (and that will be conda-installable by design).

[2016-03-18 17:31] bgruening commented on #2108
@gregcaporaso how long will this take? We have a few users that are eager to use it :)

[2016-03-18 17:37] gregcaporaso commented on #2108
You can find some info in my [Toward QIIME 2](https://qiime.wordpress.com/2015/10/30/toward-qiime-2/) blog post - we're still in pretty good shape with respect to the schedule presented there. I don't want to dissuade you from working on it, but it has been attempted before and it's not going to be easy (you should discuss with @josenavas if you are interested in doing this). I think it's likely a

[2016-03-18 17:41] bgruening commented on #2108
Ok thanks for the info. We are in contact and now joining forces in a community effort to create these wrappers. https://github.com/galaxyproject/tools-iuc/pull/431

[2016-03-18 17:43] gregcaporaso commented on #2108
Ok, just wanted to make sure you were aware of our progress toward QIIME 2. Thanks for all of your efforts, we really appreciate it!

[2016-03-20 05:12] KaiFeng007 opened #2136 "error of rdp classifier by using assign_taxonomy.py in qiime"
Dear friends,

I want to use assign_taxonomy.py to make rdp classifier species based on GreenGene database.
Then I run the code:
`/usr/lib/qiime/bin/assign_taxonomy.py -i /home/galaxy/user_data/datasets/000/dataset_459.dat -m rdp -t /usr/local/galaxy/galaxy/tools/IEG/RDP/rdp_classifier_2.11/gg_13_8_otus/taxonomy/97_otu_taxonomy.txt -r /usr/local/galaxy/galaxy/tools/IEG/RDP/rdp_classifier_2.11/gg_1

[2016-03-20 18:58] odetomyday commented on #2129
By the way -- I finished the two Linux tutorials
https://www.youtube.com/watch?v=P0KeDt-GuEI
https://www.youtube.com/watch?v=uDvJ5KhqT5A

as well as a tutorial about how to log into an image of QIIME hosted by one of the NC State supercomputers (only available for students and faculty at North Carolina public schools as well as a few partner institutions) https://www.youtube.com/watch?v=oOw-lGoJcY

[2016-03-22 17:11] cluzmaria opened #2137 "I can't split libraries"
I have 16S data from 454 technology. My mapping file is ok but when I tried to split libraries I obtained this error:

Error in split_libraries.py: No filepaths match pattern/name ''. All patterns must be matched at least once.

I don't know what to do!  Can you help me?

[2016-03-22 18:13] gregcaporaso commented on #2137
Hi @cluzmaria. Would you mind posting this question to the [QIIME Forum](http://forum.qiime.org)? We try to keep our support questions there, and reserve this issue tracker for bug reports and feature requests. Thank you, and thanks for your interest in QIIME!

[2016-03-22 18:13] #2137 closed

[2016-03-22 21:14] colinbrislawn commented on #1759
This works great on OSX 10.8.5. Great work @bgruening!

Can we close this issue (and then open new issue on the biocore page)?

[2016-03-22 21:29] gregcaporaso commented on #1759
This also worked great for me, thanks again @bgruening!

[2016-03-22 21:29] #1759 closed

[2016-03-24 14:31] mteimouri commented on #1512
I am doing rRNA 16s data analysis by qiime. I am very new in this area I have a problem when says
1)Write non-singleton otus representative sequences from step1 to the final rep set file (
(otus//rep_set.fna)
2)Write non-singleton otus representative sequences from step 2 and step 4 to the final representative set and the new reference set (otus//rep_set.fna and otus//new_refseqs.fna respectively)

[2016-03-24 16:11] SantoshThapa1 opened #2138 "Problems of run abort with QIIME Visualizations apps on Illumina BaseSpace"
Hello,

I ran the QIIME Visualizations apps  available on  Illumina BaseSpace to analyze  16SV4 sequence data generated by MiSeq platform.  I successfully ran the "QIIME Preprocessing" app in the BaseSpace. However, my run aborted several times while running the "QIIME Visualization app". The reason of aborting the operation reads "File "/usr/local/lib/python2.7/dist-packages/qiime/parse.py", line

[2016-03-24 18:36] ElDeveloper commented on #2138
Does the mapping file pass the validation with Keemai? How many samples do you have listed in your mapping file?

In general we use the QIIME forum to provide support, would you mind sending in a post to the forum with your question, I'll follow-up there, you can find the forum here:
https://groups.google.com/forum/#!forum/qiime-forum

[2016-03-24 18:50] SantoshThapa1 commented on #2138
Yes, the mapping file passed the validation with Keemai. There are 3 samples listed in my mapping file.

I tried to post in the QIIME forum, but could not. No idea (will try it again !) !

Thanks,

Santosh

________________________________
From: Yoshiki Vázquez Baeza <notifications@github.com>
Sent: Thursday, March 24, 2016 1:37 PM
To: biocore/qiime
Cc: Santosh Thapa
Subject: Re: [qiime] Problems

[2016-03-24 19:00] ElDeveloper commented on #2138
@SantoshThapa1, if at all possible can you copy and past the contents of your mapping file here, or at least a subset of them?

[2016-03-24 20:07] SantoshThapa1 commented on #2138
[AFS_Nymphs_data.xlsx](https://github.com/biocore/qiime/files/188595/AFS_Nymphs_data.xlsx)
This is my mapping file.
Thank you.

[2016-03-25 00:25] ElDeveloper commented on #2138
@SantoshThapa1, thanks for sending that, the problem is that your sample names all start with the `#` sign, and lines starting with a `#` sign are understood as comments, if you change that, this should work just fine. For more information about the format, see this [link](http://qiime.org/documentation/file_formats.html#metadata-mapping-files).

[2016-03-25 00:25] #2138 closed

[2016-03-25 00:31] SantoshThapa1 commented on #2138
Thank you S much @EIDeveloper

[2016-03-25 18:02] SantoshThapa1 opened #2139 "What should I put in the Barcode and LinkerPrimer sequences in QIIME Mapping file ?"
Hello,

I'm continuously having trouble of run abort while trying to analyze my MiSeq data using QIIME Visualization App available on Miseq BaseSpace. The error reads "Error in make_emperor.py: None of your sample identifiers match between the mapping file and the coordinates file. Verify you are using a coordinates file and a mapping file that belong to the same dataset."

Can anyone help me to f

[2016-03-28 17:09] ElDeveloper commented on #2139
The problem you are experiencing is due to the names of your samples in
your mapping file, and in your OTU table not matching. There's a file in
the output of the "QIIME Preprocessing" app that has a summary of your
BIOM table, look for the sample identifiers listed there, they should
match one-to-one the sample identifiers (entries in the first column) of
your mapping file.

On (Mar-25-16|11:02),

[2016-03-28 20:01] SantoshThapa1 commented on #2139
Thank you for your help.

[2016-03-28 21:41] SantoshThapa1 opened #2140 "Run aborted in QIIME Visualization app due to error in make_emperor.py"
Hello,

Could anyone please help me on how to address the following error while launching QIIME Visualization app in Illumina BaseSpace.
 " Error in make_emperor.py: Due to the variation explained, Emperor could not plot at least 3 axes, check the input files to ensure that the percent explained is greater than 0.01 in at least three axes."

Thanks,
Santosh

[2016-03-28 21:47] antgonza commented on #2140
Hi @SantoshThapa1, for support, please refer to the QIIME forum: https://groups.google.com/forum/#!forum/qiime-forum.

[2016-03-28 21:47] #2140 closed

[2016-04-05 17:01] tanaes commented on #751
I think there's a bug in the default log transformation code as well. The documentation states that zero entries will have a pseudocount added prior to transformation, but as noted in [this forum question](https://groups.google.com/forum/#!topic/qiime-forum/4A5rOwyVsf4), that doesn't seem to be happening.

[2016-04-11 09:41] LuffyLuffy opened #2141 "how to change arb format reference database as a reference database for assign.taxonomy.py script?"
I downloaded an arb reference database for assign taxonomy, how to make them be a fasta file and its corresponding taxonomy txt file to run the script?

Mine data is miseq function gene data, I have run extract the barcode, split_libraries_fastq.py , pick_de_novo_otus.py.

[2016-04-12 14:38] gregcaporaso commented on #2141
Hi @LuffyLuffy, could you please repost this question to the [QIIME Forum](http://forum.qiime.org). We handle these types of technical support questions there.

Thanks!

[2016-04-12 14:38] #2141 closed

[2016-04-12 14:38] #2139 closed

[2016-04-12 14:39] gregcaporaso commented on #2136
Hi @KaiFeng007, Could you please repost your question to the [QIIME Forum](http://forum.qiime.org)? We handle these types of technical support questions there. Thanks!

[2016-04-12 14:39] #2136 closed

[2016-04-13 09:02] KaiFeng007 commented on #2136
I have solved it with the helps of technical guys in QIIME Forum.

[2016-04-14 07:59] genotipo commented on #2139
Hello I am new in qiime so I decided take qiime basespace for the analysis of my dataset. Now I ask me about the why i can't see and read nothing in paper about qiime basespace. If i sent my report is acceptable public mi paper with basespace qiime?

[2016-04-14 12:27] gregcaporaso commented on #2139
Hi @genotipo, The BaseSpace QIIME application is newer than the QIIME paper, which is why it's not covered in there. It's fine to publish results generated with the QIIME BaseSpace app, as BaseSpace is just wrapping QIIME. You should cite the original QIIME Nature Methods paper, as well as the relevant citation for BaseSpace if one exists. @ElDeveloper, do you know how BaseSpace itself should be c

[2016-04-14 13:08] genotipo commented on #2139
Thanks it is really good new. Only I was asking,  because I am analysing my
dataset now for my PhD.  I was looking about the how basespace cited so I
know.

2016-04-14 14:27 GMT+02:00 Greg Caporaso <notifications@github.com>:

[2016-04-14 17:01] ElDeveloper commented on #2139
@gregcaporaso @genotipo, to the best of my knowledge there's no citation available for BaseSpace, but I think it's fine to just link to their main website. To add to @gregcaporaso's suggestion on citing QIIME: in BaseSpace there's a few tools being used that you should cite as they are used as part of the default pipeline:

- Greengenes: reference database. https://www.ncbi.nlm.nih.gov/pubmed/2213

[2016-04-14 17:03] genotipo commented on #2139
Thanks you
El 14/4/2016 19:01, "Yoshiki Vázquez Baeza" <notifications@github.com>
escribió:

[2016-04-17 10:57] genotipo commented on #2139
[image: Imágenes integradas 1]
Hello, I put running my samples 2 days ago, the numbers is 245 samples. Is
this normal?  because this is only a sub populations, the total samples is
754. Thanks you for your helps.

2016-04-14 14:27 GMT+02:00 Greg Caporaso <notifications@github.com>:

[2016-04-17 23:27] ElDeveloper commented on #2139
@genotipo, would you mind posting this question (including a little bit more information about the problem) to the QIIME forum:

https://groups.google.com/forum/#!forum/qiime-forum

[2016-04-18 11:24] genotipo commented on #2139
I ask in forum and nobody respond. I don't know if I need stop the analysis...

[2016-04-21 16:55] genotipo commented on #2139
Hello My run not finished yet, I am stressful because I connected with illumina support and they said me that ask in this forum. I tried put 10 samples, 20 samples, 30 samples, 40 samples and the run was good but when i try put 50 samples in the same time the program no finish. The problem is that in my lapton can't install qiime because isn't good lapton, it is a i3 with 4GB RAM and windows 32bit

[2016-04-24 00:48] nds2133 opened #2142 "Logging in"
I'm trying to run QIIME on my mac's virtualbox, and there is no longer an option on the screen to log in. How do I do this? (I tried left command+del and it didn't work)

[2016-04-25 22:03] colinbrislawn commented on #2142
Hello @nds2133
What does your screen look like? (You can upload a screenshot)

[2016-04-27 17:15] tacaswell commented on #2117
This error is a sign that you are doing something kind of sketchy in your plotting.  This is a semi-intentional break because what you are doing is probably not _really_ working (and if it seems like it is it is coincidence).

[2016-04-27 23:38] colinbrislawn commented on #2117
Hi @tacaswell. Thanks for contributing to matplotlib and advising us on this issue.

Would you be willing to take a look the example plots on this page and see if you notice anything fishy about them that could be related to this error?
http://qiime.org/1.2.1/tutorials/taxonomy_summaries.html#id3

Thank you!

[2016-04-28 15:58] gregcaporaso commented on #2142
@nds2133, would you mind reposting to the [QIIME Forum](http://forum.qiime.org)? It helps us to consolidate out support efforts there. Thank you!

[2016-04-28 15:58] #2142 closed

[2016-04-29 21:12] #2117 closed

[2016-05-02 21:46] #2078 closed

[2016-05-03 12:33] #2113 closed

[2016-05-05 03:58] Wnegara opened #2146 "IOError: [Errno 13] Permission denied: '/usr/local/lib/python2.7/dist-packages/pathlib2.py"
Hi, I have installed qiime in my windows 10 using Oracle VM virtual box without any problem. However, the problem come when I tried to upgrade the pip or install Jupyter notebook with error code no 13. Anyone can help me sort out this problem? thanks.

Here the conversation that I got from the terminal for pip upgrade:
Traceback (most recent call last):
        File "/usr/local/lib/python2.7/dist-

[2016-05-11 20:18] hotblast opened #2147 "differential_abundance.py error"
I got this error when i was trying to run differential_abundance.py. I have no problem of running a similar command --group_significance.py. Any insight? Many thanks--Gary

[147760@seq-fe4 IBD]$ differential_abundance.py -i QIIME.KO.function.data.biom  -o QIIME.KO.Function_diff_otus.txt -m mapping.txt  -a metagenomeSeq_fitZIG -c Treatment -x IBD  -y HEA
Traceback (most recent call last):
  File "/

[2016-05-12 04:55] kaitaolai opened #2149 "Python process unicode problem"
$ biom convert -i otu_table_even40361.biom -o otu_table_even40361_taxonomy.txt --to-tsv --header-key taxonomy
  File "/usr/local/lib/python2.7/dist-packages/biom/interfaces/optparse/output_handler.py", line 73, in write_biom_table
    f.write(table)
UnicodeEncodeError: 'ascii' codec can't encode character u'\xeb' in position 220443: ordinal not in range(128)

$ vim /usr/local/lib/python2.7/dist-pa

[2016-05-12 04:59] #2149 closed

[2016-05-18 18:55] gregcaporaso commented on #2146
Hello, would you mind reposting your question to the [QIIME Forum](http://forum.qiime.org)? We try to consolidate these types of questions there. Thank you!

[2016-05-18 18:55] #2146 closed

[2016-05-18 18:55] gregcaporaso commented on #2147
Hello, would you mind reposting your question to the [QIIME Forum](http://forum.qiime.org)? We try to consolidate these types of questions there. Thank you!

[2016-05-18 18:55] #2147 closed

[2016-05-24 19:05] billyfournier commented on #1773
I am not sure if this applies to all of split_libraries functionality, but I was able to reproduce split_libraries primer trimming feature by incorporating a memoizied adaptation of a levenshtien search. This reduced the time on an ~3Gig merged data set from ~5hr --> ~30min.
https://github.com/billyfournier/remove_primers_levenshtien/blob/master/extract_primer_lev.py
Again, this only deals with th

[2016-05-25 01:39] cuttlefishh opened #2150 "Installation instructions on qiime.org are unnecessarily complex"
With conda and pip, installing the qiime full (base) install is simple.

Installation instructions for Mac OS:

1. Install [Anaconda](https://www.continuum.io/downloads#_macosx) (large download, more packages) or [Miniconda](http://conda.pydata.org/miniconda.html) (small download, fewer packages) for Python 2.7.
2. Make conda environment with required/useful dependencies: `conda create --name qiim

[2016-05-26 14:16] gregcaporaso commented on #2081
Note: this also fails on trying to write empty biom tables (e.g., at levels where no core microbiome exists). In general this functionality should be refactored for QIIME 2, and it would be very useful if it also collapsed taxa if present (so it could tell you what the core phyla, classes, etc are in a single run, along with the core OTUs).

[2016-06-01 18:41] wasade opened #2152 "Outdated links on install page"
Many of the links on the QIIME install [page](http://qiime.org/install/install.html) are outdated and do not work. Specifically, ones which point to `thebeast.colorado.edu` need to be revised to point to `ftp.microbio.me`

[2016-06-01 20:21] wasade opened #2153 "make_phylogeny.py with raxml does not remap tip names"
First reported on the QIIME forum by [Misha](https://groups.google.com/forum/#!topic/qiime-forum/875HTQAa65I). An example to recreate the issue is below. The specific issue is that the tip names in the resulting tree have not been replaced with the actual sequence identifiers, making the tree unusable for subsequent use.

[code]

[2016-06-01 22:56] colinbrislawn commented on #2150
👍
I strongly support the push by @gregcaporaso to use miniconda as the officially supported and recommended method for deploying qiime.

Note that `conda + pip` works very well, and `conda + more conda` works better. We should update official documentation when we this method finalized.

[2016-06-14 17:07] gregcaporaso commented on #2152
@cuttlefishh, would you be able to test the links and update as necessary while you're working on the updates to the install page?

[2016-06-14 17:09] gregcaporaso commented on #2150
Related to #2152.

We now have draft instructions on installing with conda [here](https://docs.google.com/document/d/1GL0AY5txFBL6hqdkzChFN_Uwn8Vo1kHlhLkYWKjUES4/edit). @cuttlefishh is working on a PR that will make these the primary install instructions.

[2016-06-14 22:59] cuttlefishh commented on #2152
Sure.

[2016-06-14 23:17] gregcaporaso commented on #2152
Thanks!

[2016-06-15 22:25] borax opened #2154 "differential_abundance.py mapping file subcategory/group order in output file"
I am using the differential_abundance.py tool to test for taxa abundance differences between sample categories, with the metagenomeSeq algorithm. It's great! However, there doesn't seem to be a connection between the subgroups in my mapping file I pass after -x and -y and which of the two subgroups get considered "group 0" and "group 1" in the output file (for the "+samples in group"  and "counts

[2016-06-15 22:45] gregcaporaso commented on #2154
Hi @borax, Could you please post your question to the [QIIME Forum](http://forum.qiime.org)? It helps us to consolidate these types of support questions there. Thanks!

[2016-06-15 22:45] #2154 closed

[2016-06-15 23:37] wasade commented on #1954
I don't think regular expressions are necessary, simply denoting the bounds works, especially if negative indexing is allowed to refer to 3' ends. In other words, this splits the operations into:

* defining regions (i.e., structure of amplicon)
* quality masks on regions (i.e., positions in a region which do not meet quality)
* assessment of regions (i.e., what sample a barcode maps to)
* trimmin

[2016-06-28 13:50] feifeialex opened #2155 "bcl 2.17 there is a "+" in barcode"
Hi,

I want to request a new feature for QIIME.
For the new version of bcl2fastq v2.17, there is a separator sign "+" between i7 and i5 index in the output de-multiplexed fastq file. This sign is not present in the fastq file if use previous version of bcl2fastq (i.e. 1.8.4).
This "+" sign will not be allowed in the QIIME mapping file. But if I don't have this "+" sign, the out put from split libr

[2016-07-06 12:54] kathfi opened #2157 "Error messages when normalizing with DESeq2 and CSS"
Dear all,

I wonder if anyone could help me with the following:
I would like to normalize an out.biom table using CSS, and I keep getting the following error message:

Traceback (most recent call last):
File "/usr/local/bin/normalize_table.py", line 157, in
main()
File "/usr/local/bin/normalize_table.py", line 140, in main
normalize_CSS(input_path, out_path, output_CSS_statistics)
File "/usr/local

[2016-07-06 16:29] gregcaporaso commented on #2157
Can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2016-07-06 16:29] #2157 closed

[2016-07-06 17:57] Krailon opened #2158 "Python 3 Syntax Error In 1.9.1 Preventing pip3 Install"
When attempting to install Qiime via pip3 (Python3), the following error is encountered:

[code]

This bug was fixed at the end of April: [78cd4eb~setup.py:363](https://github.com/biocore/qiime/commit/78cd4ebb7a64b8a85253571d136608dc5c3c18c3#diff-2eeaed663bd0d25b7e608891384b7298L363)

[2016-07-06 18:49] gregcaporaso commented on #2158
@Krailon, QIIME 1 is Python 2 only, so I think you may just need to install with pip. You may also be interested in the conda install instructions though, currently linked from [here](https://groups.google.com/d/msg/qiime-forum/DBXuT2nJ1S4/bTEOtktLCAAJ).

[2016-07-06 18:49] #2158 closed

[2016-07-07 11:07] kathfi commented on #2157
Dear Greg,

unfortunately I don't have permission to post in the forum that you indicate, hence maybe it is possible to address this issue here, or let me know how I can gain access?

many thanks
Katharina

[2016-07-07 11:17] kathfi opened #2159 "Error messages when normalizing with DESeq2 and CSS"
Dear Greg,

unfortunately I am not allowed to post in the Google forum you indicated for the issue above - maybe it is possible to address it here, or give instructions how to join the forum?

many thanks
Katharina

[2016-07-07 15:34] gregcaporaso commented on #2157
You'll just need to create a Google Groups account or login with an existing Google account.

[2016-07-07 15:34] gregcaporaso commented on #2159
Duplicate of #2157.

[2016-07-07 15:34] #2159 closed

[2016-07-12 21:33] colinbrislawn commented on #1773
For those using usearch/vsearch for quality filtering, VSEARCH now supports `--relabel`. Combine this with gnu parallel and you can append qiime compatible labels to many files at very high speed.

The usefulness of this depends on what quality filtering paradigm is adopted for qiime 2. If the 'maximum expected error' filtering is chosen over 'sliding window', this would be a great option.

[2016-07-13 18:46] stevendbrown opened #2160 "SUMACLUST is launched with 1 thread in multi-thread mode"
using QIIME 1.9.1, i launch `pick_open_reference_otus.py` with `-aO 12` but `sumaclust` is invoked with the `-p 1` option, ignoring the 12 threads specified by the `-aO 12`.

command used to start `pick_open_reference_otus.py`:

`pick_open_reference_otus.py -i /Vonnegut/20160624_16S/merge_chunk_1/combined_seqs.fna,[...],/Murakami/20160624_16S_combined/merge_chunk_8/combined_seqs.fna -o /Vonnegut/2

[2016-07-20 22:29] lkursell opened #2161 "Samples filtered down to 0 sequences in otu_table_w_tax_no_pynast_failures.biom"
An unusual behavior from the default `pick_open_reference_otus.py` pipeline. Samples which are seen with low counts after `min_count` filtering can then be preserved in the final biom table even though they have no sequences. As an example:

[code]

This initially lead me to some confusion about why some samples with no sequences are preserved in the biom table, but other samples, like those with

[2016-07-21 12:32] antgonza commented on #2161
Yes, I have encountered this too. Not sure if a bug or desirable and if qiime or biom but agree that is annoying and leads to confusion. 👍

[2016-07-21 15:11] gregcaporaso commented on #2161
I think it's just something that slipped through - I wouldn't really call it a bug, since it's correct, it's just strange since it's different than how this is usually handled in QIIME. I think we should stick with filtering (``filter_samples_from_otu_table.py -n 1`` would let you work around this) for now, since the focus is on QIIME 2 development now except for critical bug fixes.

[2016-07-22 08:21] imleunghl opened #2163 "A problem occurs when use core_diversity_analyses.py"
Every time I tried to used core_diversity_analyses.py,I get :
RuntimeWarning: The result contains negative eigenvalues. Please compare their magnitude with the magnitude of some of the largest positive eigenvalues. If the negative ones are smaller, it's probably safe to ignore them, but if they are large in magnitude, the results won't be useful. See the Notes section for more details. The smalles

[2016-07-22 22:20] gregcaporaso commented on #2163
This is just a warning, so you don't need to worry about it (note that is says that *If the negative ones are smaller, it's probably safe to ignore them*, and that is the case here). Your results should have been generated and will be fine to use.

[2016-07-22 22:20] #2163 closed

[2016-08-06 17:32] richrr commented on #1928
Hi

This could be a new question also, but based on the relevant discussion in this thread I thought I could post it here.

I generated a biom (1.3) file using QIIME (1.8). The last command that was run was filter_otus_from_otu_table.py. I wanted to normalize the otu table using normalize_table.py which is a qiime 1.9 function. So I tried two things: (i) using the biom file directly in qiime 1.9 (

[2016-08-10 21:01] gregcaporaso commented on #2160
@stevendbrown, sorry for the slow reply on this. Can you please post this question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. We also don't generally monitor the issue tracker for support questions, hence the very delayed reply on this. Thank you!

[2016-08-10 21:01] #2160 closed

[2016-08-18 01:28] imleunghl commented on #2163
thanks.

2016-07-23 6:20 GMT+08:00 Greg Caporaso <notifications@github.com>:

[2016-08-19 22:50] lkursell commented on #2101
@gregcaporaso I've been running a version of this for a while, and what I've noticed is that the `rep_set.fna` file doesn't always contain more sequences than the previous run. For example, if I ran open reference OTU on Run 2, then `rep_set_run2.fna` would only contain the OTUs seen in Run 2. But if I merge `otu_table_run1.biom` and `otu_table_run2.biom` together, OTUs seen in Run 1 but not seen

[2016-08-30 09:02] staemmlord commented on #1476
+1

[2016-08-30 15:39] wasade commented on #1476
Can we go full .yaml?

On Tue, Aug 30, 2016 at 2:02 AM, Frank M.N. Stämmler <
notifications@github.com> wrote:

[2016-08-30 15:40] josenavas commented on #1476
What about using python's ConfigParser?

[2016-08-30 21:36] gregcaporaso commented on #1476
We won't be making any changes to this in QIIME 1 as we're in maintenance mode only on this project. See [this RFC](https://github.com/qiime2/rfcs/pull/5) for discussion of this topic for QIIME 2.

[2016-08-30 21:36] #1476 closed

[2016-08-31 20:32] JackDarcy commented on #289
Hope this helps someone who is googling this problem. I had the same error message when using the absolute path for the aligned_reference_seqs_fp (-a) option of identify_chimeric_seqs.py. I fixed this by making a symbolic link to that file in my current directory:
    ln -s /usr/local/lib/python2.7/dist-packages/qiime_default_reference/gg_13_8_otus/rep_set_aligned/85_otus.pynast.fasta ./
then runn

[2016-09-01 09:16] lakhujanivijay opened #2168 "should output pie chart and the corresponding legend in the same image file"
Dear QIIME team,

First of all, please accept my heartfelt thanks that you people developed such a user-friendly and comprehensive tool for 16S data analysis. We are into bioinformatics research and development, specially 16S rRNA/metagenomic sequencing data analysis and use QIIME very often. So far, we found it to be really fast and easy to use when compared with any other tool serving the same p

[2016-09-01 16:17] gregcaporaso commented on #2168
@lakhujanivijay, thanks a lot for your input and for your interest in QIIME!

We're currently working on QIIME 2, and QIIME 1 is in maintenance only mode, so we're not working on these types of new features. However, you can expect this in QIIME 2. To get some information about where we're going with QIIME 2 you can read [my blog post](http://americangut.org/qiime-2-will-revolutionize-microbiome-b

[2016-09-02 12:46] AlbertWuYZ commented on #2136
I almost meet the same problem. May I know how do you solve this problem? Thank you so much!

[2016-09-07 23:31] gregcaporaso commented on #2136
@AlbertWuYZ, can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2016-10-06 20:47] jjandshi opened #2169 "Error in merge_otu_tables.py: No filepaths match pattern/name"
merge_otu_tables.py -i AttachedFile1.biom,AttachedFile2,AttachedFile3.biom,AttachedFile4,AttachedFile5.biom -o L6_test.biom

Error in merge_otu_tables.py: No filepaths match pattern/name 'otu_table_k__Bacteria_p__Bacteroidetes_c__Bacteroidia_o__Bacteroidales_f__[Paraprevotellaceae]_g__[Prevotella].biom'. All patterns must be matched at least once.

[2016-10-10 18:37] jeandavidgrattepanche opened #2170 "SWARM and number of reads"
Greetings,

I think there is something wrong when using SWARM in pick_otu.py. The output table does not consider all the reads.

For example, if I start with 70,000 reads and only 20,000 reads are clustered in OTUs.

I think the issue is that the table report only the seed copy number and not the total reads number in the SWARM OTUs.

For example, an OTU built in Qiime with Swarm represents 2,227

[2016-10-19 19:46] yingeddi2008 opened #2171 "Understanding assign_taxonomy.py output"
Hi Qiime,

I got the output from assign_taxonomy.py, and trying to make sense what it means for the 3rd and 4th columns. I read from http://qiime.org/scripts/assign_taxonomy.html, and learned that

I used the default method for classification, UCLUST, but I did not find any explanation for the bold numbers in the results:

I can only guess that the 3rd column is either the

**or**

Since all the n

[2016-10-19 21:03] gregcaporaso commented on #2171
Can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2016-10-19 21:03] #2171 closed

[2016-10-19 21:05] yingeddi2008 commented on #2171
Sure, no prob..I am still waiting for my approval to be a member of the
google group.

On Wed, Oct 19, 2016 at 4:03 PM, Greg Caporaso <notifications@github.com>
wrote:

[2016-10-19 23:21] gregcaporaso commented on #2170
Can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2016-10-19 23:21] #2170 closed

[2016-10-19 23:21] gregcaporaso commented on #2169
Can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2016-10-19 23:21] #2169 closed

[2016-10-20 18:36] AlexanderPico opened #2172 "Cytoscape tutorial is outdated"
Your documentation on Making Cytoscape Networks is a bit outdated, making it difficult to follow with the latest UI and features in Cytoscape.

http://qiime.org/tutorials/making_cytoscape_networks.html

To easy the burden of updating, you might adapt the tutorial to reference tutorials.cytoscape.org and just point out the Quiime-specific parts.  Or you could contribute your own tutorial to this op

[2016-10-24 20:46] mpachiad opened #2173 "parallel_assign_taxonomy_blast.py error"
Hello qiime,

I posted the same issue at the qiime forum but I didn't get an answer.

We have qiime 1.9.1 in our cluster. Parallel_assign_taxonomy_blast.py doesn't seem to be running properly. I do not get an error with the assign_taxonom.py (using -m blast) and I can call formatdb.

Here is the error I get:
parallel_assign_taxonomy_blast.py -i IODP360.fasta_rep_set.fasta  -t SILVA123_QIIME_releas

[2016-10-25 02:53] mortonjt commented on #2173
Hi @mpachiad .  I'm having trouble finding your question on the qiime forums.  Could you post the link here?

[2016-10-25 18:14] mpachiad commented on #2173
Good morning,

The message was sent from the lab's email (edgcomb.lab@gmail.com) and the
subject was parallel_assign_taxonomy_blast.py problem.

Here is the link:
https://groups.google.com/forum/#!searchin/qiime-forum/parallel_assign_taxonomy_blast.py$20problem%7Csort:date/qiime-forum/pZiALIROt28/B1yhrrBTEwAJ

Thank you for looking into this. Our IT is aware of the problem and can
help troubleshoo

[2016-10-28 17:46] gcagle1 commented on #287
+1 for using multiple_rarefactions.py output with summarize_taxa_through_plots.py

[2016-10-31 03:54] preetin7 opened #2174 "valueError while using assign_taxonomy.py"
Hi,

My custom made taxonomy files are in correct format (tab separated). I get this error while executing assign_taxonomy.py:

assign_taxonomy.py -m uclust -i rep_set_numbered.fa -o rdp_assigned_taxonomy -c 0.99 -t ref_test.fasta -r test_ref_tax.txt
Traceback (most recent call last):
  File "/home/qiime/qiime-1.9.1/venv/bin/assign_taxonomy.py", line 417, in <module>
    main()
  File "/home/qiime

[2016-10-31 04:10] #2174 closed

[2016-11-15 22:24] gregcaporaso commented on #2173
Closing as this was transferred to the QIIME forum.

[2016-11-15 22:24] #2173 closed

[2016-11-15 22:33] gregcaporaso commented on #2172
I agree: updating the current tutorial to reference the Cytoscape tutorials and noting that it's outdated would be a good change. For QIIME 2, it'll be better to integrate more closely with the Cytoscape tutorials page, as you suggest. Thanks @AlexanderPico!

[2016-11-15 22:43] rob-knight commented on #2172
Note that the cytoscape devs are in our building so it might be worth more detailed engagement to do something that’s cutting edge now vs what we did in 2008…

On Nov 15, 2016, at 2:33 PM, Greg Caporaso <notifications@github.com<mailto:notifications@github.com>> wrote:

I agree: updating the current tutorial to reference the Cytoscape tutorials and noting that it's outdated would be a good change.

[2016-11-15 22:45] gregcaporaso commented on #2172
Completely agree.

[2016-11-16 09:36] marijazmf opened #2175 "rep_set_picking_method not being used"
I'm running pick_open_reference_otus.py with a parameters file, when I check the log of OTU picking I see:

parameter file values:
[code]

However, in the pick rep set command I see:
`pick_rep_set.py -i ./step1_otus/seqs_otus.txt -o ./step1_otus/step1_rep_set.fna -f seqs.fna`

Shouldn't it have been run as
`pick_rep_set.py -i ./step1_otus/seqs_otus.txt -o ./step1_otus/step1_rep_set.fna -f seqs.fna

[2016-11-17 15:55] gregcaporaso commented on #2175
Can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2016-11-17 15:55] #2175 closed

[2016-12-06 15:50] pitrack01 opened #2176 "installing qiime in Windows System for Linux (WSL)"
Hello,

I think this is a new issue.  Trying to install qiime on the WSL interface.  Followed the miniconda install procedure then ran test and had two failures.  Any ideas?

(qiime1) pitrack01@LAPTOP-4B9AGN4O:/etc/python2.7$ print_qiime_config.py -t

System information
==================
         Platform:      linux2
   Python version:      2.7.12 |Continuum Analytics, Inc.| (default, Jul  2 201

[2016-12-06 16:06] gregcaporaso commented on #2176
Can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2016-12-06 16:06] #2176 closed

[2016-12-12 22:47] tarunaaggarwal commented on #920
Data directory names do not match after downloading. For someone who doesn't know what they are doing, this could be a problem.

[2016-12-12 22:51] tarunaaggarwal commented on #920
Hello. I just started your Illumina tutorial but the data files are missing or something bc they aren't getting downloaded.

[2016-12-13 16:07] gregcaporaso commented on #920
Hi @tarunaaggarwal, Would you mind reposting to the [QIIME Forum](http://forum.qiime.org) about this? We try to provide this type of support there. Thanks!

[2016-12-19 14:12] yech1990 commented on #1961
It is a year passed.
Does this request be added to the repository?

[2016-12-19 16:36] greggiceton opened #2177 "Uclust OTU picking exact match prefilter doesn't use the temp dir in qiime_config"
...I think...

I'm no Python God, but as I understand the code it is using mkstemp which itself makes the temporary file in /tmp unles TMPDIR, TEMP or TMP environment variables are set.  Hence I have been fighting with IOError: [Errno 28] No space left on device for some time without being able to understand why given that the hard drive and temp location specified in qiime_config were not filling

[2016-12-22 17:59] gregcaporaso commented on #1961
@yech1990, thanks for following up. We're currently not adding any new features to QIIME 1 as we focus our development efforts on [QIIME 2](https://qiime2.org). If there is a demultiplexing format that you would like to see support for (same goes for you of course, @alk224), would you be willing to post an issue on the [q2-demux issue tracker](https://github.com/qiime2/q2-demux/issues)?

Sorry tha

[2016-12-22 17:59] #1961 closed

[2017-01-12 07:24] ynakhli opened #2178 "conda installation issue"
Hello qiimers,

After I followed the conda installation method from your website:
http://qiime.org/install/install.html

I can run the print_qiime_config.py nicely and it gives me all dependencies version including Qiime Library and script version 1.9.1
However, qiime can not be found in /bin directory. Thus when typing qiime on command line... it says
"The program 'qiime' is currently not install

[2017-01-12 13:55] mortonjt commented on #2178
This sorts of questions would be a better fit on the qiime forums:
https://groups.google.com/forum/#!forum/qiime-forum

Would recommend moving this question over there.

Concerning your problem - what happens if you time `which
print_qiime_config.py`

On Wed, Jan 11, 2017 at 11:24 PM, ynakhli <notifications@github.com> wrote:

[2017-01-12 17:53] gregcaporaso commented on #2178
I'm going to close this issue as it's better suited for the forum as @mortonjt suggested. @ynakhli, if you could answer @mortonjt's question on the forum rather than here that would be helpful. Thanks!

[2017-01-12 17:53] #2178 closed

[2017-01-25 08:51] LaraMacheriotou opened #2179 "Error in multiple_extract_barcodes.py: Positional argument detected: True"
Hi friends of qiime,

I am trying to run the multiple_extract_barcodes.py script in the following way:

multiple_extract_barcodes.py \
	-i /home/gomre/lmacheriotou/Mocks/data_raw/run2_16_12_16_all \
	-o /home/gomre/lmacheriotou/Mocks/data_raw/extract_barcodes \
	-p /home/gomre/lmacheriotou/Mocks/qiime_files/parameters/extract_barcodes_parameters.txt \
	--paired_data True \
	--read1_indicator _1.fa

[2017-01-25 21:04] ElDeveloper commented on #2179
@LaraMacheriotou `--include_input_dir_path` is a flag, meaning that its presence implies that the value will be true, if you omit the flag, the value will be false (thus the `default: False`). To correct the "positional argument" error, you have to remove the `True` from the command.

I will close this issue for the time being, but if you have any other questions, please ask them over at the [QIIM

[2017-01-25 21:04] #2179 closed

[2017-01-30 23:47] corburn opened #2180 "Pypi release syntax error"
A syntax error in setup.py was fixed in commit 4a74c4f7fbc329263ba7ab94ee714db33d2e72b7, however, the error is still present in the qiime release on [pypi](https://pypi.python.org/pypi).

[2017-02-10 13:33] fpwilson opened #2181 "computer is 64bit, but qiime virtual box only shows 32bit options"
I am in the process of installing the qiime virtual box, but when selecting the linus option, it only shows ubuntu 32, not 64. My system is 64bit. how to solve it?

[2017-02-10 17:36] ebolyen commented on #2181
Hi @fpwilson this should be posted on the [QIIME 1 Forum](https://groups.google.com/forum/#!forum/qiime-forum). I'm going to close this, but it is likely that you have Hyper-V enabled (if you are on Window 10 Pro), you should be able to disable it to see 64-bit images. Please follow up on the forum if needed. Thanks!

[2017-02-10 17:36] #2181 closed

[2017-02-23 20:56] ConstantinoSchillebeeckx opened #2183 "remove zero abundance OTUs after filtering samples"
I tend to work with very large OTU tables that contain results from multiple studies. Often times, my first step in my workflow is to whittle the OTU table down to just the samples I'm interested in using `filter_samples_from_OTU_table.py` - in some cases, this leaves OTUs in my table that have no abundance across any of the remaining samples.

It might be nice to have a flag to remove those OTUs

[2017-02-24 16:31] jairideout commented on #2183
👍  Note that we aren't adding new features to QIIME 1 (except for fixing critical bugs). [QIIME 2](https://qiime2.org/) will automatically remove empty samples or features when using `qiime feature-table filter-features` and `qiime feature-table filter-samples`, respectively. QIIME 2 is alpha software but you might consider trying it out.

[2017-03-08 00:13] corburn commented on #2180
This issue applies to the PyPI [qiime 1.9.1](https://pypi.python.org/pypi/qiime/1.9.1) uploaded 2015-05-26.

[2017-03-10 02:45] outpaddling commented on #1962
Sorry to wake a sleeping dog, but I've discovered a strong interest in using vsearch with qiime as well.  I manage research computing resources for a university and the usearch license prevents me from doing a fully-functional, global qiime installation for our researchers.

It's great to hear that you're considering support for vsearch in qiime 2.

In the meantime, might it be possible to create

[2017-03-10 03:22] colinbrislawn commented on #1962
Hello Jason,

Some folks on the qiime forum have had luck making an alias called `usearch61` that points to the `vsearch` program. Once the qiime script calls `usearch61`, the alias should redirect it and run `vsearch` instead.

Let us know how this workaround works for you!

PS I'm looking forward to qiime2 + vsearch.

[2017-03-10 05:56] outpaddling commented on #1962
That seems to work for some usearch61 commands, but not others (see output below).  If I link vsearch to "usearch", it reports that --global is not a recognized flag.  all_tests.py reports errors unless it finds both usearch and usearch61 in PATH.  Are they both actually necessary, or is the all_tests.py misleading me here?

I'm wondering if it's feasible in theory for wrapper scripts to use vsear

[2017-03-10 16:25] colinbrislawn commented on #1962
Neither usearch or usearch61 are needed to run qiime. An older version of the program, called `uclust`, is bundled with qiime and will run all default scripts. I would consider usearch an optional dependency.

Changing the flags could work, but not perfectly. While qiime likes usearch 5 and usearch 6,  vsearch is designed to implement the function calls of usearch 7, which are a little different.

[2017-03-10 17:05] outpaddling commented on #1962
Thanks for the feedback.  Our researchers have not yet started testing my qiime build, but they will soon.  I'm not sure what features they will need, and they probably aren't either at this point.

The goal is not just to meet the needs of a few local researchers, though.  In creating a package for global use, the aim is to maximize available functionality so that it meets the needs of as many pe

[2017-03-10 18:26] colinbrislawn commented on #1962
I understand need for a single, stable platform for many users. I wonder if building a module or package for your system is the best way to do that.

Have you considered having researchers install their own copy of qiime in a conda environment? This installation does not need admin rights and works independently of other software environments. This independent system works really well for me and i

[2017-03-10 21:21] outpaddling commented on #1962
Having researchers manage their own computers and/or install their own software is something we're trying to eliminate in all but a few cases.

That said, pkgsrc does not require admin access either.  A pkgsrc tree can be bootstrapped in one's home directory in about 10 minutes, so it works for both centralized and distributed models.  One can also install multiple trees on the same machine to pre

[2017-03-10 21:56] torognes commented on #1962
@outpaddling, if there are small changes I can do to vsearch to increase compatibility with older usearch versions and help you adapt it for use with qiime, please tell me.

[2017-03-10 22:01] outpaddling commented on #1962
Fabulous, thanks!  I will work with our bioinformatician on this and let you know if we need any assistance.

[2017-03-16 15:52] outpaddling commented on #1962
For starters, here are the usearch commands I'm seeing in the qiime all_tests.py output:

This one is generated by rtax:

usearch --quiet --global --iddef 2 --query 1 --db /tmp/RtaxTaxonAssignerTests_lCaJLA.fasta --uc /tmp/MQuAfRVQD5/b --id 0.98 --maxaccepts 1000 --maxrejects 128 --nowordcountreject

Not sure where this one is coming from:

usearch --maxaccepts 1 --id 0.75 --queryalnfract 0.35 --b

[2017-03-17 13:25] torognes commented on #1962
The --query, --evalue and --targetalnfract options are also not recognized by vsearch. Do you know which version of usearch this is supposed to be? usearch 5.2.236 or usearch 6.1 or usearch 7?

I have created an issue in vsearch were we can continue the discussion regarding changes to vsearch: torognes/vsearch#229

[2017-03-17 20:19] outpaddling commented on #1962
These "usearch" commands would be usearch 5.2.236.  I have also installed usearch 6.1 with the executable name "usearch61", per qiime instructions.

Note that this is not a high priority need for us.  Just a "nice to have if it's easy enough" feature.  Does anyone have a notion of how long people will still be running qiime 1.x?  If you think your time is better spent integrating vsearch directly

[2017-03-27 22:50] gregcaporaso commented on #1962
@outpaddling, it is probably worth focusing on adding relevant support in QIIME 2, rather than QIIME 1. We're ramping up the available functionality in QIIME 2, and plan to stop supporting QIIME 1 in January 2018 in favor of support QIIME 2 only.

[2017-03-28 14:46] outpaddling commented on #1962
Does this mean that QIIME 2 *will* support vsearch as an alternative to usearch?  If so, you can count on us for testing and feedback.  Thanks.

[2017-03-29 05:37] patthehat033 opened #2184 "Qiime User Interface"
Hello,

As a school project, I am developing a Qiime User Interface in JAVA for Windows using SSH to access a virtualbox and run the scripts for Qiime.  This is currently for personal (educational) use.  However, when the application is finished, other Qiime users may also want to use it.  Is there certain standards and testing that would need to be done to release this to the users of Qiime?

Tha

[2017-03-29 17:22] gregcaporaso commented on #2184
Hi @patthehat033, thanks for your interest in QIIME. You might want to look into doing this for [QIIME 2](https://qiime2.org), rather than for QIIME 1, as QIIME 2 is being developed with a software development kit to explicitly support third-part developers creating their own interfaces. Also, in January of 2018 we will stop supporting QIIME 1 in favor of only supporting QIIME 2, so that might fac

[2017-03-29 17:22] #2184 closed

[2017-03-29 17:26] rob-knight commented on #2184
+1 on recommendation to target to qiime 2. This will ultimately be a lot more useful for users. Note also that we are in the process of overhauling the recommended workflow in the light of new developments (balance trees, deblur etc) so it might be useful to connect again in a couple of months. Thanks for your interest!

On Mar 29, 2017, at 10:22 AM, Greg Caporaso <notifications@github.com<mailto:

[2017-03-29 18:14] patthehat033 commented on #2184
@gregcaporaso @rob-knight Thank you for both of your responses!  I navigated through the Qiime 2 link you guys provided.  Are the original scripts from Qiime 1 still supported on Qiime 2 if you use the terminal within a VirtualBox?

[2017-03-31 12:53] trustodia commented on #1632
@prehensilecode how do we solve this problem? I need to run pick_otus.py

[2017-03-31 21:03] gregcaporaso commented on #1962
@outpaddling, QIIME 2 is plugin-based, so it can support anything that someone writes a plugin for. Unlike QIIME 1, we don't need to integrate or approve these types of methods for them to be integrated into a QIIME deployment since anyone can write and distribute plugins.

That said, it's very likely that we'll have vsearch-based clustering in a plugin before too long. We will have two plugins th

[2017-04-02 18:41] outpaddling commented on #1962
I'm discussing this two colleagues in bioinformatics who are highly qualified to help with coding and testing.  It will just be a question of whether QIIME 2 becomes a priority for them in the near future.  In any case, I can develop packages for your existing plugins to make them more visible to those using our package managers.  Thanks for the detailed info!

[2017-04-04 01:32] Biancabrown opened #2185 "Memory issues and OTU picking."
Hello,

I'm attempting to run the pick_open_reference_otus.py using uclust61. However, I keep getting the message below. Is there anyways I can get around this?

Command returned exit status: -9
Stdout:

Stderr
slurmstepd: Exceeded step memory limit at some point.

-Bianca

[2017-04-04 23:06] gregcaporaso commented on #2184
@patthehat033, the QIIME 1 scripts are not installed in the QIIME 2 virtual box, nor vice versa. QIIME 2 is a complete re-write of QIIME, and while many of the same methods exist or will exist, their interfaces are different. And as @rob-knight mentions, many methods have been replaced with more relevant, newer methods.

While it is possible to install both side-by-side (in conda environments), if

[2017-04-04 23:23] patthehat033 commented on #2184
@gregcaporaso Thank you for the response.  Is there a Windows application that will be available for Qiime 2?  That is ultimately what I want to develop.  What would be the best approach for doing that? I could not seem to locate the SDK you mentioned in the above messages.

[2017-04-04 23:23] jairideout commented on #2185
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support.

[2017-04-04 23:23] #2185 closed

[2017-04-04 23:48] jairideout commented on #2184
@patthehat033, QIIME 2 does not currently support Windows. We don't have a timeline for when Windows support will be added. Are you required to develop a native Windows application? If not, it'll be easier to write a QIIME 2 GUI that's compatible with Linux, and then distribute that interface (along with QIIME 2) in a VirtualBox image that Windows users can install. If you decide to go this route,

[2017-04-05 04:34] patthehat033 commented on #2184
@jairideout I am planning to develop a Windows application for Qiime because it is not currently supported, as you mentioned, and a lot of novice computer users have trouble with Linux but are familiar with Windows.  Most people who are using Qiime have probably become fairly experienced using Linux, but I think it could be very useful to have a Windows version floating around for anyone who wants

[2017-04-05 19:42] gregcaporaso commented on #1962
Thanks @outpaddling, let me know if you guys have any questions. We use Slack (https://slack.qiime2.org) for developer communication, so feel free to join if you guys want to get interested in development and have questions, or if you have questions about getting involved in development.

[2017-04-05 19:52] gregcaporaso commented on #1632
@prehensilecode, do you have the option to upgrade to QIIME 1.9.1? It is pretty straight-forward with our [new conda install instructions](http://qiime.org/install/install.html). I'm not sure why you're running into this issue, but we're no longer officially supporting QIIME 1.8.0 (it's a couple of years old) in favor of supporting QIIME 1.9.1. QIIME 1.9.1 has a lot of improvements over QIIME 1.8.

[2017-04-05 23:42] thermokarst commented on #2184
@patthehat033, as @gregcaporaso [mentioned above](https://github.com/biocore/qiime/issues/2184#issuecomment-290160990), there is actually a QIIME 2 [Software Development Kit](https://github.com/qiime2/qiime2/tree/master/qiime2/sdk). We are still working on documentation for this aspect of the framework, but you can see an example of it being put to use in [QIIME 2 Studio](https://docs.qiime2.org/2

[2017-04-06 08:09] anais64 opened #2186 "Pick_otus.py -m swarm doesn't take all of my reads into account"
Hello everyone
I'm working on a large sequencing data set (about 15,300,000 reads for 8.2 GB), I meeting a clustering issue using the Swarm method, knowing that Usearch61 is limited in memory (v32 bit).
The command "pick_otus.py -i non_chimeric_seqs_R2345.fasta -m swarm -o picked_otu" ends after 1:30, reaching about 3,500,000 OTUs for only about 6,300,000 total sequences.
Why does the command not

[2017-04-06 15:20] trustodia commented on #1632
How do I upgrade?, because I am currently using qimme 1.9.1. I have the latest qiime and qiime scripts.

[2017-04-06 16:12] jairideout commented on #2186
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support.

[2017-04-06 16:12] #2186 closed

[2017-04-06 16:12] jairideout commented on #1632
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support.

[2017-04-10 15:29] Acetylcholine88 opened #2187 "joining barcodes in dual-index, paired-end sequencing using fastq.join"
Hi! I am a newbie in bioinformatics/qiime and I am struggling with the analysis of my 16s Illumina run currently. I have 384 samples, 2x300bp, estimated size including primers presumably 637 (Primers are from 27F to 534R), uniquely identified by a combination of 2 barcodes (one in 5-3), (one in 3-5) and I am trying to demulitplex. Pandaseq did not work, I am copying here the error log. I used then

[2017-04-10 17:34] ajpowel opened #2188 "Modernize QIIME for installation and use with Python 3.5"
Hello,

I would like to install & use QIIME in Python 3.5 environments (both Anaconda & Canopy).

Would it be possible to modernize QIIME code to this end?

If defined, circumscribed tasks were involved in modernization steps, I could perhaps help.

All the best,

AJP

[2017-04-10 17:38] ajpowel opened #2189 "Make a modernized (i.e., Python > 3.5) QIIME friendly to fungal microbiomes"
Hello,

I am a fungal researcher, & would very much like to use QIIME to analyze my datasets, however, it seems best-suited to handing bacterial microbiomes, & performs relatively poorly w/ fungal classification analyses.  For instance, some of my collaborators have mentioned that fungal OTUs have been inappropriately "split."  Perhaps we could help with these issues...?  Many thanks & all the bes

[2017-04-10 21:03] jairideout commented on #2187
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support.

[2017-04-10 21:03] #2187 closed

[2017-04-10 21:54] gregcaporaso commented on #2188
Hi @ajpowel, This won't change for QIIME 1, but QIIME 2 is Python 3 only. We can discuss further the [QIIME 2 issue that you created](https://github.com/qiime2/qiime2/issues/247). Thanks for your interest in QIIME!

[2017-04-10 21:54] #2188 closed

[2017-04-10 22:09] jairideout commented on #2189
QIIME is not specific to bacterial microbiome analysis. Recent versions of QIIME 1 ship with Greengenes, a 16S reference database, but you can use different reference databases for other types of analyses. There's a [fungal ITS tutorial](http://qiime.org/tutorials/fungal_its_analysis.html) that illustrates how to do this. See the [resources page](http://qiime.org/home_static/dataFiles.html) for av

[2017-04-10 22:09] #2189 closed

[2017-04-11 16:52] ajpowel commented on #2189
Hello,

Is there a pip installation for QIIME 2?  I'm looking at the documentation,
& nothing leaps out.  Many thanks!

Best,

AJP

On 10 April 2017 at 16:09, Jai Ram Rideout <notifications@github.com> wrote:

--
Regards, AJP

[2017-04-11 21:05] gregcaporaso commented on #2189
@ajpowel, can you please post your question to the [QIIME 2 Forum](https://forum.qiime2.org). We provide technical support there. Thanks!

[2017-04-18 07:40] foreignsand opened #2190 "Error when attempting to install qiime on Mac OS X"
I have no idea what is happening but I get the following error when I try to install qiime:

$ pip install qiime
Collecting qiime
  Using cached qiime-1.9.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/4n/0ghjrzsd4g393zjlgxy9ympc0000gn/T/pip-build-csdegl5r/qiime/s

[2017-04-18 15:19] foreignsand commented on #2190
Just a little addendum:

I'm running El Capitan 10.11.6 and am wondering if it's an issue with the OS blocking write privileges to the /usr/bin directory. I opted to install MacQIIME after being unable to install QIIME and discovered this quirk when copying the macqiime command to /usr/bin failed. /usr/local/bin works.

[2017-04-18 18:37] jairideout commented on #2190
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support.

[2017-04-18 18:37] #2190 closed

[2017-04-19 11:57] xapple opened #2191 "Doesn't install properly on Ubuntu 16 LTS"
I just did a `sudo apt-get install qiime` on a Ubuntu 16.04.1 LTS and this is what I get when I run a command:

    xapple@webserver test $ qiime assign_taxonomy
    Traceback (most recent call last):
      File "/usr/lib/qiime/bin/assign_taxonomy.py", line 14, in <module>
        from qiime.util import (parse_command_line_parameters,
      File "/usr/lib/python2.7/dist-packages/qiime/util.py", li

[2017-04-19 12:10] antgonza commented on #2191
Could you post this kind of questions in the qiime forum: forum.qiime.org?

Note that apt-get is an officially supported qiime install, more info: http://qiime.org/install/install.html

[2017-04-19 12:10] #2191 closed

[2017-04-19 12:12] xapple commented on #2191
Don't have a google account, so no can't post there.

[2017-04-19 12:14] antgonza commented on #2191
AFAIK you don't need a Google account to join the group + they are free ...

[2017-04-19 12:16] xapple commented on #2191
Of course you have to be logged in to post in a google group.
It's not a question of account price, but a question of not having a Big Brother account.

Moreover, the thing is not a question, I'm not expecting any answer. Just informing you that users can't use your product, because they can't install it.

[2017-04-19 16:30] jairideout commented on #2191
I think @antgonza meant to say that `apt-get install qiime` **is not** an officially supported method of installation. We do not maintain nor test the `apt-get` QIIME package, and it is not referenced/recommended in our documentation. We do not provide support for this method of installation.

I recommend contacting the relevant package maintainer if you wish to provide feedback. I believe the Bio

[2017-04-21 18:45] Ros938 opened #2192 "plot_taxa_summary no html file"
HI there,
first of all thank you for developing those useful and user friendly script! I don't have much experience with this types of analysis but I am quickly learning thanks to you!
Now my question: I am running the plot_taxa_summary.py script including  -c  -s -d and -l options
Unfortunately what I get as output is a .png a pdf. file for each of the chart type selected a .js and a .css file. I

[2017-04-21 22:15] jairideout commented on #2192
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support.

[2017-04-21 22:15] #2192 closed

[2017-04-25 20:34] stamper-c commented on #1353
I am running into the same problem. I have a mapping file that contains a subset of the samples in the OTU table. Is there a way to pass the flag --ignore_missing_samples without putting it into a parameters file? The error message suggests using this flag. However, if you use the --ignore_missing_samples flag the beta_diversity_through_plots.py throws an error that there is no such option. Thanks

[2017-04-26 15:51] gregcaporaso commented on #1353
@stamper-c, can you please post your question to the [QIIME Forum](http://forum.qiime.org)? We try to address these types of technical support questions there, as it's then easier for others to find answers when they have the same questions. Thank you!

[2017-04-26 15:51] #1353 closed

[2017-05-22 20:04] ETaSky commented on #2038
Hello, I was wondering if the behaviour of -p has been adjusted according to these comments in QIIME-1.9.1? I am having some weird results (filtering out a lot of sequences of being too short). Thanks!
Jincheng

[2017-05-22 20:19] alk224 commented on #2038
It has not. Someone in the QIIME development team can speak to how to
address this issue in QIIME 2 which will be released soon.

Impulsively, it sounds like your read quality might not be great across the
length of the read. You should run fastqc on your raw fastq data to check
it. If necessary, you can use fastx_trimmer (see fastx toolkit website for
command usage) to remove junk data at the 3'

[2017-05-22 21:12] jairideout commented on #2038
@ETaSky the behavior in QIIME 1.9.1 is what is described here -- I created the issue to clarify how the parameters are actually working (and how they interact with each other).

QIIME 2 is available as alpha software, see [this page](https://forum.qiime2.org/t/should-i-be-using-qiime-2-while-its-in-alpha/413) for determining when to start using QIIME 2. Check out the [docs](https://docs.qiime2.org

[2017-05-22 21:56] ETaSky commented on #2038
Thanks, @alk224 and @jairideout!
Regarding the read quality, I actually have checked a test sample, after the merging, 99% of the reads have Q20 or higher. So it is not about quality. The problem I identified is the sequence length. A large portion of the reads are around 168 bps (V4 region, which should be 253), only a few portion are around right length. But since 253 bp may be picked by QIIME t

[2017-05-22 22:01] alk224 commented on #2038
QIIME will choose 253 only if the first read in the multiplexed fastq is
this long.

Curious about the shorter reads. This may have happened if you had small
PCR artifact during amplification. Otherwise maybe the merge settings?
Personally I like fastq-join but I think they all work about the same. You
might try a different merge program and see if the results are equivalent.

--
Andrew Krohn
PhD

[2017-05-23 06:05] walterst commented on #2038
Are these reads stitched? If so, do you get the same number of discarded
reads if you use the unstitched reads 1 as input instead?

On Tue, May 23, 2017 at 12:01 AM, alk224 <notifications@github.com> wrote:

--
Postdoctoral Researcher
Ley Lab
Department of Microbiome Science
Max Planck Institute for Developmental Biology
72076 Tübingen, Germany
For more information visit the Ley Lab Website: www.l

[2017-05-23 19:06] ETaSky commented on #2038
@alk224 Thanks! Yes, the first few sequences in the file seem to have a length of 253 bp. I suspect I had small PCR artefacts. I was not the one who did the library preparation, just got assigned to do the data analysis. I used fastq-join in QIIME. But I tried BBMerge and FLASH, the results are similar.

@walterst The Paired-ends have already been merged.

[2017-05-23 19:28] alk224 commented on #2038
Echo Tony's suggestion to check read 1 without merging the reads. That is
excellent advice.

--
Andrew Krohn
PhD Candidate, NAU Biological Sciences
Core Facility Manager, EnGGen

On Tue, May 23, 2017 at 12:06 PM, ETaSky <notifications@github.com> wrote:

[2017-05-23 20:59] ETaSky commented on #2038
@alk224 Thanks! I checked by using just Read 1. But the results are really hard to tell. This dataset has around 4 million reads, and about 1 million were filtered out for being too short, which is about 800K reads less than filtering on the merged reads. But to be honest, I don't quite follow why dosing this test would tell anything.

[2017-05-23 21:04] alk224 commented on #2038
There is some issue with your merge. Possibly due to quality, I would guess
in read 2. This thread isn't really for helping you through it so this will
be my last post, but you should check the read quality with fastqc. If your
read 2 is rather trashy, you might not want to use it. Also run fastqc on
the merged reads and see where the quality starts to tank. Use
fastx_trimmer to lop your reads bef

[2017-05-23 21:13] ETaSky commented on #2038
@alk224 Thanks! And sorry for off the topic unintentionally. Please delete my irrelevant post, if necessary.

[2017-07-05 22:28] justin212k opened #2195 "beta_significance.py doesn't respect quotes in .tre sample names"
see https://groups.google.com/forum/#!topic/qiime-forum/Uy3XUCfJLAk

[2017-07-18 02:19] rockysiu opened #2197 "Software Licence"
I am planning to install the software of Qiime for Bio-linux in my office computer. I am writing to know that whether the software is free to use for business.

[2017-07-18 07:17] ElDeveloper commented on #2197
@rockysiu QIIME is released under the GPL v2.0 license. GitHub makes these points very readable, [see here](https://github.com/biocore/qiime/blob/master/COPYING.txt).

[2017-07-21 00:26] bioinfo17 opened #2198 "assign_taxonomy.py error"

[2017-07-21 01:17] #2198 closed

[2017-08-08 12:28] eilenilec opened #2199 "Cd-hit with QIIME"
Hello,

I would like to use cd-hit for the OTU clustering of my data.
With QIIME, it is possible to use cd-hit with the "pick_otus.py" script but not with the "pick_open_reference_otus.py" one. Is there a reason for that ? Is there a way to perform open-reference clustering with cd-hit within QIIME ?
Thanks for your help,

Céline

[2017-08-08 20:44] jairideout commented on #2199
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support for QIIME 1.

[2017-08-08 20:44] #2199 closed

[2017-08-09 10:10] eilenilec commented on #2199
I cannot find a way to post a question on the QIIME 1 forum (there is no "new topic" button). :-(

[2017-08-10 03:12] hulqi opened #2200 "I have Plugin error from demux"
(qiime2-2017.7) [user@smp1 qiime2-moving-pictures-tutorial]$ qiime demux summarize --i-data demux.qza --o-visualization demux.qzv

Plugin error from demux:

  Invalid DISPLAY variable

Debug info has been saved to /tmp/qiime2-q2cli-err-0ct5ly96.log.

#######/tmp/qiime2-q2cli-err-0ct5ly96.log#############
Traceback (most recent call last):
  File "/public/agis/gaofei_group/huqi/01_software/opt/Mini

[2017-08-11 18:42] jairideout commented on #2200
Can you please post your question on the [QIIME 2 forum](http://forum.qiime2.org)? That's where we provide user support for QIIME 2 (note that this is the QIIME 1 issue tracker).

[2017-08-11 18:42] #2200 closed

[2017-08-22 01:32] myshu2017-03-14 opened #2201 "Qiime Install error : Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-cxxn7r0i/qiime/"
Hi,

Recently, I tried to install qiime on ubuntu 16.04.2 LTS following the below commands:

But there is a error when I run the `pip install qiime` .

![image](https://user-images.githubusercontent.com/26398036/29544580-c488cd9a-871b-11e7-87a8-582322004d26.png)

Do you know how to solve it? Looking for your reply. Thank you very much!

Best wishes,
Mingyue Shu

[2017-08-22 01:52] jairideout commented on #2201
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support for QIIME 1.

[2017-08-22 01:52] #2201 closed

[2017-08-22 02:15] myshu2017-03-14 commented on #2201
@jairideout Ok, Thank you for your advice.

[2017-08-25 16:10] Biancabrown opened #2202 "Losing too many reads after removing primers and joining"
Hello,

I was hoping someone on this thread could help. I am currently going through the pipeline and I realize after I use the multiple_extract_barcode.py script to remove my primers(the primers I used to amplify the 16srRNA gene) I have <10% overlap when I join my reads.

For removing barcodes I used the following parameters and  codes:

multiple_extract_barcodes.py -i reads -p 1_barcode_removal

[2017-08-25 19:01] jairideout commented on #2202
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support for QIIME 1.

[2017-08-25 19:01] #2202 closed

[2017-09-08 23:12] ruchan opened #2203 "Unable to Generated Google Key for mapping file on BaseSpace App"
A user was trying to start a QIIME Visualization app session on BaseSpace, but was unable to start analysis. The specific error is: "This is not a valid spreadsheet keey, please revise the documentation in this tutorial: http://qiime.org/tutorials/remote_mapping_files.html"

After some digging, it looks like Google Docs does not provide the 44-digit API key when publishing to the web. key= is no l

[2017-09-11 16:45] ElDeveloper commented on #2203
@ruchan you are correct, the workaround for this is to use the 44 characters found in the URL. For example for this URL:

[code]

You would use: `1b-mmbmp695Dtjkral4F6kJVE7jaKeQ_uB1KcfW7z26s`.

[2017-09-11 17:53] ruchan commented on #2203
Sadly, that was the one place that I didn't search for when looking for a 44-characters.

Thanks!

[2017-10-13 15:49] #1037 closed

[2017-10-23 19:22] Acetylcholine88 opened #2204 "Trying to convert txt. file to biom file"
Can someone help?

Tried the following command:

biom convert -i OTU_original.txt -o OTU_original.biom --table-type "OTU table" --to-hdf5 --process-obs-metadata taxonomy

this is what I got:

biom convert: error: option -i: file does not exist: 'OTU.txt'

-bash-4.2$ biom convert -i OTU_original.txt -o OTU_original.biom --table-type "OTU table" --process-obs-metadata taxonomy

Traceback (most recen

[2017-10-23 22:16] jairideout commented on #2204
Can you post this on the [biom-format issue tracker](https://github.com/biocore/biom-format/issues)?
 Thanks!

[2017-10-23 22:16] #2204 closed

[2017-10-24 22:39] colinbrislawn commented on #1939
Hello Colleen,

Because scikit-bio only adds the two unifrac distances, it only documents those. Other measures and matrices are imported from [scipy.spatial.distance.pdist](https://docs.scipy.org/doc/scipy-0.19.1/reference/generated/scipy.spatial.distance.pdist.html) and are documented over there.

I could not find any direct documentation for UniFrac gain / Gain in PD. Is this implemented in Qii

[2017-10-26 17:20] apascualgarcia opened #2205 "filter_$(otus/samples)_from_otu_table.py do not work, returned error: object dtype dtype('O') has no native HDF5 equivalent"
I'm trying to use **filter_otus_from_otu_table.py** and  **filter_samples_from_otu_table.py** with no success. The three files needed to reproduce the issues are here: [test2git.zip](https://github.com/biocore/qiime/files/1419249/test2git.zip).

If I start trying to filter with a file containing just one observation (contained in prueba.txt) it works:

`$ filter_otus_from_otu_table.py -i otu.2test

[2017-10-26 17:26] jairideout commented on #2205
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support for QIIME 1.

[2017-10-26 17:26] #2205 closed

[2017-10-26 17:44] apascualgarcia commented on #2205
Sure, although it may be an issue with biom-format (not specific of qiime1 only?)

[2017-10-26 18:03] jairideout commented on #2205
The QIIME 1 Forum is likely your best bet because you have a mixture of QIIME 1 and biom-format commands, but you could instead try the [biom-format issue tracker](https://github.com/biocore/biom-format/issues). Please don't post in both locations, many of the same developers monitor both. Either way, we don't provide user support for QIIME 1 or biom-format on this issue tracker. Thanks!

[2017-10-26 21:52] apascualgarcia commented on #2205
Sorry that I still answer here but I think it would be useful to post the following as it clarifies the problem, just in case someone find it here.

I've been able to perform the filtering making some collage of the code is used in picrust to deal with these matrices. It confirms that the problem comes from the metadata:
[code]

[2017-11-14 08:53] genetalks-fred opened #2206 "What's the difference between collapsed modes "mean vs sum""
It's may be a stupid question, I'm confused with the difference of collapsed modes, Use sum or mean method collapsed sample's counts in to Groups, the relative abundance of bacterias should be concord or am i misunderstand?
thanks for help!

[2017-11-14 19:51] jairideout commented on #2206
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support for QIIME 1.

[2017-11-14 19:51] #2206 closed

[2017-11-20 17:33] domi84 commented on #280
Hi Guys,
Any news about this metric?
It's quite useful in Biology. It's a shame that any scientific python module don't support it.
I am trying to use it in combination with k-medoids/PAM clustering (there are some python modules supporting this clustering, but with the classical euclidean distance).

[2017-11-21 16:20] gregcaporaso commented on #280
There are no updates (as far as I'm aware) unfortunately. If this were to be added to scikit-bio, it would be accessible through QIIME 2 (note that all development effort is now focused on QIIME 2, not QIIME 1).

@domi84, would you be interested in opening an issue for this on the scikit-bio issue tracker?

[2017-11-22 06:39] walterst opened #2207 "Fix zero length barcode options for extract_barcodes.py"
Specifically, the slicing approach of these lines:
https://github.com/biocore/qiime/blob/master/qiime/extract_barcodes.py#L412
https://github.com/biocore/qiime/blob/master/qiime/extract_barcodes.py#L414

creates a problem with the length of the barcode is zero, should be adjusted to use the len(sequence)-length of barcode to handle all cases.

[2017-11-23 11:28] domi84 commented on #280
@gregcaporaso Thanks, I will.

[2017-11-26 18:39] KeironO opened #2208 "Error constructing CommandLineAppResult - assign_taxonomy.py"
Command:
[code]

Returns

[code]

[2017-11-28 18:44] jairideout commented on #2208
Can you please post your question on the [QIIME 1 forum](http://forum.qiime.org)? That's where we provide user support for QIIME 1.

[2017-11-28 18:44] #2208 closed

[2017-11-28 21:09] colinbrislawn commented on #2177
Yep, this is known issue #1515

I'm not sure what's the current workaround.

[2017-11-28 21:10] antgonza commented on #1515
Just saw, this mentioned in a Qiime1 forum post. A possible solution is:
export TMPDIR=[your folder]

[2017-11-29 20:20] #280 closed

[2017-12-05 06:14] wdwvt1 opened #2209 "significant unexpected behavior in `split_sequence_file_on_sample_ids.py`"
I know QIIME1 support ends soon, but I wanted to record this information somewhere in case people still using it run in to this problem. This also seems like a reasonably serious unexpected behavior because it can result in serious downstream errors.

Using the `split_sequence_file_on_sample_ids.py` script, if you supply an input `fasta` file but set the option `--file_type fastq`, the script will

[2017-12-05 13:32] antgonza commented on #2209
Thanks for reporting. Just out of curiosity, are you sure the problem is QIIME1 and not another library, like skbio? I'm a bit concern that the bug still exists somewhere else ...

[2018-01-05 16:16] albacrespi opened #2210 "Broken links"
There is a significant number of links in the documentation that are broken.
I point out some examples only:

https://github.com/biocore/qiime/blob/master/doc/documentation/script_index.rst
it says "This page has moved HERE" and here is pointing to non-existing page: https://github.com/biocore/qiime/blob/master/doc/scripts/index.html

https://github.com/biocore/qiime/blob/1.9.1/doc/tutorials/proce

[2018-02-15 10:16] shrutidabral opened #2211 "split_libraries.py -- issue"
hi,
I m using QIIME for OTU identification.
I have raw paired fastq files.

i do not have any information of barcode and linker primer .So i decided to create a barcode file using extract_barcodes.py  script. this command run sucessfully and as a result i got three files read1.fastq resd2.fastq and barcodes.fastq.

command i used is --
extract_barcodes.py --input_type barcode_paired_end -f CIM_R1.

[2018-03-22 22:02] skirakodu commented on #2203
what would be the 44 letter key in the following link

https://docs.google.com/spreadsheets/d/e/2PACX-1vTCEb77cVDX9EshEIMnhx1LhmQDR7U2D-yTlooiGCugSNHs72gaQEjFzhf-SPwNk_ZrM6PP6GqQxWT0/pubhtml

[2018-03-22 22:12] skirakodu commented on #2203
Is this fixed?

[2018-03-30 21:10] drish91 commented on #2058
Did this ever get answered? I'm getting a similar error and am not sure how to proceed!

[2018-04-11 13:45] owainkenwayucl opened #2212 "Qiime's requirements result in pip trying to install a broken version of emperor"
I've been re-running some of our old install scripts to test them and I've run across a problem one of my colleagues reported to the emperor developers here:

https://github.com/biocore/emperor/issues/631

Basically, something has changed in `pip`/`setuptools` which means that emperor 0.9.60 doesn't install successfully from `pip`/pypi.

The emperor devs are working on/have fixed this in 1.x, but

[2018-04-11 14:29] ElDeveloper commented on #2212
Thanks for reporting this @owainkenwayucl! I pushed a patch to fix this problem in the new version of emperor (https://github.com/biocore/emperor/pull/637), however as you note this would have to be backported to fix the problem for QIIME 1.9.x. I'll look into this and see how bad would it be to do that.

[2018-04-11 21:17] ElDeveloper commented on #2212
I had to update a number of things in our CI build, but all in all it wasn't too bad, this was solved in https://github.com/biocore/emperor/pull/661 . I've pushed out a new maintenance release. Feel free to reopen the issue if you encounter any problems.

[2018-04-11 21:17] #2212 closed, assigned to nobody

[2018-04-12 09:22] owainkenwayucl commented on #2212
Thanks for this - I'll do a test when I get a chance later today!

[2018-04-12 10:38] owainkenwayucl commented on #2212
I've done a test and this is indeed working.

Thanks again for your help :)

[2018-04-26 10:40] srmacben opened #2213 "Problems with 454 Overview Tutorial: de novo OTU picking and diversity analyses using 454 data in Qiime 1.9.1 VirtualBox"
Hello, I am a novice in performing bioinformatic analysis and therefore in the use of tools such as qiime.
I recently installed on my computer qiime 1.9.1 VirtualBox, following the recommendations that appear on qiime web and other tutorials.
I installed the last version of Oracle VirtualBox for Windows, I created the virtual machine for qiime, and my problem arose when I tried to install the VB G

[2018-04-26 10:42] #2213 closed, assigned to nobody

[2018-05-11 14:11] 341996 opened #2214 "Multiple input file without barcode"
We downloaded clustered rDNA files from MG-RAST and we would like to annotate samples but the first step "split_libraries.py" is asking for mapping file for barcodes to demultiplex sequences. Since we don't have already demultiplexed sequences we would like to proceed to "pick_otu" step. How can we provide mapping file without using "split_libraries.py"
It was suggested [elsewhere](https://www.res